<a href="https://colab.research.google.com/github/niralakumar/practice/blob/main/Problems_Challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 16 - Rahul Upadhya Bigdata - Python 90 Days Problems Challenges

In [ ]:
# https://www.onlinelearningcenter.in/blog

# 90.

ðŸ’» Write a function which takes "List of Integers" as input and returns "List of Strings" such that each element has numbers from 1 to input element - as shown in the samples.
Note: Input number will always be greater than 0.

getFrom1(List(1,5,3,4)) = List(1,12345,123,1234)

getFrom1(List(10,6,7)) = List(12345678910,123456,1234567)

getFrom1(List(2,3,9)) = List(12,123,123456789)

getFrom1(List()) = List()

In [ ]:
# Revision : 13-08-2023

def print_num(l):

    f=[]

    for i in l:
        s=''
        for j in range(1,i+1):
            s+=str(j)
        f.append(s)

    return f

In [ ]:
a=[1,2,5]
print_num(a)

['1', '12', '12345']

In [ ]:
print(print_num([1,5,3,4]))
print(print_num([10,6,7]))
print(print_num([2,3,9]))
print(print_num([]))

['1', '12345', '123', '1234']
['12345678910', '123456', '1234567']
['12', '123', '123456789']
[]

In [ ]:
def getFrom1(l):

    output=[]

    for i in l:
        s=''
        for j in range(1,i+1):
            s+=str(j)
        output.append(s)

    return output

In [ ]:
print(getFrom1([1,5,3,4]))
print(getFrom1([10,6,7]))
print(getFrom1([2,3,9]))
print(getFrom1([]))

['1', '12345', '123', '1234']
['12345678910', '123456', '1234567']
['12', '123', '123456789']
[]

# 89.

ðŸ’» Write a function which takes "Array of Strings" as input and returns "String" such that it has the most occurring character in entire set - as shown in the samples.
Note: - If more than one character occurs max number of times, return all of them.
-Only alphabets a-z is to be considered, case insensitive.

getMostOccurring(Array("Indore","Chennai","Nashik","Patna")) = "n"
//Explanation: "n" occurs 5 times overall.

getMostOccurring(Array("Jalebi","Sandesh","Laddoo","Barfi","Kalakand")) = "a"
//Explanation: "a" occurs 7 times overall.

getMostOccurring(Array("Coffee")) = "fe"
//Explanation: "fe" occurs 2 times overall.

In [ ]:
def getMostOccurring(l):

    temp=''
    d={}
    f=''

    for i in l:
        temp+=i.lower()

    for i in temp:
        if i in d:
            d[i]+=1
        else:
            d[i]=1

    maxkey = max(d.values())

    for k,v in d.items():
        if v==maxkey:
            f+=k

    return f

In [ ]:
a=["Indore","Chennai","Nashik","Patna"]
getMostOccurring(a)

'n'

In [ ]:
print(getMostOccurring(["Indore","Chennai","Nashik","Patna"]))
print(getMostOccurring(["Jalebi","Sandesh","Laddoo","Barfi","Kalakand"]))
print(getMostOccurring(["Coffee"]))

n
a
fe

In [ ]:
def getMostOccurring(l):

    d={}
    s=''
    for i in l:
        for j in i:
            if j.lower() in d:
                d[j.lower()]+=1
            else:
                d[j.lower()]=1

    max_count = max(d.values())

    for k,v in d.items():
        if v==max_count:
            s+=k
    return s

In [ ]:
print(getMostOccurring(["Indore","Chennai","Nashik","Patna"]))
print(getMostOccurring(["Jalebi","Sandesh","Laddoo","Barfi","Kalakand"]))
print(getMostOccurring(["Coffee"]))

n
a
fe

# 88.

ðŸ’» Write a function which takes "List of Array of numbers" as input and returns "Int" such that it is the overall average of all the numbers - as shown in the samples.

getAverage(List(Array(10,20,30),Array(5),Array(55,100))) = 36.67
//Explanation: 10+20+30+5+55+100 => 220/6 = 36.67

getAverage(List(Array(100,100),Array(200),Array(300,200))) = 180
//Explanation: 100+100+200+300+200 => 900/5 = 180

getAverage(List(Array())) = 0

In [ ]:
def getAverage(l):

    cnt=0
    total=0

    for i in l:
        for j in i:
            total+=j
            cnt+=1
    try:
        return total/cnt
    except Exception as e:
        return 0

In [ ]:
print(getAverage([[10,20,30],[5],[55,100]]))
print(getAverage([[100,100],[200],[300,200]]))
print(getAverage([[]]))

36.666666666666664
180.0
0

In [ ]:
def getAverage(l):

    cnt=0
    total=0

    for i in l:
        total+=sum(i)
        cnt+=len(i)
    try:
        return round(total/cnt,2)
    except Exception as e:
        return 0

In [ ]:
print(getAverage([[10,20,30],[5],[55,100]]))
print(getAverage([[100,100],[200],[300,200]]))
print(getAverage([[]]))

36.67
180.0
0

In [ ]:
def getAverage(l):
    tot,cnt=0,0

    for i in l:
        if len(i)>0:
            for j in i:
                cnt+=1
                tot+=j
        else:
            return 0

    return round((tot/cnt),2)

In [ ]:
print(getAverage([[10,20,30],[5],[55,100]]))
print(getAverage([[100,100],[200],[300,200]]))
print(getAverage([[]]))

36.67
180.0
0

In [ ]:
def getAvg(l):
    x = [ j for i in l for j in i ]

    if len(x)>0:
        return round((sum(x)/len(x)),2)
    else:
        return 0

In [ ]:
print(getAvg([[10,20,30],[5],[55,100]]))
print(getAvg([[100,100],[200],[300,200]]))
print(getAvg([[]]))

36.67
180.0
0

# 87.

ðŸ’» Write a function which takes "Map of String,Int" as input and returns "Int" such that its largest value present in the value part of the input map - as shown in the samples.

getMaxAmt(Map("Pawan"->5000,"Kiran"->2500,"Rajat"->8000,"Ajay"->1200)) = 8000

getMaxAmt(Map("Srinivas"->9800,"Yogesh"->5300,"Shubham"->7500)) = 9800

getMaxAmt(Map("Aswini"->7300,"Prajot"->8100,"Shivangi"->8300,"Komal"->8000)) = 8300

In [ ]:
def getMaxAmt(d):
    return max(d.values())

In [ ]:
print(getMaxAmt({'Pawan':5000,'Kiran':2500,'Rajat':8000,'Ajay':1200}))
print(getMaxAmt({'Srinivas':5000,'Yogesh':5300,'Shubham':7500}))
print(getMaxAmt({'Aswini':7300,'Prajot':8100,'Shivangi':8300,'Komal':8300}))

8000
7500
8300

In [ ]:
def getMaxAmt(d):
    return max(d.values())

In [ ]:
print(getMaxAmt({'Pawan':5000,'Kiran':2500,'Rajat':8000,'Ajay':1200}))
print(getMaxAmt({'Srinivas':5000,'Yogesh':5300,'Shubham':7500}))
print(getMaxAmt({'Aswini':7300,'Prajot':8100,'Shivangi':8300,'Komal':8300}))

8000
7500
8300

# 86.

ðŸ’» Write a function which takes "List of string" & string (which is search_string) as inputs and returns "List of string" such that output has elements that has the search_string anywhere in the string - as shown in the samples.

getRequiredStr(List("Chair","Table","Beach","Break"),"ch") =
List("Chair","Beach")

getRequiredStr(List("Maths","Science","Cycle"),"Ki") =
List()

getRequiredStr(List("Rural","Prior","Rally","Melody","Viral"),"Ral") =
List("Rural","Rally","Viral")

In [ ]:
def getRequiredStr(l,search):

    f=[]
    for i in l:
        if search.lower() in i.lower():
            f.append(i)

    return f

In [ ]:
print(getRequiredStr(["Chair","Table","Beach","Break"],"ch"))
print(getRequiredStr(["Maths","Science","Cycle"],"Ki"))
print(getRequiredStr(["Rural","Prior","Rally","Melody","Viral"],"Ral"))

['Chair', 'Beach']
[]
['Rural', 'Rally', 'Viral']

In [ ]:
def getRequiredStr(l,search):

    f = [ i for i in l if search.lower() in i.lower() ]

    return f

In [ ]:
print(getRequiredStr(["Chair","Table","Beach","Break"],"ch"))
print(getRequiredStr(["Maths","Science","Cycle"],"Ki"))
print(getRequiredStr(["Rural","Prior","Rally","Melody","Viral"],"Ral"))

['Chair', 'Beach']
[]
['Rural', 'Rally', 'Viral']

In [ ]:
def getRequiredStr(l,search):

    output=[]
    for i in l:
        if search.lower() in i.lower():
            output.append(i)

    return output

In [ ]:
print(getRequiredStr(["Chair","Table","Beach","Break"],"ch"))
print(getRequiredStr(["Maths","Science","Cycle"],"Ki"))
print(getRequiredStr(["Rural","Prior","Rally","Melody","Viral"],"Ral"))

['Chair', 'Beach']
[]
['Rural', 'Rally', 'Viral']

# 85.

ðŸ’» Write a function which takes a "Map of Int,String" as input and returns "Map of Int,String" such that output has elements with keys which are multiples of 3 - as shown in the samples.

getMult3(Map(4->"Dev",3->"Rishita",8->"Vivek",18->"Anuradha",24->"Mangal")) =
Map(3->"Rishita",18->"Anuradha",24->"Mangal")

getMult3(Map(19->"Ritu",27->"Siddhi",12->"Vishal",5->"Neha")) =
Map(27->"Siddhi",12->"Vishal")

getMult3(Map(38->"Priti",44->"Nikhil",82->"Shivam",95->"Supriya")) =
Map()

In [ ]:
def getMult3(d):
    f = { key:value for key,value in d.items() if key%3==0}
    return f

In [ ]:
print( getMult3({4:"Dev",3:"Rishita",8:"Vivek",18:"Anuradha",24:"Mangal"}) )
print( getMult3({19:"Ritu",27:"Siddhi",12:"Vishal",5:"Neha"}) )
print( getMult3({38:"Priti",44:"Nikhil",82:"Shivam",95:"Supriya"}) )

{3: 'Rishita', 18: 'Anuradha', 24: 'Mangal'}
{27: 'Siddhi', 12: 'Vishal'}
{}

In [ ]:
def getMult3(d):

    output={}
    for k,v in d.items():
        if k%3==0:
            output[k]=v

    return output

In [ ]:
print( getMult3({4:"Dev",3:"Rishita",8:"Vivek",18:"Anuradha",24:"Mangal"}) )
print( getMult3({19:"Ritu",27:"Siddhi",12:"Vishal",5:"Neha"}) )
print( getMult3({38:"Priti",44:"Nikhil",82:"Shivam",95:"Supriya"}) )

{3: 'Rishita', 18: 'Anuradha', 24: 'Mangal'}
{27: 'Siddhi', 12: 'Vishal'}
{}

# 84.

ðŸ’» Write a function which takes a "String" (which is a sentence) as input and returns "String" such that for every word the first & last character is capitalized, the intermediate characters will retain their case - as shown in the samples.

getCapitalized("Hello my name is Jitu") =
"HellO MY NamE IS JitU"

getCapitalized("That one is CamelCase") =
"ThaT OnE IS CamelCasE"

getCapitalized("Keep Going") =
"KeeP GoinG"

In [ ]:
def getCapitalized(s):

    temp=s.split()
    f=[]

    for i in temp:
        f.append(i[0].upper()+i[1:-1]+ i[-1].upper())

    return ' '.join(f)

In [ ]:
print(getCapitalized("Hello my name is Jitu"))
print(getCapitalized("That one is CamelCase"))
print(getCapitalized("Keep Going"))

HellO MY NamE IS JitU
ThaT OnE IS CamelCasE
KeeP GoinG

In [ ]:
def getCapitalized(s):

    output=[]
    temp=s.split()

    for i in temp:
        x=''
        for j in range(len(i)):
            if j==0 or j==len(i)-1:
                x+=i[j].upper()
            else:
                x+=i[j]
        output.append(x)

    return ' '.join(output)

In [ ]:
print(getCapitalized("Hello my name is Jitu"))
print(getCapitalized("That one is CamelCase"))
print(getCapitalized("Keep Going"))

HellO MY NamE IS JitU
ThaT OnE IS CamelCasE
KeeP GoinG

In [ ]:
def getCapitalized2(s):

    output=[]
    temp=s.split()

    for i in temp:
        output.append(i[0].upper()+i[1:len(i)-1]+i[-1].upper())
    return ' '.join(output)

In [ ]:
print(getCapitalized2("Hello my name is Jitu"))
print(getCapitalized2("That one is CamelCase"))
print(getCapitalized2("Keep Going"))

HellO MY NamE IS JitU
ThaT OnE IS CamelCasE
KeeP GoinG

# 83.

ðŸ’» Write a function which takes a "String" (which is word containing only alphabets) as input and returns "String" such that every alphabet is replaced by next alphabet - as shown in the samples.
Note: For "z", consider next character to be '$'.

getNextAlpha("cupboard") = "dvqcpbse"

getNextAlpha("watch") = "xbudi"

getNextAlpha("zebra") = "$fcsb"

In [ ]:
ord('a')

97

In [ ]:
def getNextAlpha(s):
    f=''

    for i in s:
        if i!='z':
            x=ord(i)
            f+=chr(x+1)
        else:
            f+='$'
    return f

In [ ]:

print( getNextAlpha("cupboard") )
print( getNextAlpha("watch") )
print( getNextAlpha("zebra") )

dvqcpbse
xbudi
$fcsb

In [ ]:
def getNextAlpha(s):

    temp=''
    for i in s:
        if i=='z':
            temp+='$'
        else:
            temp+=chr(ord(i)+1)
    return temp

In [ ]:
print( getNextAlpha("cupboard") )
print( getNextAlpha("watch") )
print( getNextAlpha("zebra") )

dvqcpbse
xbudi
$fcsb

# 82.

ðŸ’» Write a function which takes a "Array of Integers" as input and returns "Array of Integers" such that even-position elements are multiplied by 2 & odd position elements are incremented by 2 - as shown in the samples.
Note: Starting position is considered as 0.

updateBy2(Array(2,3,4,1,5)) = Array(4,5,8,3,10)
//Explanation: Array(2*2,3+2,4*2,1+2,5*2)

updateBy2(Array(1,2)) = Array(2,4)
//Explanation: Array(1*2,2+2)

updateBy2(Array(0,0,2,2)) = Array(0,2,4,4)
//Explanation: Array(0*2,0+2,2*2,2+2)

In [ ]:
def updateBy2(l):

    f=[]
    for i in range(len(l)):
        if i%2==0:
            f.append(l[i]*2)
        else:
            f.append(l[i]+2)
    return f

In [ ]:
print( updateBy2([2,3,4,1,5]))
print( updateBy2([1,2]) )
print( updateBy2([0,0,2,2])  )

[4, 5, 8, 3, 10]
[2, 4]
[0, 2, 4, 4]

In [ ]:
def updateBy2(l):
    x = [l[i]*2 if i%2==0 else l[i]+2 for i in range(len(l))]
    return x

In [ ]:
print( updateBy2([2,3,4,1,5]))
print( updateBy2([1,2]) )
print( updateBy2([0,0,2,2])  )

[4, 5, 8, 3, 10]
[2, 4]
[0, 2, 4, 4]

In [ ]:
def updateBy2(l):

    output=[]
    for i in range(len(l)):
        if i%2==0:
            output.append(l[i]*2)
        else:
            output.append(l[i]+2)
    return output

In [ ]:
print( updateBy2([2,3,4,1,5]))
print( updateBy2([1,2]) )
print( updateBy2([0,0,2,2])  )

[4, 5, 8, 3, 10]
[2, 4]
[0, 2, 4, 4]

In [ ]:
updateBy2_ = lambda l : [ l[i]*2 if i%2==0 else l[i]+2 for i in range(len(l)) ]

In [ ]:
print( updateBy2_([2,3,4,1,5]))
print( updateBy2_([1,2]) )
print( updateBy2_([0,0,2,2])  )

[4, 5, 8, 3, 10]
[2, 4]
[0, 2, 4, 4]

# 81.

ðŸ’» Write a function which takes a "string" as input such that it contains comma-separated values & return "Array of String" such that the empty values are removed - as shown in the samples.

getItems("Cake,Candle,,,,Honey") =
Array("Cake","Candle","Honey")

getItems(",,,,,,,,,,") = Array()

getItems(",Cellphone,,,Camera,Pen,,,,Bag,) =
Array("Cellphone","Camera","Pen","Bag")

In [ ]:
def getItems(s):
    f=[]
    temp=s.split(',')

    for i in temp:
        if len(i)!=0:
            f.append(i)
    return f

In [ ]:
print(getItems("Cake,Candle,,,,Honey"))
print(getItems(",,,,,,,,,,"))
print(getItems(",Cellphone,,,Camera,Pen,,,,Bag,"))

['Cake', 'Candle', 'Honey']
[]
['Cellphone', 'Camera', 'Pen', 'Bag']

In [ ]:
def getItems(s):
    x= s.split(",")
    final=[]
    for i in x:
        if i!='':
            final.append(i)
    return final

In [ ]:
print(getItems("Cake,Candle,,,,Honey"))
print(getItems(",,,,,,,,,,"))
print(getItems(",Cellphone,,,Camera,Pen,,,,Bag,"))

['Cake', 'Candle', 'Honey']
[]
['Cellphone', 'Camera', 'Pen', 'Bag']

In [ ]:
s="Cake,Candle,,,,Honey"
x=[i for i in s.split(",") if i!='']
x

['Cake', 'Candle', 'Honey']

In [ ]:
s="Cake,Candle,,,,Honey"
x=[i for i in s.split(",") if len(i)>1]
x

['Cake', 'Candle', 'Honey']

# 80.

ðŸ’» Write a function which takes a "string" as input and returns "string" such that it contains [upper case of 4th & 5th character of input string in the front] and then [the input string as it is] followed by [upper case of 4th & 5th character of the input string] - as shown in the samples.
Note: If any of the 4th or 5th character is not present, use @ instead.

getReqStr("Tsunami") = "NATsunamiNA"
getReqStr("Sun") = "@@Sun@@"
getReqStr("Book") = "K@BookK@"
getReqStr("Thunderstorm") = "NDThunderstormND"

In [ ]:
def getReqStr(s):

    f=''
    if len(s)>4:
        f=s[3].upper()+s[4].upper()+s+s[3].upper()+s[4].upper()
    elif len(s)==4:
        f=s[3].upper()+'@'+s+s[3].upper()+'@'
    elif len(s)<=3:
        f=2*'@'+s+2*'@'
    return f

In [ ]:
print( getReqStr("Tsunami") )
print( getReqStr("Sun") )
print( getReqStr("Book") )
print( getReqStr("Thunderstorm") )

NATsunamiNA
@@Sun@@
K@BookK@
NDThunderstormND

In [ ]:
def getReqStr(s):
    n=len(s)
    if n>4:
        final=s[3:5].upper()+s+s[3:5].upper()
    elif n<4:
        final='@@'+s+'@@'
    else:
        final=s[3:5].upper()+'@'+s+s[3:5].upper()+'@'
    return final

In [ ]:
print( getReqStr("Tsunami") )
print( getReqStr("Sun") )
print( getReqStr("Book") )
print( getReqStr("Thunderstorm") )

NATsunamiNA
@@Sun@@
K@BookK@
NDThunderstormND

In [ ]:
def getReqStr2(s):
    fourth = s[3].upper() if len(s) >= 4 else "@"
    fifth = s[4].upper() if len(s) >= 5 else "@"
    return f"{fourth}{fifth}{s}{fourth}{fifth}"

In [ ]:
print( getReqStr2("Tsunami") )
print( getReqStr2("Sun") )
print( getReqStr2("Book") )
print( getReqStr2("Thunderstorm") )

NATsunamiNA
@@Sun@@
K@BookK@
NDThunderstormND

In [ ]:
def getReqStr2(input_string):
    if len(input_string) >= 5:
        fourth_char = input_string[3].upper()
        fifth_char = input_string[4].upper()
    else:
        fourth_char = fifth_char = "@"

    result = f"{fourth_char}{fifth_char}{input_string}{fourth_char}{fifth_char}"
    return result

In [ ]:
print( getReqStr2("Tsunami") )
print( getReqStr2("Sun") )
print( getReqStr2("Book") )
print( getReqStr2("Thunderstorm") )

NATsunamiNA
@@Sun@@
@@Book@@
NDThunderstormND

# 79.

ðŸ’» Write a function which takes a "string" as input which represents comma-separated choices. We need to return "Array of Strings" such that the most occurring choice is at the front and least occurrence choice at the end. Elements occurring for the same number of times, should be ordere d based on choice name in ascending order - as shown in the samples.

getChoiceList("Sachin,Ganguly,Sachin,Dravid,Ganguly,Dhoni,Sachin,Ganguly,Sachin,Dhoni,Sachin") =
Array("Sachin","Ganguly","Dhoni","Dravid")

getChoiceList(List("Tiger,Sheep,Tiger,Cat,Cat,Cat,Goat")) =
Array("Cat","Tiger","Goat","Sheep")

getChoiceList("Idea,Jio,Jio,Jio,Jio,Airtel,Jio,Jio,Jio,Airtel")) =
Array("Jio","Airtel","Idea")

In [ ]:
def getChoiceList(s):

    temp=s.split(',')
    d={}

    for i in temp:
        if i in d:
            d[i]+=1
        else:
            d[i]=1

    x = sorted(d.items(), key=lambda x: (-x[1],x[0]) )
    #x = sorted(d.items(), key=lambda x: (x[1],x[0]), reverse=True )
    x = [ i[0] for i in x ]

    return x

In [ ]:
print( getChoiceList("Tiger,Sheep,Tiger,Cat,Cat,Cat,Goat") )
print( getChoiceList("Idea,Jio,Jio,Jio,Jio,Airtel,Jio,Jio,Jio,Airtel") )
print( getChoiceList("Sachin,Ganguly,Sachin,Dravid,Ganguly,Dhoni,Sachin,Ganguly,Sachin,Dhoni,Sachin") )

['Cat', 'Tiger', 'Goat', 'Sheep']
['Jio', 'Airtel', 'Idea']
['Sachin', 'Ganguly', 'Dhoni', 'Dravid']

In [ ]:
def getChoiceList(s):
    d={}
    final=[]
    s=s.split(",")
    for i in s:
        if i in d:
            d[i]+=1
        else:
            d[i]=1

    sorted_choices = sorted(d.items(), key=lambda x: (-x[1], x[0]))
    sorted_choices = [choice[0] for choice in sorted_choices]

    return sorted_choices

In [ ]:
print( getChoiceList("Tiger,Sheep,Tiger,Cat,Cat,Cat,Goat") )
print( getChoiceList("Idea,Jio,Jio,Jio,Jio,Airtel,Jio,Jio,Jio,Airtel") )
print( getChoiceList("Sachin,Ganguly,Sachin,Dravid,Ganguly,Dhoni,Sachin,Ganguly,Sachin,Dhoni,Sachin") )

['Cat', 'Tiger', 'Goat', 'Sheep']
['Jio', 'Airtel', 'Idea']
['Sachin', 'Ganguly', 'Dhoni', 'Dravid']

# 78

ðŸ’» Write a function which takes "Array of Integers" as input and returns true if every occurrence of element 8 has a neighbour 8 towards its left or right - as shown in the samples.

check8pair(Array(1,5,8,8,9)) = true
check8pair(Array(4,9,3,8,0,8)) = false
check8pair(Array(8,8,2,8,8)) = true
check8pair(Array(9,0)) = true
check8pair(Array(8,8,8,5,8,2,8)) = false

In [ ]:
def check8pair(l):
    n=len(l)
    flg=False

    for i in range(n):
        if l[i]==8:
            if i>0 and l[i-1]==8:
                continue
            elif i<n-1 and l[i+1]==8:
                continue
            return False
    return True

In [ ]:
print( check8pair([1,5,8,8,9]) )
print( check8pair([4,9,3,8,0,8]) )
print( check8pair([8,8,2,8,8]) )
print( check8pair([9,0]) )
print( check8pair([8,8,8,5,8,2,8]) )

True
False
True
True
False

In [ ]:
def check8pair2(l):
    n=len(l)

    for i in range(n):
        if l[i]==8:
            if i>0 and l[i-1]==8:
                continue
            elif (i<n-1 and l[i+1]==8):
                continue
            else:
                return False
    return True

In [ ]:
print( check8pair2([1,5,8,8,9]) )
print( check8pair2([4,9,3,8,0,8]) )
print( check8pair2([8,8,2,8,8]) )
print( check8pair2([9,0]) )
print( check8pair2([8,8,8,5,8,2,8]) )

True
False
True
True
False

In [ ]:
def check8pair(l):
    n=len(l)

    for i in range(n):
        if l[i]==8:
            if l[i-1]==8 or l[i+1]==8:
                continue
            return False
    return True

In [ ]:
print( check8pair([1,5,8,8,9]) )
print( check8pair([4,9,3,8,0,8]) )
print( check8pair([8,8,2,8,8]) )
print( check8pair([9,0]) )
print( check8pair([8,8,8,5,8,2,8]) )

True
False
True
True
False

# 77

ðŸ’» Write a function which takes 2 inputs "Map of String,Integer" representing item,price & "Integer" representing the budget. We need to return "Tuple of Integer,Integer" representing the total_expenditure_done,no_of_items - as shown in the samples.
Note: We need to maximize no_of_items to get as many items as possible in the given budget.

purchaseItems(Map("Apple"->220,"Cherry"->600,"Lemon"->70,"Mosambi"->60,"Mango"->70),250) =
(200,3)
//Explanation: In 250, we can purchase Mosambi(60)+Lemon(70)+Mango(70)=200 rs, 3 quantity

purchaseItems(Map("Apple"->220,"Cherry"->600,"Lemon"->70,"Mosambi"->60,"Mango"->70),50) =
(0,0)
//Explanation: In 50, we cannot purchase any item=>0 rs expenditure, 0 quantity

purchaseItems(Map("Rose"->5,"Lotus"->100,"Jasmine"->42,"Lotus"->64,"Orchid"->9,"Marigold"->35),100) =
(91,4)
//Explanation: In 100, we can purchase Rose(5)+Orchid(9)+Marigold(35)+Jasmine(42)=>91 rs expenditure, 4 quantity

In [ ]:
def purchaseItems(d,x):

    total=0
    count=0
    y=sorted(d.items(), key=lambda x: x[1])

    for i in y:
        first=i[1]
        total+=i[1]
        count+=1
        if total<x:
            continue
        else:
            break

    return total-first,count-1

In [ ]:
print( purchaseItems({"Apple":220,"Cherry":600,"Lemon":70,"Mosambi":60,"Mango":70},250) )
print( purchaseItems({"Apple":220,"Cherry":600,"Lemon":70,"Mosambi":60,"Mango":70},50) )
print( purchaseItems({"Rose":5,"Lotus":100,"Jasmine":42,"Lotus":64,"Orchid":9,"Marigold":35},100) )

(200, 3)
(0, 0)
(91, 4)

In [ ]:
def purchaseItems(d,n):
    total=0
    count=0

    sorted_d = sorted(d.items(), key=lambda x: x[1])
    for i in sorted_d:
        total+=i[1]
        count+=1
        if total>n:
            total-=i[1]
            count-=1
            break

    return total,count

In [ ]:
print( purchaseItems({"Apple":220,"Cherry":600,"Lemon":70,"Mosambi":60,"Mango":70},250) )
print( purchaseItems({"Apple":220,"Cherry":600,"Lemon":70,"Mosambi":60,"Mango":70},50) )
print( purchaseItems({"Rose":5,"Lotus":100,"Jasmine":42,"Lotus":64,"Orchid":9,"Marigold":35},100) )

(200, 3)
(0, 0)
(91, 4)

In [ ]:
def purchaseItems2(d,n):
    total=0
    d1={}

    for k,v in dict(sorted(d.items(), key=lambda x: x[1])).items():
        total+=v

        if total<=n:
            d1[k]=v
        else:
            total-=v
            break

    return total,len(d1)

In [ ]:
print( purchaseItems2({"Apple":220,"Cherry":600,"Lemon":70,"Mosambi":60,"Mango":70},250) )
print( purchaseItems2({"Apple":220,"Cherry":600,"Lemon":70,"Mosambi":60,"Mango":70},50) )
print( purchaseItems2({"Rose":5,"Lotus":100,"Jasmine":42,"Lotus":64,"Orchid":9,"Marigold":35},100) )

(200, 3)
(0, 0)
(91, 4)

In [ ]:
d={"Apple":220,"Cherry":600,"Lemon":70,"Mosambi":60,"Mango":70}
sorted_d = sorted(d.items(), key=lambda x: x[1])
dict(sorted_d)

{'Mosambi': 60, 'Lemon': 70, 'Mango': 70, 'Apple': 220, 'Cherry': 600}

# 76.

ðŸ’» Write a function which takes 2 inputs "String,Integer" representing date(yyyy-mm-dd) & no_of_chapters_left_to_study. We need to display from the specified date to the last date of the month, chapters to be completed with average rate(Rounded to nearest integer) - as shown in the samples.

showChaptersToStudy("2023-03-28",40) =
2023-03-28 : 10
2023-03-29 : 20
2023-03-30 : 30
2023-03-31 : 40
//Explanation: Total days=4 (28th to 31st), so avg=40/4=10

showChaptersToStudy("2023-02-26",35) =
2023-02-26 : 12
2023-02-27 : 24
2023-02-28 : 35
//Explanation: Total days=3 (26th to 28th), so avg=35/3=11.67=>12

showChaptersToStudy("2023-04-25",97) =
2023-04-25 : 16
2023-04-26 : 32
2023-04-27 : 48
2023-04-28 : 64
2023-04-29 : 80
2023-04-30 : 97
//Explanation: Total days=6 (25th to 30th), so avg=97/6=16.17=>16

showChaptersToStudy("2023-01-30",1) =
2023-01-30 : 1
2023-01-31 : 1
//Explanation: Total days=2 (30th to 31st), so avg=1/2=0.5=>1

In [ ]:
def showChaptersToStudy(date,pages):
    from calendar import monthrange
    from math import ceil

    year,month,present_day = date.split("-")
    last_day = monthrange(int(year),int(month))[1]
    avg_pages = ceil(pages/(last_day-int(present_day)+1))
    page_cnt = avg_pages
    i = int(present_day)

    while i <=last_day:
        print(f"{year}-{month}-{i} : {page_cnt}")
        if (page_cnt+avg_pages)>=pages:
            page_cnt=pages
        else:
            page_cnt+=avg_pages
        i+=1

In [ ]:
showChaptersToStudy("2023-03-28",40)

2023-03-28 : 10
2023-03-29 : 20
2023-03-30 : 30
2023-03-31 : 40

In [ ]:
showChaptersToStudy("2023-02-26",35)

2023-02-26 : 12
2023-02-27 : 24
2023-02-28 : 35

# 75.

ðŸ’» Write a function which takes "Array of Integers" as input and returns true if for every 1 in the array there is a following 9 somewhere after the 1 - as shown in the samples.

check19(Array(0,1,2,9,3)) = true
//Explantion: 1 has a 9 following it.

check19(Array(3,1,4,9,3,9,1,2)) = false
//Explantion: Last occurrence of 1 has no 9 following it.

check19(Array(6,1,1,1,8,9,3,9,9,1,9,2)) = true
//Explantion: All the 4 occurrences of 1 has 9's following it

check19(Array(0,1,9,9,9,9,1,1,9,2,1,9)) = false
//Explantion: All the 4 occurrences of 1 are not having corresponding following 9.

check19(Array(0,1,9,9,9,9,1,1,9,2,1,9,8,9)) = true
//Explantion: All the 4 occurrences of 1 are having corresponding following 9.

In [ ]:
def check19(l):

    stack=[]
    for i in l:
        if i==1:
            stack.append(i)
        elif i==9:
            if len(stack)>0:
                stack.pop()
    return True if len(stack)==0 else False

In [ ]:
print( check19([0,1,2,9,3]) )
print( check19([3,1,4,9,3,9,1,2]) )
print( check19([6,1,1,1,8,9,3,9,9,1,9,2]) )
print( check19([0,1,9,9,9,9,1,1,9,2,1,9]) )
print( check19([0,1,9,9,9,9,1,1,9,2,1,9,8,9]) )

True
False
True
False
True

In [ ]:
def check19(arr):

    stack=[]
    for i in arr:
        if i==1:
            stack.append(i)
        elif i==9:
            if len(stack)>0:
                stack.pop()
    return True if len(stack)==0 else False

In [ ]:
print( check19([0,1,2,9,3]) )
print( check19([3,1,4,9,3,9,1,2]) )
print( check19([6,1,1,1,8,9,3,9,9,1,9,2]) )
print( check19([0,1,9,9,9,9,1,1,9,2,1,9]) )
print( check19([0,1,9,9,9,9,1,1,9,2,1,9,8,9]) )

True
False
True
False
True

# 74.

ðŸ’» Write a function which takes an Intger n as input and returns an array of size n with its values set to 0 apart from the last position where value should be set to n - as shown in the samples.
Note: n should be greater than equal to 1. In case n<=0, return empty array.

getArray(4) = Array(0,0,0,4)

getArray(6) = Array(0,0,0,0,0,6)

getArray(-22) = Array()

In [ ]:
def getArray(n):
    f=[]
    if n>0:
        for i in range(n):
            if i==(n-1):
                f.append(n)
            else:
                f.append(0)
    return f

In [ ]:
print( getArray(4) )
print( getArray(6) )
print( getArray(-22) )

[0, 0, 0, 4]
[0, 0, 0, 0, 0, 6]
[]

In [ ]:
def getArray(n):
    final = []
    if n<=0:
        return final
    else:
        for i in range(n):
            if (i==n-1):
                final.append(n)
            else:
                final.append(0)
    return final

In [ ]:
print( getArray(4) )
print( getArray(6) )
print( getArray(-22) )

[0, 0, 0, 4]
[0, 0, 0, 0, 0, 6]
[]

In [ ]:
def getArray2(n):

    if n<=0:
        return []
    else:
        return [0]*(n-1) + [n]

In [ ]:
print( getArray2(4) )
print( getArray2(6) )
print( getArray2(-22) )

[0, 0, 0, 4]
[0, 0, 0, 0, 0, 6]
[]

# 73.

ðŸ’» Write a function which takes "List of Integers" as input and returns true if every occurrence of digit 5 is greater than its direct left and right neighbouring digits - as shown in the samples.

is5greater(List(1,5,4,49)) = true
//Explanation: 5 is greater than its neighbours 1 & 4.

getSum(List(-200,50,10,-200,51,10)) = true
//Explanation: No occurrence of digit 5.

getSum(List(1,5,5,2)) = false
//Explanation: 1st occurrence of 5 is not greater than its right neighbour 5.

getSum(List(1,5,3,5,0,23)) = true
//Explanation: 5 is greater than 1 & 3. 5 is greater than 3 & 0.

getSum(List(5,2,3,1,0,23)) = true
//Explanation: 5 is greater than 2.

In [ ]:
def getSum(l):
    n=len(l)
    flg=False

    for i in range(n):
        if l[i]==5:
            if i==0 and l[i]>l[i+1]:
                continue
            elif i==n-1 and l[i]>l[i-1]:
                continue
            elif l[i]>l[i+1] and l[i]>l[i-1]:
                continue
            return False
    return True

In [ ]:
print( getSum([1,5,4,49]) )
print( getSum([-200,50,10,-200,51,10]) )
print( getSum([1,5,5,2]) )
print( getSum([1,5,3,5,0,23]) )
print( getSum([5,2,3,1,0,23]) )

True
True
False
True
True

In [ ]:
def getSum(l):
    n=len(l)
    for i in range(n):
        if l[i]==5:
            if i==0 and l[i]>l[i+1]:
                continue
            elif i==n-1 and l[i]>l[i-1]:
                continue
            elif l[i]>l[i+1] and l[i]>l[i-1]:
                continue
            return False
    return True

In [ ]:
print( getSum([1,5,4,49]) )
print( getSum([-200,50,10,-200,51,10]) )
print( getSum([1,5,5,2]) )
print( getSum([1,5,3,5,0,23]) )
print( getSum([5,2,3,1,0,23]) )

True
True
False
True
True

In [ ]:
def getSum2(l):
    n=len(l)
    for i in range(n):
        if l[i]==5:
            if l[i+1]>=5 or l[i-1]>=5:
                return False
    return True

In [ ]:
print( getSum2([1,5,4,49]) )
print( getSum2([-200,50,10,-200,51,10]) )
print( getSum2([1,5,5,2]) )
print( getSum2([1,5,3,5,0,23]) )
print( getSum2([5,2,3,1,0,23]) )

True
True
False
True
False

# 72.

ðŸ’» Write a function which takes "List of Integers" as input and returns its sum; such that any element which is same as largest/smallest value in the array will not be considered for the sum - as shown in the samples.

getSum(List(10,5,4,49)) = 15
//Explanation: Largest=49, Smallest=4, so sum=10+5=15

getSum(List(-200,50,10,-200,5,10)) = 25
//Explanation: Largest=50, Smallest=-200, so sum=10+5+10=25

getSum(List(10,5)) = 0
//Explanation: Largest=10, Smallest=5, so sum=0

In [ ]:
def getSum(l):

    total=0
    for i in l:
        if i!=max(l) and i!=min(l):
            total+=i
    return max(l),min(l),total

In [ ]:
print( getSum([10,5,4,49]) )
print( getSum([-200,50,10,-200,5,10]) )
print( getSum([10,5]) )

(49, 4, 15)
(50, -200, 25)
(10, 5, 0)

In [ ]:
def getSum(l):
    total=0
    for i in l:
        if (i!=max(l) and i!=min(l)):
            total+=i
    return total

In [ ]:
print( getSum([10,5,4,49]) )
print( getSum([-200,50,10,-200,5,10]) )
print( getSum([10,5]) )

15
25
0

In [ ]:
def getSum2(l):

    excluded_num = [max(l), min(l)]
    total= sum(filter(lambda x: x not in excluded_num , l))
    return total

In [ ]:
print( getSum2([10,5,4,49]) )
print( getSum2([-200,50,10,-200,5,10]) )
print( getSum2([10,5]) )

15
25
0

# 71.

ðŸ’» Write a function which takes 2 inputs - both are "Map of String,Integer" representing items,price. We need to return "Map of String,Integer" which has all the items,total_price from the inputs - as shown in the samples.

getTotalPrice(Map("Soap"->25,"Detergent"->50),Map("Detergent"->100)) =
Map("Soap"->25,"Detergent"->150)

getTotalPrice(Map("Chair"->200,"Laptop"->52000),Map("Curtains"->250,"Chair"->100)) =
Map("Chair"->300,"Laptop"->52000,"Curtains"->250)

getTotalPrice(Map("Bed"->15000),Map("Television"->20000,"Bedsheet"->1500)) =
Map("Bed"->15000,"Television"->20000,"Bedsheet"->1500)

In [ ]:
def getTotalPrice2(d1,d2):
    total_map= d1

    for k,v in d2.items():
        if k in total_map:
            total_map[k]+=v
        else:
            total_map[k]=v
    return total_map

In [ ]:
print ( getTotalPrice2({"Soap":25,"Detergent":50},{"Detergent":100}) )
print ( getTotalPrice2({"Chair":200,"Laptop":52000},{"Curtains":250,"Chair":100}) )
print ( getTotalPrice2({"Bed":15000},{"Television":20000,"Bedsheet":1500}) )

{'Soap': 25, 'Detergent': 150}
{'Chair': 300, 'Laptop': 52000, 'Curtains': 250}
{'Bed': 15000, 'Television': 20000, 'Bedsheet': 1500}

In [ ]:
def getTotalPrice3(d1,d2):

    final = {}
    d1_k = d1.keys()
    d2_k = d2.keys()

    key_list = list(d1_k) + list(d2_k)

    for i in key_list:
        if (i in d1_k) and (i in d2_k):
            final[i] = d1[i] + d2[i]
        elif (i in d1_k):
            final[i] = d1[i]
        else:
            final[i] = d2[i]

    return final

In [ ]:
print ( getTotalPrice3({"Soap":25,"Detergent":50},{"Detergent":100}) )
print ( getTotalPrice3({"Chair":200,"Laptop":52000},{"Curtains":250,"Chair":100}) )
print ( getTotalPrice3({"Bed":15000},{"Television":20000,"Bedsheet":1500}) )

{'Soap': 25, 'Detergent': 150}
{'Chair': 300, 'Laptop': 52000, 'Curtains': 250}
{'Bed': 15000, 'Television': 20000, 'Bedsheet': 1500}

# 70.

ðŸ’» Write a function which takes 2 inputs - "List of Strings" which represents items & "Map of String,String" wherein each element represents Item,Category. The function should return "Map of String,Integer" such that each element represents category,count_of_items_in_the_list - as shown in the samples.
Note: If any item in the list is not present in the map, consider its category to be "Others".

getCategoryCount(List("Mango","Guava","Mango","Mango"),Map("Guava"->"Fruits","Spinach"->"Veggies","Mango"->"Fruits","Grapes"->"Fruits")) =
Map("Fruits"->4)

getCategoryCount(List("Cabbage","Grapes","Milk"),Map("Cardamom"->"Spices","Cabbage"->"Veggies","Cauliflower"->"Veggies","Cinnamon"->"Spices")) =
Map("Veggies"->1,"Others"->2)

In [ ]:
def getCategoryCount(l,d):
    category={}

    for item in l:
        if item in d:
            val = d[item]
            if val not in category:
                 category[val]=1
            else:
                category[val]+=1
        else:
            # For uncategorized items, check if 'Others' exists
            if 'others' not in category:
                 category['others']=1
            else:
                category['others']+=1
    return category

In [ ]:
print(getCategoryCount(["Mango", "Guava", "Mango", "Mango"],
                       {"Guava": "Fruits", "Spinach": "Veggies", "Mango": "Fruits", "Grapes": "Fruits"}))
# Output: {'Fruits': 4}

print(getCategoryCount(["Cabbage", "Grapes", "Milk"],
                       {"Cardamom": "Spices", "Cabbage": "Veggies", "Cauliflower": "Veggies", "Cinnamon": "Spices"}))
# Output: {'Veggies': 1, 'Others': 2}

{'Fruits': 4}
{'Veggies': 1, 'others': 2}

In [ ]:
def getCategoryCount(item_list, category_map):
    category_count = {}

    for item in item_list:

        if item in category_map:
            category = category_map[item]
        else:
            category = "Others"

        if category in category_count:
            category_count[category] += 1
        else:
            category_count[category] = 1

    return category_count

In [ ]:
print(getCategoryCount(["Mango", "Guava", "Mango", "Mango"],
                       {"Guava": "Fruits", "Spinach": "Veggies", "Mango": "Fruits", "Grapes": "Fruits"}))
# Output: {'Fruits': 4}

print(getCategoryCount(["Cabbage", "Grapes", "Milk"],
                       {"Cardamom": "Spices", "Cabbage": "Veggies", "Cauliflower": "Veggies", "Cinnamon": "Spices"}))
# Output: {'Veggies': 1, 'Others': 2}

{'Fruits': 4}
{'Veggies': 1, 'Others': 2}

In [ ]:
a='hi'
b='bye'

print("value of a is {} and b is {}".format(a,b))

value of a is hi and b is bye

# 69.

ðŸ’» Write a function which takes a "Array of Integers" as input and returns "Array of Integers" such that all the odd numbers are placed before the even numbers - as shown in the samples.

getOddBefEven(Array(10,5,3,2,13,4,2)) =
Array(5,3,13,10,2,4,2)

getOddBefEven(Array(0,44,91,32,45,67,12)) =
Array(91,45,67,0,44,32,12)

getOddBefEven(Array()) =
Array()

In [ ]:
def getOddBefEven(l):

    ev = list(filter(lambda x : x%2==0,l))
    od = list(filter(lambda x : x%2!=0,l))
    return od+ev

In [ ]:
print( getOddBefEven([10,5,3,2,13,4,2]) )
print( getOddBefEven([0,44,91,32,45,67,12]) )
print( getOddBefEven([]) )

[5, 3, 13, 10, 2, 4, 2]
[91, 45, 67, 0, 44, 32, 12]
[]

In [ ]:
def getOddBefEven(l):

    l_od=[i for i in l if i%2!=0]
    l_ev=[i for i in l if i%2==0]

    return (l_od+l_ev)

In [ ]:
print( getOddBefEven([10,5,3,2,13,4,2]) )
print( getOddBefEven([0,44,91,32,45,67,12]) )
print( getOddBefEven([]) )

[5, 3, 13, 10, 2, 4, 2]
[91, 45, 67, 0, 44, 32, 12]
[]

In [ ]:
def getOddBefEven2(l):

    op=[]

    for i in l:
        if(i%2!=0):
            op.append(i)

    for i in l:
        if(i%2==0):
            op.append(i)

    return (op)

In [ ]:
print( getOddBefEven2([10,5,3,2,13,4,2]) )
print( getOddBefEven2([0,44,91,32,45,67,12]) )
print( getOddBefEven2([]) )

[5, 3, 13, 10, 2, 4, 2]
[91, 45, 67, 0, 44, 32, 12]
[]

In [ ]:
def getOddBefEven3(l):

    op1=[]
    op2=[]

    for i in l:
        if(i%2!=0):
            op1.append(i)
        else:
            op2.append(i)

    op1.extend(op2)

    return (op1)

In [ ]:
print( getOddBefEven3([10,5,3,2,13,4,2]) )
print( getOddBefEven3([0,44,91,32,45,67,12]) )
print( getOddBefEven3([]) )

[5, 3, 13, 10, 2, 4, 2]
[91, 45, 67, 0, 44, 32, 12]
[]

In [ ]:
def getOddBefEven4(l):
    n=len(l)

    for i in range(n,0,-1):
        for j in range(len(l[:i])-1):
            if (l[j]%2==0) :
                l[j],l[j+1] = l[j+1],l[j]
    return (l)

In [ ]:
print( getOddBefEven4([10,5,3,2,13,4,2]) )
print( getOddBefEven4([0,44,91,32,45,67,12]) )
print( getOddBefEven4([]) )

[5, 3, 13, 2, 4, 2, 10]
[91, 45, 67, 12, 32, 44, 0]
[]

# 68.

ðŸ’» Write a function which takes a "Map of String,String" as input which represent item,category & returns "Map of String,Integer" such that each element represents category,count_of_items_in_the_category - as shown in the samples.

getCategoryCount(Map("Guava"->"Fruits","Spinach"->"Veggies","Mango"->"Fruits","Grapes"->"Fruits")) =
Map("Fruits"->3,"Veggies"->1)

getCategoryCount(Map("Cardamom"->"Spices","Cabbage"->"Veggies","Cauliflower"->"Veggies","Cinnamon"->"Spices")) =
Map("Spices"->2,"Veggies"->2)

In [ ]:
def getCategoryCount(d):
    fruits={}
    for k,v in d.items():
        if v not in fruits:
            fruits[v]=1
        else:
            fruits[v]+=1
    return fruits

In [ ]:
# Sample test cases
items1 = {
    "Guava": "Fruits",
    "Spinach": "Veggies",
    "Mango": "Fruits",
    "Grapes": "Fruits"
}
print(getCategoryCount(items1))
# Output: {'Fruits': 3, 'Veggies': 1}

items2 = {
    "Cardamom": "Spices",
    "Cabbage": "Veggies",
    "Cauliflower": "Veggies",
    "Cinnamon": "Spices"
}
print(getCategoryCount(items2))
# Output: {'Spices': 2, 'Veggies': 2}

{'Fruits': 3, 'Veggies': 1}
{'Spices': 2, 'Veggies': 2}

In [ ]:
def getCategoryCount(item_category_map):
    category_count = {}

    # Iterate through the item-category map
    for item, category in item_category_map.items():
        # Update the count for the category
        if category in category_count:
            category_count[category] += 1
        else:
            category_count[category] = 1

    return category_count

# Sample test cases
items1 = {
    "Guava": "Fruits",
    "Spinach": "Veggies",
    "Mango": "Fruits",
    "Grapes": "Fruits"
}
print(getCategoryCount(items1))
# Output: {'Fruits': 3, 'Veggies': 1}

items2 = {
    "Cardamom": "Spices",
    "Cabbage": "Veggies",
    "Cauliflower": "Veggies",
    "Cinnamon": "Spices"
}
print(getCategoryCount(items2))
# Output: {'Spices': 2, 'Veggies': 2}

{'Fruits': 3, 'Veggies': 1}
{'Spices': 2, 'Veggies': 2}

# 67.

ðŸ’» Write a function which takes a Integer as input & prints the Diagonal pattern - as shown in the samples.
Note: If the input is even number, no pattern should be printed. Instead the message should be shown -
"Height must be odd number, exiting !!"

In [ ]:
*       *
  *   *
    *
   *  *
*        *

# 66.

ðŸ’» Write a function which takes a non-negative Integer as input & prints the alphabet pyramid - as shown in the samples.

printAlphaPyramid(5) =
A
B B
C C C
D D D D
E E E E E

printAlphaPyramid(3) =
A
B B
C C C

printAlphaPyramid(2) =
A
B B

In [ ]:
chr(65), ord('A')

('A', 65)

In [ ]:
def printAlphaPyramid(n):
    if n<0:
        print('Non-negative no. entered!')
        return
    alphabet_digit = 65
    for i in range(1,n+1):
        for j in range(i):
            print(chr(alphabet_digit), end=' ')
        alphabet_digit+=1
        print()

In [ ]:
printAlphaPyramid(5)
print("*"*15)
printAlphaPyramid(3)
print("*"*15)
printAlphaPyramid(2)
print("*"*15)
printAlphaPyramid(-5)
print("*"*15)

A
B B
C C C
D D D D
E E E E E
***************
A
B B
C C C
***************
A
B B
***************
Non-negative no. entered!
***************

In [ ]:
def printAlphaPyramid(n):
    for i in range(n):
        # Calculate the character for the current row
        char = chr(65 + i)  # 65 is the ASCII value for 'A'

        # Print the character 'i + 1' times, separated by spaces
        print(' '.join([char] * (i + 1)))

# Sample test cases
print("Pyramid with 5 levels:")
printAlphaPyramid(5)
# Output:
# A
# B B
# C C C
# D D D D
# E E E E E

print("\nPyramid with 3 levels:")
printAlphaPyramid(3)
# Output:
# A
# B B
# C C C

print("\nPyramid with 2 levels:")
printAlphaPyramid(2)
# Output:
# A
# B B

Pyramid with 5 levels:
A
B B
C C C
D D D D
E E E E E

Pyramid with 3 levels:
A
B B
C C C

Pyramid with 2 levels:
A
B B

In [ ]:
def printAlphaPyramid(n):

    if n<0:
        return 'Please Check!'
    else:
        for i in range(n):
            x=65
            for j in range(i+1):
                print(chr(x), end=' ')
                x+=1
            print(' ')

In [ ]:
printAlphaPyramid(5)
print('\n')
printAlphaPyramid(3)

print('\n')

printAlphaPyramid(2)

print('\n')

printAlphaPyramid(-8)

A
A B
A B C
A B C D
A B C D E


A
A B
A B C


A
A B

'Please Check!'

In [ ]:
def printAlphaPyramid2(n):

    if n<0:
        raise Exception('Please Check!')
    else:
        for i in range(n):
            print(chr(i+65)*(i+1))

In [ ]:
printAlphaPyramid2(5)
print('\n')
printAlphaPyramid2(3)

print('\n')

printAlphaPyramid2(2)

print('\n')

printAlphaPyramid2(-8)

A
BB
CCC
DDDD
EEEEE


A
BB
CCC


A
BB

Exception: Please Check!

# 65.

ðŸ’» Write a function which takes "Array of strings" as input wherein each element represents the gym duration in the format HH:MM:SS & returns string such that it is the sum of the total duration - as shown in the samples.

getTotalDuration(Array("00:00:05","01:59:10")) = "01:59:15"
//Explanation: 5secs + 1hr 59min 10secs = 1hr 59 min 15 secs

getTotalDuration(Array("03:00:05","00:59:00","00:02:00")) = "04:01:05"
//Explanation: 3hr 5secs + 59mins + 2mins = 4hr 1min 5secs

getTotalDuration(Array()) = "00:00:00"

In [ ]:
def getTotalDuration(durations):
    total_seconds = 0

    # Iterate through each duration in the input array
    for duration in durations:
        # Split the string into hours, minutes, and seconds
        hh, mm, ss = map(int, duration.split(':'))
        # Convert the entire duration into seconds and add to total
        total_seconds += hh * 3600 + mm * 60 + ss

    # Convert total seconds back to HH:MM:SS format
    hours = total_seconds // 3600
    minutes = (total_seconds % 3600) // 60
    seconds = total_seconds % 60

    # Format the result as a string
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Sample test cases
print(getTotalDuration(["00:00:05", "01:59:10"]))  # Output: "01:59:15"
print(getTotalDuration(["03:00:05", "00:59:00", "00:02:00"]))  # Output: "04:01:05"
print(getTotalDuration([]))  # Output: "00:00:00"

01:59:15
04:01:05
00:00:00

# 64.

ðŸ’» Write a function which takes a "Array of strings" as input wherein each element is item@amount & returns "Map of string,integer" such that each element is item,sum_of_total_amount for the corresponding item - as shown in the samples.

getTotalItemExpenditure(Array("Pen@120","Watch@600","Pen@10","Watch@1000","Pencil@15"))
= Map("Pen"->130,"Watch"->1600,"Pencil"->15)

getTotalItemExpenditure(Array("Fan@1600","Fan@1000"))
= Map("Fan"->2600)

getTotalItemExpenditure(Array("Laptop@52000","Curtain@500","Curtain@1200"))
= Map("Laptop"->52000,"Curtain"->1700)

In [ ]:
def getTotalItemExpenditure(arr):
    item_dict={}
    for i in arr:
        x=i.split("@")
        item=x[0]
        amount=int(x[-1])
        if item not in item_dict:
            item_dict[item]=[amount]
        else:
            item_dict[item].append(amount)

    for k, v in item_dict.items():
        item_dict[k] = sum(v)
    return item_dict

In [ ]:
# Sample test cases
print(getTotalItemExpenditure(["Pen@120", "Watch@600", "Pen@10", "Watch@1000", "Pencil@15"]))
# Output: {'Pen': 130, 'Watch': 1600, 'Pencil': 15}

print(getTotalItemExpenditure(["Fan@1600", "Fan@1000"]))
# Output: {'Fan': 2600}

print(getTotalItemExpenditure(["Laptop@52000", "Curtain@500", "Curtain@1200"]))
# Output: {'Laptop': 52000, 'Curtain': 1700}

{'Pen': 130, 'Watch': 1600, 'Pencil': 15}
{'Fan': 2600}
{'Laptop': 52000, 'Curtain': 1700}

In [ ]:
def getTotalItemExpenditure(arr):
    expenditure_map = {}

    for entry in arr:
        # Split the string into item and amount
        item, amount_str = entry.split('@')
        amount = int(amount_str)  # Convert amount to integer

        # Sum the amounts for each item
        if item in expenditure_map:
            expenditure_map[item] += amount
        else:
            expenditure_map[item] = amount

    return expenditure_map

# Sample test cases
print(getTotalItemExpenditure(["Pen@120", "Watch@600", "Pen@10", "Watch@1000", "Pencil@15"]))
# Output: {'Pen': 130, 'Watch': 1600, 'Pencil': 15}

print(getTotalItemExpenditure(["Fan@1600", "Fan@1000"]))
# Output: {'Fan': 2600}

print(getTotalItemExpenditure(["Laptop@52000", "Curtain@500", "Curtain@1200"]))
# Output: {'Laptop': 52000, 'Curtain': 1700}

{'Pen': 130, 'Watch': 1600, 'Pencil': 15}
{'Fan': 2600}
{'Laptop': 52000, 'Curtain': 1700}

# 63.

ðŸ’» Write a function which takes a "List of Strings" as input where each element represents date(yyyy-mm-dd) & returns "Map of Integer,String" representing year,date such that year=year of the corresponding input date & date=Last day of February month for the corresponding input date year - as shown in the samples.

getFebLastDate(List("1992-02-19") =
= Map(1992->"1992-02-29")

getFebLastDate(List("2022-04-05","2023-12-17","2000-01-02"))
= Map(2022->"2022-02-28",2023->"2023-02-28",2000->"2000-02-29")

getFebLastDate(List()) =
= Map()

In [ ]:
def getFebLastDate(l):

    date_dict={}

    for i in l:
        x=i.split('-')
        year = int(x[0])

        date = dt.datetime(year, 3, 1)
        # Subtract one day using timedelta
        last_feb_day = date - dt.timedelta(days=1)
        formatted_date = last_feb_day.strftime("%Y-%m-%d")

        date_dict[year]=formatted_date

    return date_dict

In [ ]:
print(getFebLastDate(["1992-02-19"]))  # Output: {1992: '1992-02-29'}
print(getFebLastDate(["2022-04-05", "2023-12-17", "2000-01-02"]))
# Output: {2022: '2022-02-28', 2023: '2023-02-28', 2000: '2000-02-29'}

print(getFebLastDate([]))  # Output: {}

{1992: '1992-02-29'}
{2022: '2022-02-28', 2023: '2023-02-28', 2000: '2000-02-29'}
{}

In [ ]:
import datetime as dt

year=2024
# Create a datetime object for a particular day
date = dt.datetime(year, 3, 1)

# Subtract one day using timedelta
new_date = date - dt.timedelta(days=1)

# Output the result
print("Original Date:", date)
print("New Date:", new_date)
formatted_date = new_date.strftime("%Y/%m/%d")
print("formatted_date:", formatted_date)  # Output: 2024/01/03

Original Date: 2024-03-01 00:00:00
New Date: 2024-02-29 00:00:00
formatted_date: 2024/02/29

In [ ]:
import datetime as dt

def getFebLastDate(dates):
    # Create an empty dictionary to store the result
    result = {}

    # Iterate over each date string in the input list
    for date_str in dates:
        # Parse the date string into a datetime object
        date_obj = dt.datetime.strptime(date_str, "%Y-%m-%d")

        # Extract the year from the date
        year = date_obj.year

        # Check if the year is a leap year
        if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            # Leap year: February 29
            feb_last_day = f"{year}-02-29"
        else:
            # Not a leap year: February 28
            feb_last_day = f"{year}-02-28"

        # Add the year and corresponding last day of February to the result map
        result[year] = feb_last_day

    return result

# Sample test cases
print(getFebLastDate(["1992-02-19"]))  # Output: {1992: '1992-02-29'}
print(getFebLastDate(["2022-04-05", "2023-12-17", "2000-01-02"]))
# Output: {2022: '2022-02-28', 2023: '2023-02-28', 2000: '2000-02-29'}

print(getFebLastDate([]))  # Output: {}

{1992: '1992-02-29'}
{2022: '2022-02-28', 2023: '2023-02-28', 2000: '2000-02-29'}
{}

# 62.

ðŸ’» Write a function which takes a string(i.e., a sentence) as input & returns the sum of the length of each word in the sentence which are separated by spaces - as shown in the samples.

getWordsLength("I like tea") = 8
//Explanation: I=1, like=4, tea=3 => 1+4+3=8

getWordsLength("") = 0

getWordsLength("It will rain today") = 15
//Explanation: It=2, will=4, rain=4, today=5=> 2+4+4+5=15

In [ ]:
def getWordsLength(l):
    l = l.split()
    tot=0
    for i in l:
        tot+= len(i)
    return tot

In [ ]:
def getWordsLength(l):
    l = l.split()
    return sum([len(i) for i in l])

In [ ]:
print( getWordsLength('I like tea') )

print( getWordsLength('') )

print( getWordsLength('It will rain today') )

8
0
15

In [ ]:
def getWordsLength(s):

    l=s.split()
    word_length=0

    for i in range(len(l)):
        word_length+=len(l[i])
    return word_length

In [ ]:
print( getWordsLength('I like tea') )

print( getWordsLength('') )

print( getWordsLength('It will rain today') )

8
0
15

# 61.

ðŸ’» Write a function which takes array of numbers as input & returns true if array length is greater than 3 and 1st and last elements are same; false otherwise - as shown in the samples.

checkArray(Array(10,20,30,40)) = false
checkArray(Array(-50,20,-50)) = false
checkArray(Array(100,46,27,45,100)) = true
checkArray(Array(-97,54,24,67,22,-97)) = true

In [ ]:
def checkArray(arr):
    return len(arr)>3 and arr[0]==arr[-1]

In [ ]:
print(checkArray([10, 20, 30, 40]))         # Output: False
print(checkArray([-50, 20, -50]))           # Output: False
print(checkArray([100, 46, 27, 45, 100]))   # Output: True
print(checkArray([-97, 54, 24, 67, 22, -97])) # Output: True

False
False
True
True

# 60.

ðŸ’» Write a function which takes integer as input (which is height/number of rows) & prints Floyd Triangle pattern - as shown in the samples.

(5)
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15


(3)
1
2 3
4 5 6

(4)
1
2 3
4 5 6
7 8 9 10

In [ ]:
def print_pattern(n):
    x=1
    for i in range(1,n+1):
        for j in range(i):
            print(x,end=' ')
            x+=1
        print()

In [ ]:
print_pattern(5)
print("*"*15)
print_pattern(3)
print("*"*15)
print_pattern(4)
print("*"*15)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
***************
1
2 3
4 5 6
***************
1
2 3
4 5 6
7 8 9 10
***************

# 59.

ðŸ’» Write a function which takes integer as input & prints hollow diamond inscribed in a rectangle pattern - as shown in the samples.
Note: Input should be greater than 2. If less, print "Input should be greater than 2".

In [ ]:
#https://www.linkedin.com/posts/rahulupadhyabigdata_practice-coding-programming-activity-7018047369699110912--Av5?utm_source=share&utm_medium=member_desktop

![Getpattern.jpg](attachment:Getpattern.jpg)

# 58.

In [ ]:
ðŸ’» Write a function which takes 2 input - "Map of String, 'List of String'" & "Map of String, Integer"
   (wherein 1st input is product & all sales persons associated,
   2nd input is for every sales person the quantity of sales done).
We need to return "List of String" which is the most quantity product sold
along with the quantity - as shown in the samples.

salesDet = Map("Colgate"->List("Nayan","Vishal","Isha"),"Pepsodent"->List("Apoorva","Uday"))
salesData = Map("Apoorva"->89,"Nayan"->45,"Vishal"->110,"Uday"->44,"Isha"->38)
getPopularProduct(salesDet,salesData) =
List("Colgate=193")

salesDet = Map("Sensodyne"->List("Kamal"),"Dabur Red"->List("Dhruv"))
salesData = Map("Kamal"->28,"Dhruv"->28)
getPopularProduct(salesDet,salesData) =
List("Sensodyne=28","Dabur Red=28")

salesDet = Map("CloseUp"->List("Mayur","Pankaj"),"Dant Kanti"->List("Diya","Pratik","Yuvraj"),
               "Vicco"->List("Damini","Shravan"))
salesData = Map("Mayur"->13,"Diya"->14,"Damini"->15,"Yuvraj"->1,"Shravan"->23,"Pankaj"->19,"Pratik"->13)
getPopularProduct(salesDet,salesData) =
List("Vicco=28")

In [ ]:
def getPopularProduct(salesDet,salesData):

    allDet = {k:[] for k,v in salesDet.items()}

    for company, person in salesDet.items():
        for p in person:
            allDet[company].append(salesData[p])

    for k,v in allDet.items():
        allDet[k] = sum(v)

    # Find the maximum sales amount
    max_amount = max(allDet.values())

    # Find all products that have this maximum sales amount
    popular_products = [f"{product}={amount}" for product, amount in allDet.items() if amount == max_amount]

    return popular_products

In [ ]:
# Test cases
print(getPopularProduct(
    {"Colgate": ["Nayan", "Vishal", "Isha"], "Pepsodent": ["Apoorva", "Uday"]},
    {"Apoorva": 89, "Nayan": 45, "Vishal": 110, "Uday": 44, "Isha": 38}
))
# Output: ["Colgate=193"]

print(getPopularProduct(
    {"Sensodyne": ["Kamal"], "Dabur Red": ["Dhruv"]},
    {"Kamal": 28, "Dhruv": 28}
))
# Output: ["Sensodyne=28", "Dabur Red=28"]

print(getPopularProduct(
    {"CloseUp": ["Mayur", "Pankaj"], "Dant Kanti": ["Diya", "Pratik", "Yuvraj"], "Vicco": ["Damini", "Shravan"]},
    {"Mayur": 13, "Diya": 14, "Damini": 15, "Yuvraj": 1, "Shravan": 23, "Pankaj": 19, "Pratik": 13}
))
# Output: ["Vicco=28"]

['Colgate=193']
['Sensodyne=28', 'Dabur Red=28']
['Vicco=38']

In [ ]:
def getPopularProduct(salesDet, salesData):
    # Initialize a dictionary to store total sales for each product
    product_sales = {}

    # Calculate total sales for each product
    for product, salespersons in salesDet.items():
        total_sales = sum(salesData.get(person, 0) for person in salespersons)
        product_sales[product] = total_sales

    # Find the maximum sales quantity
    max_sales = max(product_sales.values(), default=0)

    # Find all products with the maximum sales quantity
    most_popular_products = [f"{product}={quantity}" for product, quantity in product_sales.items() if quantity == max_sales]

    return most_popular_products

# Test cases
print(getPopularProduct(
    {"Colgate": ["Nayan", "Vishal", "Isha"], "Pepsodent": ["Apoorva", "Uday"]},
    {"Apoorva": 89, "Nayan": 45, "Vishal": 110, "Uday": 44, "Isha": 38}
))
# Output: ["Colgate=193"]

print(getPopularProduct(
    {"Sensodyne": ["Kamal"], "Dabur Red": ["Dhruv"]},
    {"Kamal": 28, "Dhruv": 28}
))
# Output: ["Sensodyne=28", "Dabur Red=28"]

print(getPopularProduct(
    {"CloseUp": ["Mayur", "Pankaj"], "Dant Kanti": ["Diya", "Pratik", "Yuvraj"], "Vicco": ["Damini", "Shravan"]},
    {"Mayur": 13, "Diya": 14, "Damini": 15, "Yuvraj": 1, "Shravan": 23, "Pankaj": 19, "Pratik": 13}
))
# Output: ["Vicco=28"]

['Colgate=193']
['Sensodyne=28', 'Dabur Red=28']
['Vicco=38']

# 57.

ðŸ’» Write a function which takes integer as input & prints hollow diamond pattern - as shown in the samples.

![getpattern_2.jpg](attachment:getpattern_2.jpg)

# 56.

In [ ]:
ðŸ’» Write a function which takes "List of Tuples of 'Integer, String, String'" as input
(which are enrollment_id,student_name,student_class) & returns "List of Tuples of 'String,Integer,String,Integer"
(which are student_class,student_rollno,student_name,enrollment_id)
with list ordered as [student_class,student_rollno] - as shown in the samples.

Note: student_rollno is to be generated in increasing order
      starting from 1 for each class in the increasing order of enrollment_id.

getStudentSorted(List((123,"Hardik","V"),(63,"Shivani","V"),(114,"Uttara","VI"),(99,"Satyaki","VI"),(50,"Paritoshik","V"))) =
List(("V",1,"Paritoshik",50),("V",2,"Shivani",63),("V",3,"Hardik",123),("VI",1,"Satyaki",99),("VI",2,"Uttara",114))

getStudentSorted(List((78,"Kartikey","V"),(55,"Ambalika","IX"),(66,"Dev","V"))) =
List(("V",1,"Dev",66),("V",2,"Kartikey",78),("IX",1,"Ambalika",55))

getStudentSorted(List((134,"Ravi","VIII"),(283,"Tanu","VIII"))) =
List(("VIII",1,"Ravi",134),("VIII",2,"Tanu",283))

In [ ]:
def getStudentSorted(student_details):
    final_details = []
    class_dict = {}

    for student in student_details:
        student = list(student)
        student_class = student[2]

        if student_class not in class_dict:
            class_dict[student_class] = 1
        else:
            class_dict[student_class] += 1

        student_name = student[1]
        enrollment_id = student[0]
        final_details.append(tuple([student_class, class_dict[student_class], student_name,enrollment_id]))

    final_details = sorted(final_details, key=lambda x: x[0])
    return final_details

In [ ]:
print(getStudentSorted([(123,"Hardik","V"),(63,"Shivani","V"),(114,"Uttara","VI"),(99,"Satyaki","VI"),(50,"Paritoshik","V")]))
# Output: [('V', 1, 'Paritoshik', 50), ('V', 2, 'Shivani', 63), ('V', 3, 'Hardik', 123), ('VI', 1, 'Satyaki', 99), ('VI', 2, 'Uttara', 114)]

print(getStudentSorted([  (78, "Kartikey", "V"),  (55, "Ambalika", "IX"),  (66, "Dev", "V")]))
# Output: [('V', 1, 'Dev', 66), ('V', 2, 'Kartikey', 78), ('IX', 1, 'Ambalika', 55)]

print(getStudentSorted([  (134, "Ravi", "VIII"),  (283, "Tanu", "VIII")]))
# Output: [('VIII', 1, 'Ravi', 134), ('VIII', 2, 'Tanu', 283)]

[('V', 1, 'Hardik', 123), ('V', 2, 'Shivani', 63), ('V', 3, 'Paritoshik', 50), ('VI', 1, 'Uttara', 114), ('VI', 2, 'Satyaki', 99)]
[('IX', 1, 'Ambalika', 55), ('V', 1, 'Kartikey', 78), ('V', 2, 'Dev', 66)]
[('VIII', 1, 'Ravi', 134), ('VIII', 2, 'Tanu', 283)]

In [ ]:
def getStudentSorted(student_details):
    # Initialize a dictionary to store students by class
    class_dict = {}

    # Group students by class
    for enrollment_id, student_name, student_class in student_details:
        if student_class not in class_dict:
            class_dict[student_class] = []
        class_dict[student_class].append((enrollment_id, student_name))

    # Prepare the result list
    final_details = []

    # Process each class
    for student_class in sorted(class_dict.keys()):
        # Sort students in each class by enrollment_id
        sorted_class_students = sorted(class_dict[student_class], key=lambda x: x[0])
        # Assign roll numbers starting from 1
        for roll_number, (enrollment_id, student_name) in enumerate(sorted_class_students, start=1):
            final_details.append((student_class, roll_number, student_name, enrollment_id))

    return class_dict

In [ ]:
print(getStudentSorted([(123,"Hardik","V"),(63,"Shivani","V"),(114,"Uttara","VI"),(99,"Satyaki","VI"),(50,"Paritoshik","V")]))
# Output: [('V', 1, 'Paritoshik', 50), ('V', 2, 'Shivani', 63), ('V', 3, 'Hardik', 123), ('VI', 1, 'Satyaki', 99), ('VI', 2, 'Uttara', 114)]

print(getStudentSorted([ (78, "Kartikey", "V"), (55, "Ambalika", "IX"), (66, "Dev", "V")]))
# Output: [('V', 1, 'Dev', 66), ('V', 2, 'Kartikey', 78), ('IX', 1, 'Ambalika', 55)]

print(getStudentSorted([ (134, "Ravi", "VIII"), (283, "Tanu", "VIII")]))
# Output: [('VIII', 1, 'Ravi', 134), ('VIII', 2, 'Tanu', 283)]

{'V': [(123, 'Hardik'), (63, 'Shivani'), (50, 'Paritoshik')], 'VI': [(114, 'Uttara'), (99, 'Satyaki')]}
{'V': [(78, 'Kartikey'), (66, 'Dev')], 'IX': [(55, 'Ambalika')]}
{'VIII': [(134, 'Ravi'), (283, 'Tanu')]}

In [ ]:
student_details = [
    (123, "Hardik", "V"),
    (63, "Shivani", "V"),
    (114, "Uttara", "VI"),
    (99, "Satyaki", "VI"),
    (50, "Paritoshik", "V")
]

for enrollment_id, student_name, student_class in student_details:
    print(f"Enrollment ID: {enrollment_id}, Name: {student_name}, Class: {student_class}")

Enrollment ID: 123, Name: Hardik, Class: V
Enrollment ID: 63, Name: Shivani, Class: V
Enrollment ID: 114, Name: Uttara, Class: VI
Enrollment ID: 99, Name: Satyaki, Class: VI
Enrollment ID: 50, Name: Paritoshik, Class: V

# 55.

In [ ]:
ðŸ’» Write a function which takes "Map of String,'List of String'" as input (which is username & their favourite sweets) &
returns "List of String" such that it includes the most preferred sweets - as shown in the samples.

getPopularSweets(Map("Pankaj"->List("Sandesh","Jalebi","Modak"),"Sandhya"->List("Jalebi"),"Kirti"->List("Laddoo","Mysore Pak"))) =
List("Jalebi")

getPopularSweets(Map("Ravindra"->List("Halwa","Rasgulla","Amriti"),"Jamuna"->List("Kalakand","Balushahi","Halwa"),"Uddhav"->List("Rasgulla"))) =
List("Halwa","Rasgulla")

getPopularSweets(Map("Pawan"->List("Rasmalai"),"Samrat"->List())) =
List("Rasmalai")

In [ ]:
def getPopularSweets(sweets):
    popular_sweet = {}
    final_sweet = []

    for person,sweet in sweets.items():
        for each_sweet in sweet:
            if each_sweet not in popular_sweet:
                popular_sweet[each_sweet] = 1
            else:
                popular_sweet[each_sweet]+=1

    for k, v in popular_sweet.items():
        if v== max(popular_sweet.values()):
            final_sweet.append(k)
    return final_sweet

In [ ]:
# Test cases
print(getPopularSweets({
    "Pankaj": ["Sandesh", "Jalebi", "Modak"],
    "Sandhya": ["Jalebi"],
    "Kirti": ["Laddoo", "Mysore Pak"]
}))
# Output: ['Jalebi']

print(getPopularSweets({
    "Ravindra": ["Halwa", "Rasgulla", "Amriti"],
    "Jamuna": ["Kalakand", "Balushahi", "Halwa"],
    "Uddhav": ["Rasgulla"]
}))
# Output: ['Halwa', 'Rasgulla']

print(getPopularSweets({
    "Pawan": ["Rasmalai"],
    "Samrat": []
}))
# Output: ['Rasmalai']

['Jalebi']
['Halwa', 'Rasgulla']
['Rasmalai']

In [ ]:
def getPopularSweets(sweets):
    # Dictionary to store the count of each sweet
    sweet_count = {}

    # Count occurrences of each sweet
    for sweet_list in sweets.values():
        for sweet in sweet_list:
            if sweet in sweet_count:
                sweet_count[sweet] += 1
            else:
                sweet_count[sweet] = 1

    # Find the maximum count of any sweet
    if not sweet_count:
        return []

    max_count = max(sweet_count.values())

    # Collect all sweets with the maximum count
    most_popular_sweets = [sweet for sweet, count in sweet_count.items() if count == max_count]

    return most_popular_sweets

# Test cases
print(getPopularSweets({
    "Pankaj": ["Sandesh", "Jalebi", "Modak"],
    "Sandhya": ["Jalebi"],
    "Kirti": ["Laddoo", "Mysore Pak"]
}))
# Output: ['Jalebi']

print(getPopularSweets({
    "Ravindra": ["Halwa", "Rasgulla", "Amriti"],
    "Jamuna": ["Kalakand", "Balushahi", "Halwa"],
    "Uddhav": ["Rasgulla"]
}))
# Output: ['Halwa', 'Rasgulla']

print(getPopularSweets({
    "Pawan": ["Rasmalai"],
    "Samrat": []
}))
# Output: ['Rasmalai']

['Jalebi']
['Halwa', 'Rasgulla']
['Rasmalai']

# 54.

In [ ]:

ðŸ’» Write a function which takes String as input (which includes status of runs scored on each ball from a bowler)
& returns a string containing Over-Maiden-Runs-Wickets - as shown in the samples.
Note: W=Wickets, Wd=Wide(i.e, 1 run). No ball and runs on wides, etc is not considered here.

getBowlerFigures("0 4 1 4 4 4 2 1 4 1 2 4 4 4 Wd W 0 4 Wd 0") =
3-0-45-1
//Explanation: Total overs bowled=3, Maidens=0, Runs=45, Wickets=1

getBowlerFigures("1 4 1 0 1 1 1 1 W 1 0 0 0 1 4 0 1 W 0 1 1 2 1 4 1") =
4.1-0-27-2
//Explanation: Total overs bowled=4.1, Maidens=0, Runs=27, Wickets=2

getBowlerFigures("6 3 W W W 0 0 0 0 0 0 0 2 3 0") =
2.3-1-14-3
//Explanation: Total overs bowled=2.3, Maidens=1, Runs=14, Wickets=3

In [ ]:
def getBowlerFigures(string_input):

    balls,bowled,Maidens,Runs,Wickets=0,0,0,0,0

    list_each_balls = string_input.split()

    Wickets = list_each_balls.count("W")
    balls = sum(1 for i in list_each_balls if i!="Wd")
    bowled = str(balls//6)+'.'+str(balls%6)

    for i in list_each_balls:
        if i=='Wd':
            Runs+=1
        elif i=='W':
            Runs+=0
        else:
            Runs+=int(i)



    return bowled,Maidens,Runs,Wickets

In [ ]:
print(getBowlerFigures("0 4 1 4 4 4 2 1 4 1 2 4 4 4 Wd W 0 4 Wd 0"))

('3.0', 0, 45, 1)

# 53.

In [ ]:
ðŸ’» Write a function which takes "Map of (String,List of Integers)" as input
(which are student_names & marks scored in Physics, Chemistry, Maths) &
displays topper names in each subject along with marks - as shown in the samples.

displayToppers(Map("Angad"->List(83,92,74),"Supriya"->List(98,66,83),"Prashasti"->List(56,71,95),"Prem"->List(95,96,85))) =
Physics - Supriya - 98
Chemistry - Prem - 96
Maths - Prashasti - 95

displayToppers(Map("Priya"->List(83,79,46),"Aditya"->List(91,79,51))) =
Physics - Aditya - 91
Chemistry - Priya,Aditya - 79
Maths - Aditya - 51

In [ ]:
def displayToppers(students):

    # Initialize dictionaries to store highest marks and corresponding students for each subject
    subjects = ['Physics', 'Chemistry', 'Maths']
    top_marks = {subject: 0 for subject in subjects}
    top_students = {subject: [] for subject in subjects}

    # Iterate through each student and their marks
    for student, marks in students.items():
        for i,mark in enumerate(marks):
            subject = subjects[i]
            if mark > top_marks[subject]:
                top_marks[subject] = mark
                top_students[subject] = [student]
            elif mark == top_marks[subject] :
                top_students[subject].append(student)

    # Display the results
    for subject in subjects:
        top_students_str = ','.join(top_students[subject])
        print(f"{subject} - {top_students_str} - {top_marks[subject]}")

In [ ]:
# Test cases
student_marks_1 = {
    "Angad": [83, 92, 74],
    "Supriya": [98, 66, 83],
    "Prashasti": [56, 71, 95],
    "Prem": [98, 96, 85]
}

student_marks_2 = {
    "Priya": [83, 79, 46],
    "Aditya": [91, 79, 51]
}

displayToppers(student_marks_1)
print("*"*15)
displayToppers(student_marks_2)

Physics - Supriya,Prem - 98
Chemistry - Prem - 96
Maths - Prashasti - 95
***************
Physics - Aditya - 91
Chemistry - Priya,Aditya - 79
Maths - Aditya - 51

# 52.

In [ ]:
ðŸ’» Write a function which takes 3 input parameters (input_string,search_string,min_times)
and returns true if search_string appears in the input_string at least 'min_times' number of times
else return false - as shown in the samples.

isAppearingMinTimes("can we cancel flight ticket?","can",2) = true
//Explanation: "can" is appearing 2 times, so true.

isAppearingMinTimes("not sure what to do on sunday","sunday",80) = false
//Explanation: "sunday" is appearing only 1 time, whereas its required to appear at least 80 times. So, false.

isAppearingMinTimes("one of my goals is going to goa wearing goggles","go",3) = true
//Explanation: "go" is appearing 4 times (>= 3), so true.

In [ ]:
def isAppearingMinTimes(input_string,search_string,min_times) :
    return input_string.count(search_string)>=min_times

In [ ]:
print(isAppearingMinTimes("can we cancel flight ticket?","can",2))
print(isAppearingMinTimes("not sure what to do on sunday","sunday",80))
print(isAppearingMinTimes("one of my goals is going to goa wearing goggles","go",3))

True
False
True

In [ ]:
def isAppearingMinTimes(input_string, search_string, min_times):
    # Split the input_string by the search_string
    parts = input_string.split(search_string)

    # Number of occurrences is one less than the number of parts
    count = len(parts) - 1

    # Return True if count is greater than or equal to min_times
    return count >= min_times

# Test cases
print(isAppearingMinTimes("can we cancel flight ticket?", "can", 2))  # True
print(isAppearingMinTimes("not sure what to do on sunday", "sunday", 80))  # False
print(isAppearingMinTimes("one of my goals is going to goa wearing goggles", "go", 3))  # True

True
False
True

In [ ]:
x,y = "can we cancel flight ticket?", "can"
x

'can we cancel flight ticket?'

In [ ]:
y

'can'

In [ ]:
x.split(y)

['', ' we ', 'cel flight ticket?']

In [ ]:
def isAppearingMinTimes(input_string, search_string, min_times):
    count = 0
    start = 0

    # Loop to search for occurrences of search_string in input_string
    while True:
        # Find the search_string starting from 'start'
        pos = input_string.find(search_string, start)

        # If no more occurrences are found, break the loop
        if pos == -1:
            break

        # Increment count and update start to search after this occurrence
        count += 1
        start = pos + len(search_string)

        # If count reaches or exceeds min_times, return True early
        if count >= min_times:
            return True

    # If the loop finishes and count is still less than min_times, return False
    return False

# Test cases
print(isAppearingMinTimes("can we cancel flight ticket?", "can", 2))  # True
print(isAppearingMinTimes("not sure what to do on sunday", "sunday", 80))  # False
print(isAppearingMinTimes("one of my goals is going to goa wearing goggles", "go", 3))  # True

True
False
True

In [ ]:
51.

ðŸ’» Write a function which takes 2 input strings [input_string,remove_char_string] and
returns string such that all characters present in remove_char_string is eliminated from
input_string - as shown in the samples.

getCharRemoved("CrQeatLQivity iQs intelLLLligenLLLce havQing fLuQLn.","LQ") =
Creativity is intelligence having fun.
//Explanation: Characters L & Q are removed.

getCharRemoved("Creativity is intelligence having fun.","r") =
Ceativity is intelligence having fun.
//Explanation: Character r is removed.

getCharRemoved("Creativity is intelligence having fun.","rti") =
Ceavy s nellgence havng fun.
//Explanation: Character r, t & i are removed.

In [ ]:
def getCharRemoved(s1,s2):
    list_s2 = list(s2)
    final=''
    for i in s1:
        if i not in list_s2:
            final+=i
    return final

In [ ]:
print(getCharRemoved("CrQeatLQivity iQs intelLLLligenLLLce havQing fLuQLn.","LQ"))
print(getCharRemoved("Creativity is intelligence having fun.","r"))
print(getCharRemoved("Creativity is intelligence having fun.","rti"))

Creativity is intelligence having fun.
Ceativity is intelligence having fun.
Ceavy s nellgence havng fun.

In [ ]:
def getCharRemoved(input_string, remove_char_string):
    # Create a set of characters to be removed for efficient lookup
    remove_chars = set(remove_char_string)

    # Use a list comprehension to filter out the characters in remove_chars
    result = ''.join([char for char in input_string if char not in remove_chars])

    return result

# Test cases
print(getCharRemoved("CrQeatLQivity iQs intelLLLligenLLLce havQing fLuQLn.","LQ"))
# Output: Creativity is intelligence having fun.

print(getCharRemoved("Creativity is intelligence having fun.","r"))
# Output: Ceativity is intelligence having fun.

print(getCharRemoved("Creativity is intelligence having fun.","rti"))
# Output: Ceavy s nellgence havng fun.

Creativity is intelligence having fun.
Ceativity is intelligence having fun.
Ceavy s nellgence havng fun.

In [ ]:
def getCharRemoved(input_string, remove_char_string):
    for i in remove_char_string:
        input_string = input_string.replace(i,'')
    return input_string

In [ ]:
print(getCharRemoved("CrQeatLQivity iQs intelLLLligenLLLce havQing fLuQLn.","LQ"))
print(getCharRemoved("Creativity is intelligence having fun.","r"))
print(getCharRemoved("Creativity is intelligence having fun.","rti"))

Creativity is intelligence having fun.
Ceativity is intelligence having fun.
Ceavy s nellgence havng fun.

In [ ]:
50.

ðŸ’» Write a function which takes a string as input and returns string such
that it represents run length encoding - as shown in the samples.

getRunLengthEncoding("aaakkptttt") = "a3k2p1t4"

getRunLengthEncoding("bbbbbbbba") = "b8a1"

getRunLengthEncoding("uuvvvvghiii") = "u2v4g1h1i3"

In [ ]:
def getRunLengthEncoding(l):
    if not l:
        return ""

    char=l[0]
    n=len(l)
    count=0
    temp=''

    for i in range(n):
        if l[i]==char:
            count+=1
        else:
            temp+=char+str(count)
            count=1
            char=l[i]
    temp+=char+str(count)
    return ''.join(temp)

In [ ]:
print(getRunLengthEncoding("aaakkptttt"))
print(getRunLengthEncoding("bbbbbbbba"))
print(getRunLengthEncoding("uuvvvvghiii"))

a3k2p1t4
b8a1
u2v4g1h1i3

In [ ]:
def getRunLengthEncoding(l):
    if not l:  # Handle empty string edge case
        return ""

    char = l[0]
    count = 1  # Start with a count of 1 for the first character
    temp = ''

    for i in range(1, len(l)):  # Start from the second character
        if l[i] == char:
            count += 1
        else:
            temp += char + str(count)
            char = l[i]
            count = 1

    # Add the last character and its count
    temp += char + str(count)

    return temp

# Sample Test Cases
print(getRunLengthEncoding("aaakkptttt"))  # Output: "a3k2p1t4"
print(getRunLengthEncoding("bbbbbbbba"))   # Output: "b8a1"
print(getRunLengthEncoding("uuvvvvghiii")) # Output: "u2v4g1h1i3"

a3k2p1t4
b8a1
u2v4g1h1i3

In [ ]:
def getRunLengthEncoding(s):
    if not s:  # Handle empty string edge case
        return ""

    encoded_string = []
    count = 1  # Start with a count of 1 for the first character

    # Loop through the string starting from the second character
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:  # If the current character is the same as the previous one, increment count
            count += 1
        else:
            # Add the previous character and its count to the result
            encoded_string.append(s[i - 1] + str(count))
            count = 1  # Reset count for the new character

    # Add the last character and its count
    encoded_string.append(s[-1] + str(count))

    # Join the list into a string and return
    return ''.join(encoded_string)

# Sample Test Cases
print(getRunLengthEncoding("aaakkptttt"))  # Output: "a3k2p1t4"
print(getRunLengthEncoding("bbbbbbbba"))   # Output: "b8a1"
print(getRunLengthEncoding("uuvvvvghiii")) # Output: "u2v4g1h1i3"

a3k2p1t4
b8a1
u2v4g1h1i3

In [ ]:
49.

ðŸ’» Write a function which takes a string as input and returns boolean which is true
if for every character '#' present in the string, the character before and after it is the same,
else return false - as shown in the samples.

isMatch("Another story 3#3 note") = true
//Explanation: Character before and after # is 3, so true.

isMatch("This is little a#b another") = false
//Explanation: Character before and after # are a & b respectively, its mismatching, so false.

isMatch("Another story") = true
//Explanation: No # present.

isMatch("888p#p999#j50") = false
//Explanation: Characters before and after 2nd # are 9 & j, so false.

isMatch("K#K2345#5jm#m") = true
//Explanation: Characters before and after # (K&K, 5&5, m&m) are matching, so true.

In [ ]:
def isMatch(s):
    n=len(s)
    for i in range(1,n-1):
        if s[i]=='#':
            if s[i-1]!=s[i+1]:
                return False
    return True

In [ ]:
print( isMatch("Another story 3#3 note") )
print( isMatch("This is little a#b another") )
print( isMatch("Another story") )
print( isMatch("888p#p999#j50") )
print( isMatch("K#K2345#5jm#m") )

True
False
True
False
True

In [ ]:
import re

def isMatch(s):
    # Regular expression pattern to match `a#b` where `a` == `b`
    pattern = re.compile(r'(\w)#\1')

    # Find all occurrences that match the pattern
    matches = pattern.findall(s)

    # Check if all occurrences match and return the result
    return len(matches) == len([i for i in range(len(s)) if s[i] == '#'])

In [ ]:
print( isMatch("Another story 3#3 note") )
print( isMatch("This is little a#b another") )
print( isMatch("Another story") )
print( isMatch("888p#p999#j50") )
print( isMatch("K#K2345#5jm#m") )

True
False
True
False
True

In [ ]:
48.

ðŸ’» Write a function which takes 2 inputs - "Map of String,'List of String'"
[which is Map of email_id & list of skills] & "Array of search skills" &
returns "List of Strings" which are email_id which has all of the search_skills - as shown in the samples.

getRequiredProfile(Map("aanchal@gmail.com"->List("Spark","C++","SQL"),
                       "kailash@gmail.com"->List("Python","Power BI","Tableau","OpenCV"),
                       "yadu@gmail.com"->List("SQL","Scala","Spark","Hive","Tableau")),Array("Spark","SQL")) =
List("aanchal@gmail.com","yadu@gmail.com")
//Explanation: Both aanchal@gmail.com & yadu@gmail.com has all the required skills of "Spark" & "SQL".

getRequiredProfile(Map("aanchal@gmail.com"->List("Spark","C++","SQL"),
                       "kailash@gmail.com"->List("Python","Power BI","Tableau","OpenCV"),
                       "yadu@gmail.com"->List("SQL","Scala","Spark","Hive","Tableau")),Array("Spark","SQL","Python")) =
List()
//Explanation: No profile has required skillset of "Spark","SQL" & "Python".

getRequiredProfile(Map("aanchal@gmail.com"->List("Spark","C++","SQL"),
                       "kailash@gmail.com"->List("Python","Power BI","Tableau","OpenCV"),
                       "yadu@gmail.com"->List("SQL","Scala","Spark","Hive","Tableau")),Array("Tableau")) =
List("kailash@gmail","yadu@gmail")
//Explanation: Both kailash@gmail.com & yadu@gmail.com has the required skill of "Tableau".

In [ ]:
def getRequiredProfile(skill_map, search_skills):
    email_result= []
    for k,v in skill_map.items():
        if all(each_skill in v for each_skill in search_skills):
            email_result.append(k)
    return email_result

In [ ]:
skill_map = {
    "aanchal@gmail.com": ["Spark", "C++", "SQL"],
    "kailash@gmail.com": ["Python", "Power BI", "Tableau", "OpenCV"],
    "yadu@gmail.com": ["SQL", "Scala", "Spark", "Hive", "Tableau"]
}
search_skills = ["Spark", "SQL"]
print(getRequiredProfile(skill_map, search_skills))


print("*"*20)
skill_map = {
    "aanchal@gmail.com": ["Spark", "C++", "SQL"],
    "kailash@gmail.com": ["Python", "Power BI", "Tableau", "OpenCV"],
    "yadu@gmail.com": ["SQL", "Scala", "Spark", "Hive", "Tableau"]
}
search_skills = ["Spark", "SQL", "Python"]
print(getRequiredProfile(skill_map, search_skills))
print("*"*20)

skill_map = {
    "aanchal@gmail.com": ["Spark", "C++", "SQL"],
    "kailash@gmail.com": ["Python", "Power BI", "Tableau", "OpenCV"],
    "yadu@gmail.com": ["SQL", "Scala", "Spark", "Hive", "Tableau"]
}
search_skills = ["Tableau"]
print(getRequiredProfile(skill_map, search_skills))

['aanchal@gmail.com', 'yadu@gmail.com']
********************
[]
********************
['kailash@gmail.com', 'yadu@gmail.com']

In [ ]:
a = ["Spark", "SQL"]
b_list = ["Spark", "C++", "SQL"]
all([skill in b_list for skill in a])

True

In [ ]:
a = ["Spark", "Tableau"]
b_list = ["Spark", "C++", "SQL"]
all([skill in b_list for skill in a])

False

In [ ]:
def getRequiredProfile(skill_map, search_skills):
    search_skills_set = set(search_skills)  # Convert search skills to a set for efficient lookup
    result = []

    # Loop through each email and associated skill set
    for email, skills in skill_map.items():
        skills_set = set(skills)  # Convert the skills list to a set
        if search_skills_set.issubset(skills_set):  # Check if all search skills are in the skills set
            result.append(email)

    return result

# Test cases
profiles = {
    "aanchal@gmail.com": ["Spark", "C++", "SQL"],
    "kailash@gmail.com": ["Python", "Power BI", "Tableau", "OpenCV"],
    "yadu@gmail.com": ["SQL", "Scala", "Spark", "Hive", "Tableau"]
}

# Test case 1
print(getRequiredProfile(profiles, ["Spark", "SQL"]))
# Output: ["aanchal@gmail.com", "yadu@gmail.com"]

# Test case 2
print(getRequiredProfile(profiles, ["Spark", "SQL", "Python"]))
# Output: []

# Test case 3
print(getRequiredProfile(profiles, ["Tableau"]))
# Output: ["kailash@gmail.com", "yadu@gmail.com"]

['aanchal@gmail.com', 'yadu@gmail.com']
[]
['kailash@gmail.com', 'yadu@gmail.com']

In [ ]:
47.

ðŸ’» Write a function which takes "Array of Strings" as
input(containing name followed by bonus_amount and then location)
and returns "Array of Strings" such that bonus_amount part is increased by 1000 - as shown in the samples.
Note: bonus_amount always has 2 decimal places in the input.

getIncreasedBonus(Array("Rohan8500.56Delhi","Shivani84.00Pune","Lakshya0.00Pune")) =
Array("Rohan9500.56Delhi","Shivani1084.00Pune","Lakshya1000.00Pune")

getIncreasedBonus(Array("Arjun750.23Indore","Mohini3800.50Chennai","Ritu1530.00Lucknow","Ashok10000.25Kolkata")) =
Array("Arjun1750.23Indore","Mohini4800.50Chennai","Ritu2530.00Lucknow","Ashok11000.25Kolkata")

In [ ]:
# Best use of next function

def getIncreasedBonus(arr):
    result = []
    for item in arr:
        # Find the position of the first digit and the decimal point
        first_digit_pos = next(i for i, char in enumerate(item) if char.isdigit())
        decimal_pos = item.index('.')

        # Extract name, bonus, and location
        name = item[:first_digit_pos]
        bonus = float(item[first_digit_pos:decimal_pos+3])
        location = item[decimal_pos+3:]

        # Increase bonus by 1000
        new_bonus = bonus + 1000

        # Format the new bonus to have 2 decimal places
        formatted_bonus = f"{new_bonus:.2f}"

        # Combine the parts back into a string
        new_item = f"{name}{formatted_bonus}{location}"
        result.append(new_item)

    return result

# Test the function
test1 = ["Rohan8500.56Delhi", "Shivani84.00Pune", "Lakshya0.00Pune"]
test2 = ["Arjun750.23Indore", "Mohini3800.50Chennai", "Ritu1530.00Lucknow", "Ashok10000.25Kolkata"]

print(getIncreasedBonus(test1))
print(getIncreasedBonus(test2))

['Rohan9500.56Delhi', 'Shivani1084.00Pune', 'Lakshya1000.00Pune']
['Arjun1750.23Indore', 'Mohini4800.50Chennai', 'Ritu2530.00Lucknow', 'Ashok11000.25Kolkata']

In [ ]:
import re

def getIncreasedBonus(arr):
    result = []
    for item in arr:
        # Use regex to split the string into name, bonus, and location
        match = re.match(r'([a-zA-Z]+)(\d+\.\d{2})(.+)', item)
        if match:
            name, bonus, location = match.groups()

            # Convert bonus to float and increase by 1000
            new_bonus = float(bonus) + 1000

            # Format the new bonus to have 2 decimal places
            formatted_bonus = f"{new_bonus:.2f}"

            # Combine the parts back into a string
            new_item = f"{name}{formatted_bonus}{location}"
            result.append(new_item)
        else:
            # If the string doesn't match the expected format, add it to the result unchanged
            result.append(item)

    return result

# Test the function
test1 = ["Rohan8500.56Delhi", "Shivani84.00Pune", "Lakshya0.00Pune"]
test2 = ["Arjun750.23Indore", "Mohini3800.50Chennai", "Ritu1530.00Lucknow", "Ashok10000.25Kolkata"]

print(getIncreasedBonus(test1))
print(getIncreasedBonus(test2))

['Rohan9500.56Delhi', 'Shivani1084.00Pune', 'Lakshya1000.00Pune']
['Arjun1750.23Indore', 'Mohini4800.50Chennai', 'Ritu2530.00Lucknow', 'Ashok11000.25Kolkata']

In [ ]:
import re

def getIncreasedBonus(array):
    result = []

    for entry in array:
        # Use a regular expression to match the first number in the string
        match = re.search(r'\d+\.\d{2}', entry)

        if match:
            # Extract the name, bonus amount, and location parts
            bonus_amount_str = match.group()  # Extract matched bonus amount
            name = entry[:match.start()]      # Part before the bonus amount is the name
            location = entry[match.end():]    # Part after the bonus amount is the location

            # Convert bonus_amount to float, increase it, and format it back
            bonus_amount = float(bonus_amount_str)
            updated_bonus_amount = bonus_amount + 1000
            updated_bonus_amount_str = f"{updated_bonus_amount:.2f}"

            # Reconstruct the updated string
            updated_entry = f"{name}{updated_bonus_amount_str}{location}"
            result.append(updated_entry)

    return result

# Test cases
print(getIncreasedBonus(["Rohan8500.56Delhi", "Shivani84.00Pune", "Lakshya0.00Pune"]))
# Output: ["Rohan9500.56Delhi", "Shivani1084.00Pune", "Lakshya1000.00Pune"]

print(getIncreasedBonus(["Arjun750.23Indore", "Mohini3800.50Chennai", "Ritu1530.00Lucknow", "Ashok10000.25Kolkata"]))
# Output: ["Arjun1750.23Indore", "Mohini4800.50Chennai", "Ritu2530.00Lucknow", "Ashok11000.25Kolkata"]

['Rohan9500.56Delhi', 'Shivani1084.00Pune', 'Lakshya1000.00Pune']
['Arjun1750.23Indore', 'Mohini4800.50Chennai', 'Ritu2530.00Lucknow', 'Ashok11000.25Kolkata']

In [ ]:
46.

ðŸ’» Write a function which takes "List of Strings" as input and returns "Map of String,Boolean"
such that boolean part is true if a string occurs more than once else its false - as shown in the samples.

checkMultiOccur(List("Spark","Window","Spark","Fan","Window")) =
Map("Spark"->true,"Window"->true,"Fan"->false)
//Explanation: Spark & Window occurs more than once, hence true.
//Fan occurs once, hence false.

checkMultiOccur(List("Happy","Joy","Dolphin","Happy","Happy"))
Map("Happy"->true,"Joy"->false,"Dolphin"->false)

In [ ]:
def checkMultiOccur(l):
    char_count={}

    for i in l:
        if l.count(i)>1:
            char_count[i]=True
        else:
            char_count[i]=False
    return char_count

In [ ]:
print(checkMultiOccur(["Spark","Window","Spark","Fan","Window"]))
print(checkMultiOccur(["Happy","Joy","Dolphin","Happy","Happy"]))

{'Spark': True, 'Window': True, 'Fan': False}
{'Happy': True, 'Joy': False, 'Dolphin': False}

In [ ]:
def checkMultiOccur(strings):
    # Create a dictionary to store the occurrences of each string
    occur_map = {}

    # Count occurrences of each string
    for string in strings:
        if string in occur_map:
            occur_map[string] += 1
        else:
            occur_map[string] = 1

    # Create the result map with boolean values
    result = {string: (count > 1) for string, count in occur_map.items()}

    return result

# Test cases
print(checkMultiOccur(["Spark", "Window", "Spark", "Fan", "Window"]))
# Output: {'Spark': True, 'Window': True, 'Fan': False}

print(checkMultiOccur(["Happy", "Joy", "Dolphin", "Happy", "Happy"]))
# Output: {'Happy': True, 'Joy': False, 'Dolphin': False}

{'Spark': True, 'Window': True, 'Fan': False}
{'Happy': True, 'Joy': False, 'Dolphin': False}

In [ ]:
# 45.

ðŸ’» Write a function which takes "List of Integers" as input and returns "List of Intgers"
such that 1st half of the list is as at is & 2nd half of the list is reversed - as shown in the samples.

getHalfReversedList(List(10,20,30,40,50,60)) =
List(10,20,30,60,50,40)

getHalfReversedList(List(10,20,80,45,93)) =
List(10,20,93,45,80)

getHalfReversedList(List(90,80)) =
List(90,80)

In [ ]:
def getHalfReversedList(l):
    n=len(l)
    return l[:n//2]+l[n//2:][::-1]

In [ ]:
print( getHalfReversedList([10,20,30,40,50,60]) )
print( getHalfReversedList([10,20,80,45,93]) )
print( getHalfReversedList([90,80]) )

[10, 20, 30, 60, 50, 40]
[10, 20, 93, 45, 80]
[90, 80]

In [ ]:
44.

ðŸ’» Write a function which takes "List of Characters" as input and returns
"List of List of Characters" such that each inner list contains all the repeated characters - as shown in the samples.

getRepeatItem(List('a','c','a','a','b','c')) =
List(List('a','a,',a'),List('b'),List('c','c'))

getRepeatItem(List('d','d','b','d','c','a','a')) =
List(List('d','d','d'),List('c'),List('b'),List('a','a'))

In [ ]:
def getRepeatItem(l):

    repeat_dict={}

    for i in l:
        if i in repeat_dict:
            repeat_dict[i].append(i)
        else:
            repeat_dict[i]= [i]

    # Sort the result to match the required format:
    # 1. First by the length of the list (descending)
    # 2. Then by the character itself (lexicographically)

    result = list(repeat_dict.values())
    result.sort(key=lambda x:(-len(x),x[0]))
    return result

In [ ]:
print(getRepeatItem(['a','c','a','a','b','c']))
print(getRepeatItem(['d','d','b','d','c','a','a']))

[['a', 'a', 'a'], ['c', 'c'], ['b']]
[['d', 'd', 'd'], ['a', 'a'], ['b'], ['c']]

In [ ]:
def getRepeatItem(l):
    repeat_dict={}

    for i in l:
        char = i
        if char not in repeat_dict:
            repeat_dict[char]= []

        repeat_dict[char].append(i)

    return list(repeat_dict.values())

In [ ]:
print(getRepeatItem(['a','c','a','a','b','c']))
print(getRepeatItem(['d','d','b','d','c','a','a']))

[['a', 'a', 'a'], ['c', 'c'], ['b']]
[['d', 'd', 'd'], ['b'], ['c'], ['a', 'a']]

In [ ]:
result = [['a', 'a', 'a'], ['c', 'c'], ['b']]

# Sorting without minus
result.sort(key=lambda x: len(x))
print(result)  # Output: [['b'], ['c', 'c'], ['a', 'a', 'a']]  (ascending order of lengths)

# Sorting with minus
result.sort(key=lambda x: -len(x))
print(result)  # Output: [['a', 'a', 'a'], ['c', 'c'], ['b']]  (descending order of lengths)

[['b'], ['c', 'c'], ['a', 'a', 'a']]
[['a', 'a', 'a'], ['c', 'c'], ['b']]

In [ ]:
43.

ðŸ’» Write a function which takes a character and integer as input - starting_char & total_elements.
We need to get series of alphabets beginning with specified starting_char having character
count of total_elements & return it as a string - as shown in the samples.

Note: If total_elements exceeds beyond character 'Z', the output string should be left padded with #.

getAlphas('E',3) =
"EFG"

getAlphas('Y',6) =
"####YZ"

getAlphas('B',7) =
"BCDEFGH"

In [ ]:
def getAlphas(starting_char,total_elements):

    result=''

    for i in range(total_elements):
        temp_char = ord(starting_char) + i
        if temp_char<=90 :
            result+=chr(temp_char)
        else:
            result= '#'+ result
    return result

In [ ]:
print( getAlphas('E',3) )
print( getAlphas('Y',6) )
print( getAlphas('B',7) )

EFG
####YZ
BCDEFGH

In [ ]:
def getAlphas(starting_char, total_elements):
    result = []

    # Find the ASCII value of the starting character
    start_ascii = ord(starting_char.upper())

    # Loop to generate the characters
    for i in range(total_elements):
        current_ascii = start_ascii + i

        # If it exceeds 'Z', pad with '#'
        if current_ascii > ord('Z'):
            result.insert(0, '#')  # Insert at the beginning to pad
        else:
            result.append(chr(current_ascii))

    # Convert list to string and return
    return ''.join(result)

# Test cases
print(getAlphas('E', 3))   # Output: "EFG"
print(getAlphas('Y', 6))   # Output: "####YZ"
print(getAlphas('B', 7))   # Output: "BCDEFGH"

EFG
####YZ
BCDEFGH

In [ ]:
char_A = chr(65)
char_Z = chr(90)
print(char_A, char_Z)  # Output will be 'A'

ascii_A = ord('A')
ascii_Z = ord('Z')
print(ascii_A, ascii_Z)  # Output will be 65

A Z
65 90

In [ ]:
42.

ðŸ’» Write a function which takes a "List of String" as input wherein elements are country names
and returns "List of Tuple of String" showing the unique combination of matches between 2 countries - as shown in the samples.

getMatches(List("IND","AUS","WI")) =
List(("IND","AUS"),("IND","WI"),("AUS","WI"))

getMatches(List("IND","ENG")) =
List(("IND","ENG"))

getMatches(List("AUS","NZ","SA","BAN")) =
List(("AUS","NZ"),("AUS","SA"),("AUS","BAN"),("NZ","SA"),("NZ","BAN"),("SA","BAN"))

In [ ]:
def getMatches(l):
    final=[]
    for i in range(len(l)):
        for j in range(i+1, len(l)):
            final.append(tuple((l[i],l[j])))
    return final

In [ ]:
print(getMatches(["IND","AUS","WI"]))
print(getMatches(["IND","ENG"]))
print(getMatches(["AUS","NZ","SA","BAN"]))

[('IND', 'AUS'), ('IND', 'WI'), ('AUS', 'WI')]
[('IND', 'ENG')]
[('AUS', 'NZ'), ('AUS', 'SA'), ('AUS', 'BAN'), ('NZ', 'SA'), ('NZ', 'BAN'), ('SA', 'BAN')]

In [ ]:
def getMatches(team_list):
    n = len(team_list)
    for i in range(n):
        for j in range(i + 1, n):
            yield (team_list[i], team_list[j])

# Test the function
print(list(getMatches(["IND", "AUS", "WI"])))
print(list(getMatches(["IND", "ENG"])))
print(list(getMatches(["AUS", "NZ", "SA", "BAN"])))

[('IND', 'AUS'), ('IND', 'WI'), ('AUS', 'WI')]
[('IND', 'ENG')]
[('AUS', 'NZ'), ('AUS', 'SA'), ('AUS', 'BAN'), ('NZ', 'SA'), ('NZ', 'BAN'), ('SA', 'BAN')]

In [ ]:
l = ['ind','sri','aus']
import random
[tuple(random.choices(l,k=2)) for i in range(3)]

[('ind', 'aus'), ('ind', 'sri'), ('ind', 'ind')]

In [ ]:
41.

ðŸ’» Write a function which takes a number & character as input and returns boolean.
Number represents the total times a coin is tossed. Character holds 'H' or 'T' depending on the user preference.
We need to generate random chars of 'H'/'T' given number times & return true
if count of user_preference is equal or more than not desired result - as shown in the samples.

isUserLucky(5,'H') = true
//Explanation: On tossing the coin 5 times, below result was found
// 'T','H','T','H','H' (randomly generated)
//As count of 'H'(user preference) is more number of times than 'T',
// function returns true.

isUserLucky(3,'T') = false
//Explanation: On tossing the coin 3 times, below result was found
// 'H','H','H' (randomly generated)
//As count of 'T'(user preference) is lesser than 'H',
// function returns false.

In [ ]:
import random
def isUserLucky(n,head_tail_flag):
    head_tail_list = ['H','T']

    if head_tail_flag not in head_tail_list:
        return 'Please enter "H" or "T" only!!!'

    h_count, t_count = 0, 0
    all_coin_result = []

    for i in range(n):
        each_coin_result = random.choice(head_tail_list)
        all_coin_result.append(each_coin_result)
        if each_coin_result == 'H':
            h_count+=1
        else:
            t_count+=1

    if head_tail_flag == 'H' and h_count >= t_count:
        return (all_coin_result, head_tail_flag, h_count, True)
    elif head_tail_flag == 'T' and t_count >= h_count:
        return (all_coin_result, head_tail_flag, t_count, True)
    else:
        return (all_coin_result, head_tail_flag, h_count,t_count, False)

In [ ]:
print(isUserLucky(5,'H'))
print(isUserLucky(3,'T'))
print(isUserLucky(8,'H'))
print(isUserLucky(5,'B'))

(['T', 'T', 'T', 'H', 'H'], 'H', 2, 3, False)
(['H', 'T', 'T'], 'T', 2, True)
(['H', 'H', 'T', 'H', 'T', 'T', 'T', 'T'], 'H', 3, 5, False)
Please enter "H" or "T" only!!!

In [ ]:
import random

def isUserLucky(num_tosses, user_preference):
    if user_preference not in ['H', 'T']:
        raise ValueError("User preference must be 'H' or 'T'")

    # Generate random tosses
    tosses = [random.choice(['H', 'T']) for _ in range(num_tosses)]

    # Count the occurrences of user's preference
    preference_count = tosses.count(user_preference)

    # Count the occurrences of the other outcome
    other_outcome = 'T' if user_preference == 'H' else 'H'
    other_count = tosses.count(other_outcome)

    # User is lucky if their preference occurs at least as many times as the other outcome
    is_lucky = preference_count >= other_count

    # For demonstration purposes, print the tosses (you can remove this in production)
    print(f"Tosses: {tosses}")

    return is_lucky

# Test the function
print(isUserLucky(5,'H'))
print(isUserLucky(3,'T'))
print(isUserLucky(8,'H'))
print(isUserLucky(5,'B'))

Tosses: ['T', 'H', 'H', 'T', 'T']
False
Tosses: ['H', 'T', 'T']
True
Tosses: ['H', 'H', 'H', 'T', 'H', 'T', 'T', 'H']
True

ValueError: User preference must be 'H' or 'T'

In [ ]:
import random

def isUserLucky(n, head_tail_flag):
    head_tail_list = ['H', 'T']

    if head_tail_flag not in head_tail_list:
        raise ValueError('Please enter "H" or "T" only!!!')

    all_coin_result = [random.choice(head_tail_list) for _ in range(n)]
    h_count = all_coin_result.count('H')
    t_count = n - h_count

    if head_tail_flag == 'H':
        is_lucky = h_count >= t_count
        preference_count = h_count
    else:  # head_tail_flag == 'T'
        is_lucky = t_count >= h_count
        preference_count = t_count

    return (all_coin_result, head_tail_flag, preference_count, h_count, t_count, is_lucky)

# Example usage:
try:
    result = isUserLucky(5, 'H')
    print(f"Tosses: {result[0]}")
    print(f"User preference: {result[1]}")
    print(f"Preference count: {result[2]}")
    print(f"H count: {result[3]}, T count: {result[4]}")
    print(f"Is user lucky? {result[5]}")
except ValueError as e:
    print(str(e))

Tosses: ['H', 'H', 'H', 'T', 'T']
User preference: H
Preference count: 3
H count: 3, T count: 2
Is user lucky? True

In [ ]:
40.

ðŸ’» Write a function which takes "List of Strings" as input (which are usernames) and
return "List of List of Strings" such that each inner list is group of users whose name begins
with same letter - as shown in the samples.

List("Roy","Samay","Samaksh","Disha","Siri","Dev") =
List(List("Roy"),List("Samay","Samaksh","Siri"),List("Disha","Dev"))

List("Priyanka","Atul","Ajay","Nitin","Arun","Nikhil","Pavan") =
List(List("Priyanka","Pavan"),List("Atul","Ajay","Arun"),List("Nitin","Nikhil"))

In [ ]:
def same_user(l):
    result=[]
    start_name_list = [i[0] for i in l]

    for start in start_name_list:
        namelist=[]
        for name in l:
            if name.startswith(start):
                namelist.append(name)
        if namelist not in result:
            result.append(namelist)
    return result

In [ ]:
print(same_user(["Roy","Samay","Samaksh","Disha","Siri","Dev"]))
print(same_user(["Priyanka","Atul","Ajay","Nitin","Arun","Nikhil","Pavan"]))

[['Roy'], ['Samay', 'Samaksh', 'Siri'], ['Disha', 'Dev']]
[['Priyanka', 'Pavan'], ['Atul', 'Ajay', 'Arun'], ['Nitin', 'Nikhil']]

In [ ]:
def groupUsernames(usernames):
    grouped_users = {}

    for user in usernames:
        first_letter = user[0]

        if first_letter not in grouped_users:
            grouped_users[first_letter]=[]
        grouped_users[first_letter].append(user)

    return list(grouped_users.values())

In [ ]:
print(groupUsernames(["Roy","Samay","Samaksh","Disha","Siri","Dev"]))
print(groupUsernames(["Priyanka","Atul","Ajay","Nitin","Arun","Nikhil","Pavan"]))

[['Roy'], ['Samay', 'Samaksh', 'Siri'], ['Disha', 'Dev']]
[['Priyanka', 'Pavan'], ['Atul', 'Ajay', 'Arun'], ['Nitin', 'Nikhil']]

In [ ]:
39.

ðŸ’» Write a function which takes two integers as input (total_elements,last_number)
and return "List of Integers" such that there are 'total_elements' random numbers &
these can range from 1 to 'last_number' both inclusive - as shown in the samples.

getRandomList(3,90) = List(45,6,11)

getRandomList(3,90) = List(78,89,34)

getRandomList(5,40) = List(6,40,39,19,1)

Note: As expected, these outputs will not be in synch with what we get in our next runs.

In [ ]:
import random
def getRandomList(total_elements,last_number):
    return [random.randint(1,last_number) for i in range(total_elements)]

In [ ]:
print(getRandomList(3,90))
print(getRandomList(3,90))
print(getRandomList(5,40))

[44, 28, 78]
[6, 22, 21]
[31, 9, 38, 37, 4]

In [ ]:
38.

ðŸ’» Write a function which takes "List of Characters" as input and returns "List of Characters"
such that for any of the consecutive repeated characters replace it by single character &
the order of characters must be maintained - as shown in the samples.

removeConsecChars(List('b','b','d','b','b','b','a')) = List('b','d','b','a')

removeConsecChars(List('a','b','a','c','c')) = List('a','b','a','c')

removeConsecChars(List('d','k','k','k','e','e','d','c')) = List('d','k','e','d','c')

In [ ]:
def removeConsecChars(l):
    result=[l[0]]

    for i in range(1,len(l)):
        if l[i-1]!=l[i]:
            result.append(l[i])
    return result

In [ ]:
print(removeConsecChars(['b','b','d','b','b','b','a']))
print(removeConsecChars(['a','b','a','c','c']))
print(removeConsecChars(['d','k','k','k','e','e','d','c']))

['b', 'd', 'b', 'a']
['a', 'b', 'a', 'c']
['d', 'k', 'e', 'd', 'c']

In [ ]:
def removeConsecChars(char_list):
    if not char_list:
        return []

    result = [char_list[0]]  # Start with the first character

    for char in char_list[1:]:
        if char != result[-1]:
            result.append(char)

    return result

# Test the function
print(removeConsecChars(['b','b','d','b','b','b','a']))
print(removeConsecChars(['a','b','a','c','c']))
print(removeConsecChars(['d','k','k','k','e','e','d','c']))

['b', 'd', 'b', 'a']
['a', 'b', 'a', 'c']
['d', 'k', 'e', 'd', 'c']

In [ ]:
37.

ðŸ’» Write a function which takes a number as input and generates a pattern - as shown in the samples.
- Number should be in the range 1 to 99 else we need to print "Input out of Range".

generatePattern(4) =
04
0403
040302
04030201

generatePattern(10) =
10
1009
100908
10090807
1009080706
100908070605
10090807060504
1009080706050403
100908070605040302
10090807060504030201

generatePattern(120) =
Input out of Range

In [ ]:
36.

ðŸ’» Write a function which takes a string as input (which is local file path).
We need to read this file and find & return total occurrence of keyword 'long' irrespective
whether its separate word or part of another word - as shown in the samples.
Note: Duplicates are to be considered in the count.

getLongCount("/user/loc/file1.txt")
= 3
//Explanation: longest longer & long - are the 3 occurrences of long.
//*** Content of file1.txt ***
I am taking the longest ride, longer than I thought.
Just thinking, life, if well lived, is long enough.

getLongCount("/user/loc/file2.txt")
= 5
//*** Content of file2.txt ***
long longest long longer belong hello.

getLongCount("/user/loc/file3.txt")
= 0
//*** file3.txt is empty file

In [ ]:
35.

ðŸ’» Write a function which takes a string as input (which consists of a sentence with words separated by spaces).
We need to find count of each of the word in the sentence and return a map having words as key
and its count as value - as shown in the samples.

getWordCount("can you can a can as a canner can can a can")
= Map("can"->6,"you"->1,"a"->3,"as"->1,"canner"->1)

getWordCount("repeat the word repeat after me")
= Map("repeat"->2,"the"->1."word"->1","after"->1,"me"->1)

In [ ]:
def getWordCount(s):
    word_count={}

    for i in s.split():
        if i in word_count:
            word_count[i]+=1
        else:
            word_count[i]=1
    return word_count

In [ ]:
# Test the function
print(getWordCount("can you can a can as a canner can can a can"))
print(getWordCount("repeat the word repeat after me"))

{'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1}
{'repeat': 2, 'the': 1, 'word': 1, 'after': 1, 'me': 1}

In [ ]:
34.

ðŸ’» Write a function which takes a string as input which consists of an encoded message.
We need to identify and return the decoded message.

For encoding, below mapping has been used.
A=1,  B=2,  C=3,  D=4
E=5,  F=6,  G=7,  H=8
I=9,  J=#10, K=#11, L=#12
M=#13, N=#14, O=#15, P=#16
Q=#17, R=#18, S=#19, T=#20
U=#21, V=#22, W=#23, X=#24
Y=#25, Z=#26

getDecodedMsg("2581#16#16#25") = "BEHAPPY"
//Explanation: 2=B 5=E 8=H 1=A #16=P #16=P #25=Y

getDecodedMsg("85#12#12#15#23#15#18#124") = "HELLOWORLD"
//Explanation: 8=H 5=E #12=L #12=L #15=O
//  #23=W #15=O #18=R #12=L 4=D

getDecodedMsg("7#15") = "GO"
//Explanation: 7=G, #15=O

In [ ]:
def getDecodedMsg(encoded_msg):
    decode_dict = {
        '1': 'A',  '2': 'B',  '3': 'C',  '4': 'D',
        '5': 'E',  '6': 'F',  '7': 'G',  '8': 'H',
        '9': 'I',  '#10': 'J', '#11': 'K', '#12': 'L',
        '#13': 'M', '#14': 'N', '#15': 'O', '#16': 'P',
        '#17': 'Q', '#18': 'R', '#19': 'S', '#20': 'T',
        '#21': 'U', '#22': 'V', '#23': 'W', '#24': 'X',
        '#25': 'Y', '#26': 'Z'
    }

    decode_msg=''
    i=0
    while i<len(encoded_msg):
        if encoded_msg[i]=='#':
            decode_msg+=decode_dict[encoded_msg[i:i+3]]
            i+=3
        else:
            decode_msg+=decode_dict[encoded_msg[i]]
            i+=1

    return decode_msg

In [ ]:
print(getDecodedMsg("2581#16#16#25"))
print(getDecodedMsg("85#12#12#15#23#15#18#124"))
print(getDecodedMsg("7#15"))

BEHAPPY
HELLOWORLD
GO

In [ ]:
33.

ðŸ’» Write a function which takes two strings as input (start_date,end_date)
and finds total number of days between the two dates inclusive. Input dates are of format YYYY-MM-DD.

getTotalDays("2022-01-01","2022-01-02") = 2

getTotalDays("2022-01-01","2022-01-15") = 15

getTotalDays("2022-01-01","2022-02-19") = 50

getTotalDays("2022-11-25","2022-11-27") = 3

In [ ]:
from datetime import datetime

def getTotalDays(start_date: str, end_date: str, date_format: str = "%Y-%m-%d") -> int:
    # Convert the string dates to datetime objects using the specified format
    start = datetime.strptime(start_date, date_format)
    end = datetime.strptime(end_date, date_format)

    # Calculate the number of days between the dates inclusive
    delta = end - start
    total_days = delta.days + 1  # Adding 1 to include the end date

    return total_days

In [ ]:
print(getTotalDays("01/01/2022", "02/01/2022", "%d/%m/%Y"))  # Output: 2
print(getTotalDays("01-01-2022", "15-01-2022", "%d-%m-%Y"))  # Output: 15
print(getTotalDays("2022-01-01", "2022-02-19", "%Y-%m-%d"))  # Output: 50
print(getTotalDays("25-11-2022", "27-11-2022", "%d-%m-%Y"))  # Output: 3

2
15
50
3

In [ ]:
32.

ðŸ’» Write a function which takes List of strings as input (containing names) & returns List of strings such that
* if name has firstname lastname - keep it as it is
* if name has middlename as well, keep only the initials of firstname middlename
- as shown in the samples.

getShortNames(List("Rahul Dravid","Vangipurappu Venkata Sai Laxman","Sourav Chandidas Ganguly"))
= List("Rahul Dravid","VVS Laxman","SC Ganguly")

getShortNames(List("Sachin Ramesh Tendulkar","Yuvraj Singh","Mahendra Singh Dhoni"))
= List("SR Tendulkar","Yuvraj Singh","MS Dhoni")

In [ ]:
def getShortNames(l):
    final=[]
    for i in l:
        name=i.split()
        if len(name)<=2:
            final.append(i)
        else:
            x=[]
            for j in range(len(name)):
                if j!=len(name)-1:
                    x.append(name[j][0])
                else:
                    x.append(' '+name[j])
            final.append(''.join(x))
    return final

In [ ]:
print(getShortNames(["Rahul Dravid","Vangipurappu Venkata Sai Laxman"]))
print(getShortNames(["Sachin Ramesh Tendulkar","Yuvraj Singh", "Mahendra Singh Dhoni"]))

['Rahul Dravid', 'VVS Laxman']
['SR Tendulkar', 'Yuvraj Singh', 'MS Dhoni']

In [ ]:
def getShortNames(l):
    final = []
    for name in l:
        name_parts = name.split()
        if len(name_parts) <= 2:
            final.append(name)
        else:
            # List comprehension replacing the for loop
            x = [name_parts[j][0] if j != len(name_parts) - 1 else ' ' + name_parts[j] for j in range(len(name_parts))]
            final.append(''.join(x))
    return final

In [ ]:
print(getShortNames(["Rahul Dravid", "Vangipurappu Venkata Sai Laxman"]))
print(getShortNames(["Sachin Ramesh Tendulkar", "Yuvraj Singh", "Mahendra Singh Dhoni"]))

['Rahul Dravid', 'VVS Laxman']
['SR Tendulkar', 'Yuvraj Singh', 'MS Dhoni']

In [ ]:
def getShortNames(names):
    result = []

    for name in names:
        parts = name.split()
        if len(parts) == 2:
            result.append(name)
        else:
            initials = ''.join([p[0].upper() for p in parts[:-1]])  # Take the first letter of all except the last name
            result.append(f"{initials} {parts[-1]}")

    return result

In [ ]:
print(getShortNames(["Rahul Dravid", "Vangipurappu Venkata Sai Laxman"]))
print(getShortNames(["Sachin Ramesh Tendulkar", "Yuvraj Singh", "Mahendra Singh Dhoni"]))

['Rahul Dravid', 'VVS Laxman']
['SR Tendulkar', 'Yuvraj Singh', 'MS Dhoni']

In [ ]:
31.

ðŸ’» Write a function which takes a string as input (containing name1#age1,name2#age2)
& returns Array of Integers having only ages - as shown in the samples.

getOnlyAges("Ram#18,Samrat#87,Pinky#35") = Array(18,87,35)

getOnlyAges("Anoop#45") = Array(45)

getOnlyAges("Sheetal#27,Gargi#3,Vishal#22") = Arraay(27,3,22)

In [ ]:
def getOnlyAges(s):
    return [int(i.split('#')[1]) for i in s.split(',')]

In [ ]:
print(getOnlyAges("Ram#18,Samrat#87,Pinky#35"))
print(getOnlyAges("Anoop#45"))
print(getOnlyAges("Sheetal#27,Gargi#3,Vishal#22"))

[18, 87, 35]
[45]
[27, 3, 22]

In [ ]:
30.

ðŸ’» Write a function which takes 2 strings as input & returns true if both string contains matching characters,
false otherwise - as shown in the samples.

hasMatchingChar("cat","act") = true

hasMatchingChar("rainbow","tsunami") = false

hasMatchingChar("flow","wolf") = true

hasMatchingChar("rain","rainbow") = false
//Explanation: All the characters are not matching.

hasMatchingChar("oh","ohooooooo") = true
//Explanation: Both string has only 'o' & 'h', so its matching.

In [ ]:
def hasMatchingChar(s1,s2):
    return sorted(set(s1))==sorted(set(s2))

In [ ]:
print(hasMatchingChar("cat","act"))
print(hasMatchingChar("rainbow","tsunami"))
print(hasMatchingChar("flow","wolf"))
print(hasMatchingChar("rain","rainbow"))
print(hasMatchingChar("oh","ohooooooo"))

True
False
True
False
True

In [ ]:
def hasMatchingChar(s1, s2):
    # Convert strings to lists and sort them
    sorted_s1 = sorted(s1)
    sorted_s2 = sorted(s2)

    # Initialize pointers for both lists
    i, j = 0, 0

    # Compare characters in both sorted lists
    while i < len(sorted_s1) and j < len(sorted_s2):
        if sorted_s1[i] == sorted_s2[j]:
            i += 1
            j += 1
        elif sorted_s1[i] < sorted_s2[j]:
            i += 1
        else:
            j += 1

    # If all characters in s1 are found in s2
    return i == len(sorted_s1) and j == len(sorted_s2)

# Example usage
print(hasMatchingChar("cat", "act"))        # Output: True
print(hasMatchingChar("rainbow", "tsunami"))  # Output: False
print(hasMatchingChar("flow", "wolf"))       # Output: True
print(hasMatchingChar("rain", "rainbow"))    # Output: False
print(hasMatchingChar("oh", "ohooooooo"))    # Output: True

True
False
True
False
False

In [ ]:
29.

ðŸ’» Write a function which takes 3 parameters as input
startNum - Integer,totalNums - Integer, isEven - Boolean
& returns a list consisting of "totalNums" elements
with starting number being "startNum". Elements should
be even or odd based on isEven parameter - as shown in the samples.

generateList(5,3,false) = List(5,7,9)

generateList(5,2,true) = List(6,8)
//Explanation: In this case, 6 will be used as startNum
    as even list is expected.

generateList(80,5,true) = List(80,82,84,86,88)

In [ ]:
def generateList(startNum, totalNums, isEven):
    temp=startNum
    if isEven:
        if startNum%2!=0:
            startNum+=1
    else:
        if startNum%2==0:
            startNum+=1

    return [startNum+ 2*i for i in range(0,totalNums)]

In [ ]:
print(generateList(5,3,False))
print(generateList(5,2,True))
print(generateList(80,5,True))

[5, 7, 9]
[6, 8]
[80, 82, 84, 86, 88]

In [ ]:
28.

ðŸ’» Write a function which takes "List of unique positive Integers"
& a rankNumber as input and returns
"rankNumber'th largest element of the list" else -1 if no
such element - as shown in the samples.

getLargestEle(List(10,20,80,4,90),3) = 20
//Explanation: 20 is 3rd largest element.

getLargestEle(List(4,100),9) = -1
//Explanation: 9 elements are not present in the list.

getLargestEle(List(45,56,11,9,30),2) = 45
//Explanation: 45 is 2nd largest element.

In [ ]:
def getLargestEle(l,r):
    if r>len(l):
        return -1
    l.sort()
    return l[-r]

In [ ]:
print( getLargestEle([10,20,80,4,90],3)  )

print( getLargestEle([4,100],9)  )

print( getLargestEle([45,56,11,9,30],2)  )

20
-1
45

In [ ]:
def getLargestEle(lst,ranknum):

    if len(lst)<ranknum:
        return -1
    else:
        temp = sorted(lst,reverse=True)
        return temp[ranknum-1]

In [ ]:
print( getLargestEle([10,20,80,4,90],3)  )

print( getLargestEle([4,100],9)  )

print( getLargestEle([45,56,11,9,30],2)  )

20
-1
45

In [ ]:
def getLargestEle2(lst,ranknum):

    temp = sorted(lst,reverse=True)

    return temp[ranknum-1] if len(lst)>=ranknum else -1

In [ ]:
print( getLargestEle2([10,20,80,4,90],3)  )

print( getLargestEle2([4,100],9)  )

print( getLargestEle2([45,56,11,9,30],2)  )

20
-1
45

In [ ]:
27.

ðŸ’» Write a function which takes "List of Integers" &
a searchNumber as input and returns "sum of first & last index"
of searchNumber in the list - as shown in the samples
(Considering 0-index).


getFirstLastInxSum(List(20,10,10,40,10,5),10) = 5
//Explanation: 10's 1st & last index - 1 & 4 => 1+4 = 5

getFirstLastInxSum(List(2,15),19) = 0
//Explanation: 19 does not occur in the list => 0

getFirstLastInxSum(List(82,40,3),40) = 1
//Explanation: 40 has only one occurrence => 1

getFirstLastInxSum(List(6,6,6,6),6) = 3
//Explanation: 6's 1st & last index => 0 & 3 => 0+3 = 3

In [ ]:
def getFirstLastInxSum(l,search):
    index_dict = {'first':-1,'last':-1}

    for idx,ele in enumerate(l):
        if ele==search and index_dict['first']!=-1:
            index_dict['last'] = idx
        elif ele==search and index_dict['first']==-1:
            index_dict['first'] = idx

    return sum(filter(lambda x:x>=0,index_dict.values()))

In [ ]:
print( getFirstLastInxSum([20,10,10,40,10,5],10) )

print( getFirstLastInxSum([2,15],19) )

print( getFirstLastInxSum([82,40,3],40) )

print( getFirstLastInxSum([6,6,6,6],6) )

print( getFirstLastInxSum([7],7) )

5
0
1
3
0

In [ ]:
def getFirstLastInxSum(l,search):

    temp,last,first_idx=l,0,0
    try:
        first_idx = temp.index(search)
    except:
        first_idx = 0

    for i in range(len(temp)-1,-1,-1):
        if l[i]==search and i!=first_idx:
            last_idx = i
            break
        else:
            last_idx=0

    return first_idx+last_idx

In [ ]:
print( getFirstLastInxSum([20,10,10,40,10,5],10) )

print( getFirstLastInxSum([2,15],19) )

print( getFirstLastInxSum([82,40,3],40) )

print( getFirstLastInxSum([6,6,6,6],6) )

5
0
1
3

In [ ]:
def getFirstLastInxSum2(lst, search):

    try:
        if lst.index(search) == ( len(lst) - lst[::-1].index(search) - 1 ):
            return lst.index(search)
        else:
            return lst.index(search) + ( len(lst) - lst[::-1].index(search) - 1 )
    except:
        return 0


print(getFirstLastInxSum2([20, 10, 10, 40, 10, 5], 10))
print(getFirstLastInxSum2([2, 15], 19))
print(getFirstLastInxSum2([82, 40, 3], 40))
print(getFirstLastInxSum2([6, 6, 6, 6], 6))

5
0
1
3

In [ ]:
26.

ðŸ’» Write a function which takes string as input
and returns sum if the string contains only
numbers else -1 - as shown in the samples.

getStrSum("123") = 6

getStrSum("1ABC23") = -1

getStrSum("809") = 17

SyntaxError: invalid character 'ðŸ’»' (U+1F4BB) (1444899307.py, line 3)

In [ ]:
def getStrSum(s):
    try:
        return sum([int(i) for i in list(s) if i!=i.isdigit()])
    except:
        return -1

In [ ]:
print( getStrSum("123") )

print( getStrSum("1ABC23") )

print( getStrSum("809") )

6
-1
17

In [ ]:
def getStrSum(s):
    if s.isdigit():  # Check if all characters in the string are digits
        return sum(int(char) for char in s)  # Sum the integer value of each character
    else:
        return -1  # Return -1 if the string contains non-digit characters

# Examples
print(getStrSum("123"))  # Output: 6
print(getStrSum("1ABC23"))  # Output: -1
print(getStrSum("809"))  # Output: 17

6
-1
17

In [ ]:
def getStrSum(s):
    total=0
    for i in s:
        if i.isalpha():
            return -1
        else:
            total+=int(i)
    return total

In [ ]:
print( getStrSum("123") )

print( getStrSum("1ABC23") )

print( getStrSum("809") )

6
-1
17

In [ ]:
from functools import reduce
def getStrSum2(s):
    return reduce(lambda x,y:x+y, map(int,s)) if s.isdigit() else -1

In [ ]:
print( getStrSum2("123") )

print( getStrSum2("1ABC23") )

print( getStrSum2("809") )

6
-1
17

In [ ]:
25.

ðŸ’» Write a function which takes "List of Strings" as input
- containing "firstName lastName" - and returns the
"List of Strings" containing "lastName firstName" -
as shown in the samples.

reverseName(List("Rohan Kumar","Jeevan Bose"))
= List("Kumar Rohan","Bose Jeevan")

reverseName(List("Shivangi Sharma","Samarth Roy","Keshav Kunal"))
= List("Sharma Shivangi","Roy Samarth","Kunal Keshav")

In [ ]:
def reverseName(l):
    return [' '.join(i.split()[::-1]) for i in l]

In [ ]:
print(reverseName(["Rohan Kumar","Jeevan Bose"]))
print(reverseName(["Shivangi Sharma","Samarth Roy","Keshav Kunal"]))

['Kumar Rohan', 'Bose Jeevan']
['Sharma Shivangi', 'Roy Samarth', 'Kunal Keshav']

In [ ]:
def reverseName(l):
    x=[]
    final=[]

    for i in l:
        x.append( i.split()[::-1])

    for i in x:
        final.append(' '.join(i))
    return final

In [ ]:
print( reverseName2(["Rohan Kumar","Jeevan Bose"]) )
print( reverseName2(["Shivangi Sharma","Samarth Roy","Keshav Kunal"]) )

['Kumar Rohan', 'Bose Jeevan']
['Sharma Shivangi', 'Roy Samarth', 'Kunal Keshav']

In [ ]:
def reverseName2(l):
    return [ i.split()[1]+' '+i.split()[0] for i in l ]

In [ ]:
print( reverseName2(["Rohan Kumar","Jeevan Bose"]) )
print( reverseName2(["Shivangi Sharma","Samarth Roy","Keshav Kunal"]) )

['Kumar Rohan', 'Bose Jeevan']
['Sharma Shivangi', 'Roy Samarth', 'Kunal Keshav']

In [ ]:
24.


ðŸ’» Write a function which takes "Array of Integers" as input
and returns the "Array of Integers" containing only perfect
square numbers - as shown in the samples.

getPerfectSquares(Array(10,9,36,45,99,484)) = Array(9,36,484)

getPerfectSquares(Array(10,20,30)) = Array()

getPerfectSquares(Array(5,961,729,400,25,120,4)) = Array(961,729,400,25,4)

In [ ]:
from math import sqrt

def getPerfectSquares(l):
    return [i for i in l if int(sqrt(i))**2 == i ]

In [ ]:
print( getPerfectSquares([10,9,36,45,99,484]) )

print( getPerfectSquares([10,20,30]) )

print( getPerfectSquares([5,961,729,400,25,120,4]) )

[9, 36, 484]
[]
[961, 729, 400, 25, 4]

In [ ]:
import math as m
def getPerfectSquares(l):
    return [i for i in l if i==m.isqrt(i)**2]

In [ ]:
print( getPerfectSquares([10,9,36,45,99,484]) )

print( getPerfectSquares([10,20,30]) )

print( getPerfectSquares([5,961,729,400,25,120,4]) )

[9, 36, 484]
[]
[961, 729, 400, 25, 4]

In [ ]:
import math as m
def getPerfectSquares2(l):

    return [i for i in l if m.sqrt(i)==int(m.sqrt(i)) ]

In [ ]:
print( getPerfectSquares2([10,9,36,45,99,484]) )

print( getPerfectSquares2([10,20,30]) )

print( getPerfectSquares2([5,961,729,400,25,120,4]) )

[9, 36, 484]
[]
[961, 729, 400, 25, 4]

In [ ]:
23.

ðŸ’» Write a function which takes "Array of Integers" as input
having elements in ascending order and returns the
"Array of Integers" containing missing elements -
as shown in the samples.

Note: 1st and last element of the input Array are not missed any time.

missingNums(Array(1,3,8,9,11)) = Array(2,4,5,6,7,10)

missingNums(Array(56,57)) = Array()

missingNums(Array(10,15,18)) = Array(11,12,13,14,16,17)

In [ ]:
def missingNums(l):
    return [i for i in range(l[0],l[-1]) if i not in l]

In [ ]:
print( missingNums([1,3,8,9,11]) )

print( missingNums([56,57]) )

print( missingNums([10,15,18]) )

[2, 4, 5, 6, 7, 10]
[]
[11, 12, 13, 14, 16, 17]

In [ ]:
def missingNums2(l):

    return list( set(range(l[0],l[-1])) - set(l) )

In [ ]:
print( missingNums2([1,3,8,9,11]) )

print( missingNums2([56,57]) )

print( missingNums2([10,15,18]) )

[2, 4, 5, 6, 7, 10]
[]
[11, 12, 13, 14, 16, 17]

In [ ]:
22.

ðŸ’» Write a function which takes "Array of Integers" as
input and returns the "Array of Integers" containing elements
which are smaller than their left and right neighbour
elements - as shown in the samples.

smallerNums(Array(10,5,20,43,36,73,93,5)) = Array(5,36)

smallerNums(Array(43,5)) = Array()
//Explanation: 43 has no left neighbour & 5 has no right neighbour.

smallerNums(Array(89,41,96)) = Array(41)

In [ ]:
def smallerNums(l):
    n=len(l)
    final=[]
    for i in range(1,n-1):
        if l[i-1]>l[i] and l[i]<l[i+1]:
            final.append(l[i])
    return final

In [ ]:
print( smallerNums([10,5,20,43,36,73,93,5]) )

print( smallerNums([43,5]) )

print( smallerNums([89,41,96]) )

[5, 36]
[]
[41]

In [ ]:
def smallerNums(l):
    n=len(l)
    return [l[i] for i in range(1,n-1) if (l[i-1]>l[i] and l[i]<l[i+1]) ]

In [ ]:
print( smallerNums([10,5,20,43,36,73,93,5]) )

print( smallerNums([43,5]) )

print( smallerNums([89,41,96]) )

[5, 36]
[]
[41]

In [ ]:
21.

ðŸ’» Write a function which takes an Integer as input and
returns the string pattern - as shown in the samples.

givePattern1(2) = 1,11

givePattern1(3) = 1,11,111

givePattern1(5) = 1,11,111,1111,11111

In [ ]:
def givePattern1(n):
    final=''

    for i in range(1,n+1):
        final+='1'* i + ','
    return final

In [ ]:
print( givePattern1(2) )
print( givePattern1(3) )
print( givePattern1(5) )

1,11,
1,11,111,
1,11,111,1111,11111,

In [ ]:
def givePattern1(n):

    final=[]
    for i in range(n):
        s=''
        for j in range(i+1):
            s+='1'
        final.append(s)
    return ','.join(final)

In [ ]:
print( givePattern1(2) )
print( givePattern1(3) )
print( givePattern1(5) )

1,11
1,11,111
1,11,111,1111,11111

In [ ]:
def givePattern1_2(n):
    return ','.join([i*'1' for i in range(1,n+1)])

In [ ]:
print( givePattern1_2(2) )
print( givePattern1_2(3) )
print( givePattern1_2(5) )

1,11
1,11,111
1,11,111,1111,11111

In [ ]:
20.

ðŸ’» Write a function which takes an Integer as input and
returns the reversed Integer - as shown in the samples.

reverseInt(125) = 521

reverseInt(-235) = -532

reverseInt(1500) = 51

In [ ]:
def reverseInt(n):
    if n<0:
        temp = -n
    else:
        temp = n
    rev_num = 0

    while temp>0:
        rem = temp%10
        rev_num = rev_num*10 + rem
        temp//=10

    return rev_num if n>0 else -rev_num

In [ ]:
print( reverseInt(125) )
print( reverseInt(-235) )
print( reverseInt(1500) )

521
-532
51

In [ ]:
def reverseInt(n):
    # Handle negative numbers by remembering the sign
    sign = -1 if n < 0 else 1
    reversed_str = str(abs(n))[::-1]
    reversed_int = sign * int(reversed_str)

    return reversed_int

In [ ]:
print( reverseInt(125) )
print( reverseInt(-235) )
print( reverseInt(1500) )

521
-532
51

In [ ]:
def reverseInt2(n):
    if n<0:
        rev_str = '-' + str(abs(n))[::-1]
    else:
        rev_str = str(n)[::-1]
    return int(rev_str)

In [ ]:
print( reverseInt2(125) )
print( reverseInt2(-235) )
print( reverseInt2(1500) )

521
-532
51

In [ ]:
19.

ðŸ’» Write a function which takes 2 inputs - "Array of Integers"
and a number & returns the rotated array by the specified number
- as shown in the samples.

rotateArray(Array(5,10,12,16,2,9),1)
= Array(10, 12, 16, 2, 9, 5)

rotateArray(Array(5,10,12,16,2,9),2)
= Array(12, 16, 2, 9, 5, 10)

rotateArray(Array(5,10,12,16,2,9),3)
= Array(16, 2, 9, 5, 10, 12)

rotateArray(Array(5,10,12,16,2,9),5)
= Array(9, 5, 10, 12, 16, 2)

rotateArray(Array(5,10,12,16,2,9),1)
= Array(10, 12, 16, 2, 9, 7)

In [ ]:
def rotateArray(l,n):
    length = len(l)
    n = n % length
    return l[n:] + l[:n]

In [ ]:
print( rotateArray([5,10,12,16,2,9],1) )
print( rotateArray([5,10,12,16,2,9],2) )
print( rotateArray([5,10,12,16,2,9],3) )
print( rotateArray([5,10,12,16,2,9],5) )
print( rotateArray([5,10,12,16,2,9],7) )

[10, 12, 16, 2, 9, 5]
[12, 16, 2, 9, 5, 10]
[16, 2, 9, 5, 10, 12]
[9, 5, 10, 12, 16, 2]
[10, 12, 16, 2, 9, 5]

In [ ]:
18.

ðŸ’» Write a function which takes 2 inputs - "Array of Integers"
and a number & prints all the distinct pairs of array elements
whose sum is equal to the input number provided -
as shown in the samples.

printSumPairs(Array(1,4,3,2,8,5),5) =
1,4
3,2
//Explanation: 1+4=5, 3+2=5

printSumPairs(Array(2,7,81,20,25,26,1),27) =
2,25
7,20
26,1
//Explanation: 2+25=27, 7+20=27, 26+1=27

printSumPairs(Array(10,20,30,40),100) =
//No output
//Explanation: None of the pairs sum to 100.

In [ ]:
def printSumPairs(l,target):
    found=False
    n = len(l)

    for i in range(n):
        for j in range(i+1, n):
            if l[i]+l[j]==target:
                print(l[i],l[j])
                found=True
    if found==False:
        return 'no pairs found!'

In [ ]:
printSumPairs([1,4,3,2,8,5],5)
print('*'*15)
printSumPairs([2,7,81,20,25,26,1],27)
print('*'*15)
printSumPairs([10,20,30,40],100)

1 4
3 2
***************
2 25
7 20
26 1
***************

'no pairs found!'

In [ ]:
def printSumPairs(lst, target_sum):
    found = False
    seen = set()

    for number in lst:
        complement = target_sum - number
        if complement in seen:
            print(complement, number)
            found = True
        seen.add(number)

    if not found:
        print("No pairs found")

In [ ]:
printSumPairs([1,4,3,2,8,5],5)
print('*'*15)
printSumPairs([2,7,81,20,25,26,1],27)
print('*'*15)
printSumPairs([10,20,30,40],100)

1 4
3 2
***************
7 20
2 25
26 1
***************
No pairs found

In [ ]:
# Optimal solution :

def printSumPairs2(nums,target):
    found = False
    mydict={}

    for i,num in enumerate(nums):
        if target-num in mydict:
            print(target-num,num)
            found = True
        mydict[num]=i

    if not found:
        print("No pairs found")  # Print this message if no pairs were found

In [ ]:
printSumPairs2([1,4,3,2,8,5],5)
print('*'*15)
printSumPairs2([2,7,81,20,25,26,1],27)
print('*'*15)
printSumPairs2([10,20,30,40],100)

1 4
3 2
***************
7 20
2 25
26 1
***************
No pairs found

In [ ]:
17.

ðŸ’» Write a function which takes "Array of Integers" as input and
returns a "tuple" containing sum of odd indices &
product of even indices - as shown in the samples.
(Considering 0-index)

getAltSumProduct(Array(1,4,5,6)) = (10,5)
//Explanation: (4+6,1*5) = (10,5)

getAltSumProduct(Array(3,4,6,9,7)) = (13,126)
//Explanation: (4+9,3*6*7) = (13,126)

getAltSumProduct(Array(0,8,3,88)) = (96,0)
//Explanation: (8+88,0*3) = (96,0)

In [ ]:
def getAltSumProduct(l):
    tot=0
    mult=1
    has_even_elements = False

    for idx,ele in enumerate(l):
        if idx%2!=0:
            tot+=ele
        else:
            mult*=ele
            has_even_elements = True

    if not has_even_elements:
        mult = 0

    return (tot,mult)

In [ ]:
print( getAltSumProduct([1,4,5,6]) )
print( getAltSumProduct([3,4,6,9,7]) )
print( getAltSumProduct([0,8,3,88]) )
print( getAltSumProduct([]) )

(10, 5)
(13, 126)
(96, 0)
(0, 0)

In [ ]:
from functools import reduce

def getAltSumProduct3(l):

    if not l:
        return 0, 0  # For an empty list, both sum and product are 0

    odd_ele = [l[i] for i in range(len(l)) if i%2!=0]
    even_ele = [l[i] for i in range(len(l)) if i%2==0]

    prod = reduce(lambda x, y: x * y, even_ele, 1)  # Adding an initial value of 1 for product computation
    return sum(odd_ele),prod

In [ ]:
print( getAltSumProduct3([1,4,5,6]) )
print( getAltSumProduct3([3,4,6,9,7]) )
print( getAltSumProduct3([0,8,3,88]) )
print( getAltSumProduct3([]) )
print( getAltSumProduct3([4]) )

(10, 5)
(13, 126)
(96, 0)
(0, 0)
(0, 4)

In [ ]:
from functools import reduce

def getAltSumProduct2(l):
    sm= reduce(lambda x,y:x+y,[v for i,v in enumerate(l) if i%2!=0],0)  # Adding an initial value of 0 for summation computation
    pd= reduce(lambda x,y:x*y,[v for i,v in enumerate(l) if i%2==0],1)  # Adding an initial value of 1 for product computation

    return sm,pd

In [ ]:
print( getAltSumProduct2([1,4,5,6]) )
print( getAltSumProduct2([3,4,6,9,7]) )
print( getAltSumProduct2([0,8,3,88]) )
print( getAltSumProduct2([]) )

(10, 5)
(13, 126)
(96, 0)
(0, 1)

In [ ]:
16.

ðŸ’» Write a function which takes "List of strings" as input -
phoneNo_name - & returns "list of strings" containing the
phoneNo that are duplicated.

getMultAccounts(List("8933819304_Abhi","9388193845_Manish","8933819304_Kamal","9983847283_Jai"))
= List("8933819304")

getMultAccounts(List("9733918374_Kishore","9733918378_Sanjivini","9733918374_Mohit","8390173944_Raj","9733918378_Keshav"))
= List("9733918374","9733918378")

getMultAccounts(List("8274817374_Palak","8394482934_Rajni"))
= List()

In [ ]:
def getMultAccounts(l):
    phone_list = [i.split('_')[0] for i in l]
    return list({i for i in phone_list if phone_list.count(i)>1})

In [ ]:
print( getMultAccounts(["8933819304_Abhi","9388193845_Manish","8933819304_Kamal","9983847283_Jai"]) )

print( getMultAccounts(["9733918374_Kishore","9733918378_Sanjivini","9733918374_Mohit","8390173944_Raj","9733918378_Keshav"]) )

print( getMultAccounts(["8274817374_Palak","8394482934_Rajni"]) )

['8933819304']
['9733918378', '9733918374']
[]

In [ ]:
def getMultAccounts(l):
    phone_counts = {}

    # Count occurrences of each phone number
    for entry in l:
        phone_no = entry.split('_')[0]
        if phone_no in phone_counts:
            phone_counts[phone_no] += 1
        else:
            phone_counts[phone_no] = 1

    # Collect phone numbers that are duplicated
    duplicates = [phone for phone, count in phone_counts.items() if count > 1]

    return duplicates

In [ ]:
print( getMultAccounts(["8933819304_Abhi","9388193845_Manish","8933819304_Kamal","9983847283_Jai"]) )

print( getMultAccounts(["9733918374_Kishore","9733918378_Sanjivini","9733918374_Mohit","8390173944_Raj","9733918378_Keshav"]) )

print( getMultAccounts(["8274817374_Palak","8394482934_Rajni"]) )

['8933819304']
['9733918374', '9733918378']
[]

In [ ]:
15.

ðŸ’» Write a function which takes two "List of strings" as input
- firstName & lastName - along with a "number" &
generates "list of strings" containing random names
(equal to the number provided as input) by concatenating
firstName & lastName.

getRandomNames(List("Ram","Abhishek","Pooja"),List("Thakur","Bose"),5)
= List("Ram Thakur","Ram Thakur","Abhishek Thakur","Abhishek Bose","Pooja Bose")

getRandomNames(List("Ram","Abhishek","Pooja"),List("Thakur","Bose"),3)
= List("Pooja Bose","Ram Bose","Abhishek Thakur")

getRandomNames(List("Rajiv","Chandra"),List("Prakash","Gokhale","Singh"),2)
= List("Chandra Gokhale","Rajiv Singh")

- Expected output here will obviously not match with the output generated by each run.

In [ ]:
import random
def getRandomNames(firstName, lastName, number):
    all_combinations = [f"{f} {l}" for f in firstName for l in lastName]

    if number > len(all_combinations):
        raise ValueError("Number of requested names exceeds the number of unique combinations.")
    return random.sample(all_combinations, number)

In [ ]:
print( getRandomNames(["Ram","Abhishek","Pooja"],["Thakur","Bose"],5) )

print( getRandomNames(["Ram","Abhishek","Pooja"],["Thakur","Bose"],3) )

print( getRandomNames(["Rajiv","Chandra"],["Prakash","Gokhale","Singh"],2) )

['Pooja Bose', 'Pooja Thakur', 'Ram Thakur', 'Abhishek Bose', 'Ram Bose']
['Pooja Thakur', 'Pooja Bose', 'Ram Bose']
['Rajiv Prakash', 'Chandra Gokhale']

In [ ]:
"""
random.choices :

random.choices is used to select multiple elements from a list,
and it can include the same element more than once (with replacement).

import random

# Define a list of choices
fruits = ['apple', 'banana', 'cherry', 'date']

# Use random.choices to pick 3 random fruits (allowing for duplicates)
random_fruits = random.choices(fruits, k=3)
print(f"Randomly selected fruits: {random_fruits}")

Randomly selected fruits: ['cherry', 'banana', 'banana']

"""

import random
def getRandomNames(firstName, lastName, number):
    all_combinations = [f"{f} {l}" for f in firstName for l in lastName]

    if number > len(all_combinations):
        raise ValueError("Number of requested names exceeds the number of unique combinations.")
    return random.choices(all_combinations, k=number)

In [ ]:
print( getRandomNames(["Ram","Abhishek","Pooja"],["Thakur","Bose"],5) )

print( getRandomNames(["Ram","Abhishek","Pooja"],["Thakur","Bose"],3) )

print( getRandomNames(["Rajiv","Chandra"],["Prakash","Gokhale","Singh"],2) )

['Abhishek Bose', 'Pooja Bose', 'Pooja Bose', 'Ram Bose', 'Pooja Bose']
['Ram Thakur', 'Pooja Thakur', 'Pooja Bose']
['Rajiv Singh', 'Rajiv Gokhale']

In [ ]:
"""
random.choice:

random.choice is used to select a single element randomly from a list.

import random

# Define a list of choices
fruits = ['apple', 'banana', 'cherry', 'date']

# Use random.choice to pick a single random fruit
random_fruit = random.choice(fruits)
print(f"Randomly selected fruit: {random_fruit}")


Randomly selected fruit: banana



Summary:
random.choice: Selects a single element from a list.
random.choices: Selects multiple elements from a list, with the option for duplicates.


"""

import random
def getRandomNames2(l1,l2,n):
    final = [ f"{random.choice(l1)} {random.choice(l2)}" for i in range(n) ]
    return final

In [ ]:
print( getRandomNames2(["Ram","Abhishek","Pooja"],["Thakur","Bose"],5) )

print( getRandomNames2(["Ram","Abhishek","Pooja"],["Thakur","Bose"],3) )

print( getRandomNames2(["Rajiv","Chandra"],["Prakash","Gokhale","Singh"],2) )

['Abhishek Bose', 'Abhishek Bose', 'Abhishek Bose', 'Pooja Thakur', 'Abhishek Thakur']
['Pooja Thakur', 'Pooja Thakur', 'Abhishek Thakur']
['Rajiv Singh', 'Rajiv Gokhale']

# 14.

ðŸ’» Write a function which takes a string as input and
returns string comprising of 2nd last characters of each word
- as shown in the samples.
Note: If word is of 1 character, it is to be ignored.

get2ndLastChars("Hello can I draw") = l a a
//Explanation: Hello=l, can=a, I=ignored, draw=a

get2ndLastChars("Coders are here") = r r r
Explanation: Coders=r, are=r, here=r

get2ndLastChars("Today is Wednesday") = a i a
Explanation: Today=a, is=i, Wednesday=a

In [ ]:
def get2ndLastChars(s):
    return ' '.join([i[-2] for i in s.split() if len(i)>1])

In [ ]:
print( get2ndLastChars("Hello can I draw")  )
print( get2ndLastChars("Coders are here")  )
print( get2ndLastChars("Today is Wednesday")  )

l a a
r r r
a i a

# 13.

ðŸ’» Write a function which takes two strings as input
- str1 & str2 - & prints all the indexes where the substring
str2 is present in str1 - as shown in the samples.

printIndex("hippopotamus","po") =
3
5

printIndex("common","hello") =
//No output

printIndex("improvement","m") =
1
7

In [ ]:
def printIndex(s1,s2):
    n1=len(s1)
    n2=len(s2)
    flg=0

    for i in range(0,n1-n2+1):
        if s1[i:i+n2]==s2:
            print(i)
            flg=1
    if flg==0:
        print('No output!')

In [ ]:
printIndex("hippopotamus","po")
print('*'*15)
printIndex("common","hello")
print('*'*15)
printIndex("improvement","m")

3
5
***************
No output!
***************
1
7

In [ ]:
def printIndex2(s1, s2):
    indices = [i for i in range(len(s1)) if s1.startswith(s2, i)]

    if indices:
        for index in indices:
            print(index)
    else:
        print("No output")

In [ ]:
printIndex2("hippopotamus","po")
print('*'*15)
printIndex2("common","hello")
print('*'*15)
printIndex2("improvement","m")

3
5
***************
No output
***************
1
7

# 12.

ðŸ’» Write a function which takes a list of integers as input
& returns list of integers that are duplicates as shown in the samples.

List(1,2,3,4,1,2,3) = List(1,2,3)

List(1,2,67,2,3,4) = List(2)

List(40,50,60) = List()

In [ ]:
def duplicate(l):
    return list({x for x in l if l.count(x)>1})

In [ ]:
print( duplicate([1,2,3,4,1,2,3]) )
print( duplicate([1,2,67,2,3,4]) )
print( duplicate([40,50,60]) )

[1, 2, 3]
[2]
[]

In [ ]:
def duplicate(l):
    seen=set()
    dup=set()
    for i in l:
        if i not in seen:
            seen.add(i)
        else:
            dup.add(i)
    return list(dup)

In [ ]:
print( duplicate([1,2,3,4,1,2,3]) )
print( duplicate([1,2,67,2,3,4]) )
print( duplicate([40,50,60]) )

[1, 2, 3]
[2]
[]

# 11.

ðŸ’» Write a function which takes a list of string (email_ids)
as input & returns list with only id part (before @)
and "_index" attached as shown in the samples.

getIdList(List("ggyan@gmail.com","mrunalik@gmail.com","abc123@rediffmail.com"))
= List("ggyan_0","mrunalik_1","abc123_2")

getIdList(List("rdravid@gmail.com","tsachin@gmail.com"))
= List("rdravid_0","tsachin_1")

In [ ]:
def getIdList(l):
    return [ele.split('@')[0] + "_" + str(index) for index,ele in enumerate(l)]

In [ ]:
print( getIdList(["ggyan@gmail.com","mrunalik@gmail.com","abc123@rediffmail.com"]) )

print( getIdList(["rdravid@gmail.com","tsachin@gmail.com"]) )

['ggyan_0', 'mrunalik_1', 'abc123_2']
['rdravid_0', 'tsachin_1']

In [ ]:
def getIdList(l):
    n=len(l)
    final=[]

    for i in range(n):
        final.append(( l[i].split('@')[0]) + '_' + str(i) )
    return final

In [ ]:
print( getIdList(["ggyan@gmail.com","mrunalik@gmail.com","abc123@rediffmail.com"]) )

print( getIdList(["rdravid@gmail.com","tsachin@gmail.com"]) )

['ggyan_0', 'mrunalik_1', 'abc123_2']
['rdravid_0', 'tsachin_1']

# 10.

ðŸ’» Write a function which takes a list of alphabets &
pair-tuple of alphabets as input & returns flattened
list as shown in the samples.

flattenList(List(('a','b'),('b','c'),('c','a'),('d')))
= List('a','b','b','c','c','a','d')

flattenList(List('a','b','c'))
= List('a','b','c')

flattenList(List('a',('x','y'),'z'))
= List('a','x','y','z')

In [ ]:
def flattenList(l):

    final=[]
    for i in l:
        if isinstance(i,tuple):
            final.extend(i)
        else:
            final.append(i)
    return final

In [ ]:
print( flattenList([('a','b'),('b','c'),('c','a'),('d')]) )
print( flattenList(['a','b','c']) )
print( flattenList(['a',('x','y'),'z']) )

['a', 'b', 'b', 'c', 'c', 'a', 'd']
['a', 'b', 'c']
['a', 'x', 'y', 'z']

##  flatten a deeply nested list like l = [1, 2, [3, 4, [5, 6], 7], [[[8, 9], 10]], [11, [12, 13]]]

In [ ]:
def flatten2(lst):
    # This function flattens a deeply nested list
    result = []
    for item in lst:
        if isinstance(item, list):
            # Recursively flatten the list item
            result.extend(flatten2(item))
        else:
            # Append non-list items directly to the result
            result.append(item)
    return result

# Test the function
l = [1, 2, [3, 4, [5, 6], 7], [[[8, 9], 10]], [11, [12, 13]]]
ans = flatten2(l)
print(ans)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
def flatten2(l):
    result=[]
    stack= l

    while stack:
        current = stack.pop(-1)
        if isinstance(current,list):
            stack.extend(current)
        else:
            result.append(current)

    return result

In [ ]:
l = [1, 2, [3, 4, [5, 6], 7], [[[8, 9], 10]], [11, [12, 13]]]

#output list
ans = flatten2(l)
print(ans)

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
9.

ðŸ’» Write a function which takes "list of integers" as input
& finds product of numbers that are less than 10.

findProduct(List(10,3,5,87,34)) = 15
//Explanation: Numbers less than 10 => 3*5 = 15

findProduct(List(73,100)) = 0
//Explanation: No numbers less than 10

findProduct(List(-3,45,11,8,9)) = -216
//Explanation: Numbers less than 10 => -3*8*9=-216

In [ ]:
from functools import reduce

def findProduct(l):
    filtered_num = list(filter(lambda x:x<10,l))
    if not filtered_num:
        return 0
    res = reduce(lambda x,y:x*y, filtered_num)
    return res

In [ ]:
print( findProduct([10,3,5,87,34]) )
print( findProduct([-3,45,11,8,9]) )
print( findProduct([73,100]) )

15
-216
0

In [ ]:
from functools import reduce

def findProduct(a):
    try:
        return reduce(lambda x,y: x*y, list(filter(lambda x:x<10, a)) )
    except:
        return 0

In [ ]:
print( findProduct([10,3,5,87,34]) )
print( findProduct([-3,45,11,8,9]) )
print( findProduct([73,100]) )

15
-216
0

In [ ]:
def findProduct2(l):
    prod=1
    found=False

    for i in l:
        if i<10:
            prod*=i
            found=True

    return prod if found else 0

In [ ]:
print( findProduct2([10,3,5,87,34]) )
print( findProduct2([-3,45,11,8,9]) )
print( findProduct2([73,100]) )

15
-216
0

# 8.

ðŸ’» Write a function which takes a string as input
and prints total occurrences of each character.

charOccur("Scala Spark") =>

S => 2
  => 1
k => 1
l => 1
c => 1
a => 3
p => 1
r => 1

In [ ]:
def charOccur(s):
    d={}

    for i in s:
        if i in d:
            d[i]+=1
        else:
            d[i]=1

    for char, count in d.items():
        print(f"{char} => {count}")

In [ ]:
charOccur("Scala Spark")

S => 2
c => 1
a => 3
l => 1
  => 1
p => 1
r => 1
k => 1

# 7.

ðŸ’» Write a function which takes a positive integer as input
and generates "list of lists" output, as shown in the samples.

generateList(5) = List(List(1),List(1,2),List(1,2,3),List(1,2,3,4),List(1,2,3,4,5))

generateList(3) = List(List(1),List(1,2),List(1,2,3))

generateList(1) = List(List(1))

In [ ]:
def generateList(n):
    final=[]
    if n<0:
        return 'Negative no. provided'

    for i in range(1,n+1):
        temp=[]
        for j in range(1,i+1):
            temp.append(j)
        final.append(temp)
    return final

In [ ]:
print( generateList(5) )
print( generateList(3) )
print( generateList(1) )

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]
[[1], [1, 2], [1, 2, 3]]
[[1]]

In [ ]:
def generateList(n):
    result = []

    for i in range(1, n + 1):
        sublist = list(range(1, i + 1))
        result.append(sublist)
    return result

# Example usage
print(generateList(5))  # [[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]
print(generateList(3))  # [[1], [1, 2], [1, 2, 3]]
print(generateList(1))  # [[1]]

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]
[[1], [1, 2], [1, 2, 3]]
[[1]]

# 6.

ðŸ’» Write a function which takes a list of integers as input
and informs whether the list is a Fibonacci series or not.

isFiboSeries(List(1,1,2,3,5,8,13)) = true

isFiboSeries(List(1,1,2,3,7,9,11)) = false

isFiboSeries(List(1,3,4,7,11)) = true

In [ ]:
def isFiboSeries(l):
    if len(l)<=2:
        return False

    for i in range(2, len(l)):
        if l[i-2]+l[i-1]!=l[i]:
            return False

    return True

In [ ]:
print( isFiboSeries([1,1,2,3,5,8,13]) )

print( isFiboSeries([1,1,2,3,7,9,11]) )

print( isFiboSeries([1,3,4,7,11]) )

True
False
True

In [ ]:
def isFiboSeries(l):
    n=len(l)
    if n<=2:
        return False

    i=2
    while i<n:
        if l[i-2]+l[i-1]!=l[i]:
            return False
        i+=1
    return True

In [ ]:
print( isFiboSeries([1,1,2,3,5,8,13]) )

print( isFiboSeries([1,1,2,3,7,9,11]) )

print( isFiboSeries([1,3,4,7,11]) )

True
False
True

In [ ]:
5.

ðŸ’» Write a function which takes a number as input and
prints the pyramid pattern with samples shown in the screenshot.


printpattren(3)
    *
  * * *
* * * * *

![printpattern.jpg](attachment:printpattern.jpg)

In [ ]:
    *
  * * *
* * * * *

In [ ]:
def printpattern(n):

    for i in range(1,n+1,1):

        for j in range(0,n-i,1):
            print(' ',end=' ')

        for j in range(1,2*i):
            print("*", end=' ')

        print()

In [ ]:
printpattern(3)

    *
  * * *
* * * * *

In [ ]:
printpattern(5)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
printpattern(2)

  *
* * *

In [ ]:
printpattern(14)

                          *
                        * * *
                      * * * * *
                    * * * * * * *
                  * * * * * * * * *
                * * * * * * * * * * *
              * * * * * * * * * * * * *
            * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * *

In [ ]:
def patternprint2(n):

    max_width = 2 * n - 1

    for i in range(1,n+1):

        num_asterisks = 2 * i-1
        num_spaces = max_width - num_asterisks

        print(' ' * (num_spaces//2) + '*' * num_asterisks + ' ' * (num_spaces//2) )

In [ ]:
patternprint2(3)

  *
 ***
*****

# 4.

In [ ]:
ðŸ’» Write a function which takes a number as input
and prints the pattern with samples shown.

printPattern(5)
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*


printPattern(2)
*
* *
*

printPattern(3)
*
* *
* * *
* *
*

In [ ]:
def printPattern(n):

    for i in range(1,2*n,1):
        if i<=n:
            for j in range(1,i+1,1):
                print("*", end=' ')
            print()
        else:
            for j in range(i,2*n,1):
                print("*", end=' ')
            print()

In [ ]:
printPattern(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
printPattern(2)

*
* *
*

In [ ]:
printPattern(3)

*
* *
* * *
* *
*

In [ ]:
def printPattern(n):

    # Print the top half of the pattern
    for i in range(1, n + 1):
        print('* ' * i)

    # Print the bottom half of the pattern
    for i in range(n - 1, 0, -1):
        print('* ' * i)

In [ ]:
# Test cases
printPattern(5)
print('\n')
printPattern(2)
print('\n')
printPattern(3)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*


*
* *
*


*
* *
* * *
* *
*

# 3.

ðŸ’» Write a function which takes a string as input and
prints reversed string in 3 formats as shown below.

reverseStr("Hello Folks Lets Code") =

edoC steL skloF olleH
Code Lets Folks Hello
olleH skloF steL edoC

In [ ]:
def reverseStr(s):

    temp=s.split()[::-1]
    print(' '.join((i[::-1] for i in temp)))

    print(' '.join(temp))

    print(' '.join((i[::-1] for i in s.split())))

In [ ]:
reverseStr('Hello Folks Lets Code')

edoC steL skloF olleH
Code Lets Folks Hello
olleH skloF steL edoC

In [ ]:
def reverseStr(s):

    temp=s.split()
    templst=[]
    templst2=[]

    s2= ' '.join(temp[::-1])

    for i in temp[::-1]:
        templst.append(i[::-1])
    s1 = ' '.join(templst)

    for i in temp:
        templst2.append(i[::-1])
    s3= ' '.join(templst2)

    print(s1)
    print(s2)
    print(s3)

In [ ]:
reverseStr("Hello Folks Lets Code")

edoC steL skloF olleH
Code Lets Folks Hello
olleH skloF steL edoC

In [ ]:
def reverseStr2(s):

    print(s[::-1])

    print(' '.join(s.split()[::-1]))

    print( ' '.join( [ i[::-1] for i in s.split() ] ))

In [ ]:
reverseStr2("Hello Folks Lets Code")

edoC steL skloF olleH
Code Lets Folks Hello
olleH skloF steL edoC

# 2.

ðŸ’» Write a function which takes a string as input and
returns true if it contains all the numbers from 0 to 9.

containsAllNumbers("a78b9c01cd3e4526fk") = true
//Explanation: Has all the numbers 0 to 9

containsAllNumbers("abcd1") = false
//Explanation: Is not having all the numbers from 0 to 9

containsAllNumbers("123456789") = false  
//Explanation: 0 is missing

In [ ]:
def containsAllNumbers(s):
    num_check = set(range(0,10))
    num = set([int(i) for i in s if i.isnumeric()])
    if len(num_check-num)==0:
        return True
    return False

In [ ]:
print(containsAllNumbers('a78b9c01cd3e4526fk'))
print(containsAllNumbers('abcd1'))
print(containsAllNumbers('123456789'))

True
False
False

In [ ]:
def containsAllNumbers(s):
    required_digits = set('0123456789')
    found_digits = set([char for char in s if char.isdigit()])
    # Check if all required digits are in found_digits
    return required_digits.issubset(found_digits) # "Is set required_digits a subset of set found_digits

# Test cases
print(containsAllNumbers("a78b9c01cd3e4526fk"))  # Output: True
print(containsAllNumbers("abcd1"))               # Output: False
print(containsAllNumbers("123456789"))           # Output: False

True
False
False

In [ ]:
def containsAllNumbers(s):
    chk_num=set('0123456789')
    new_set=set([i for i in s if i.isdigit()])
    intersection_digits = new_set.intersection(chk_num)
    return len(intersection_digits) == 10

In [ ]:
print( containsAllNumbers("a78b9c01cd3e4526fk") )
print( containsAllNumbers("abcd1") )
print( containsAllNumbers("123456789") )

True
False
False

In [ ]:
def containsAllNumbers2(st) :
    lst = sorted(set(st))
    st2 = "".join(lst)
    if "0123456789" in st2 :
        return True
    else :
        return False

In [ ]:
print( containsAllNumbers2("a78b9c01cd3e4526fk") )
print( containsAllNumbers2("abcd1") )
print( containsAllNumbers2("123456789") )

True
False
False

# 1.  
ðŸ’» Write a function which takes a number as input & sums its digits to return a single digit.

sumDigits(123) = 6  
//Explanation: 1+2+3=6

sumDigits(916) = 7
//Explanation: 9+1+6=16 => 1+6=7

sumDigits(19) = 1  
//Explanation: 1+9=10 => 1+0=1

In [ ]:
def sumDigits(n):
    temp=n
    total=0
    while temp>0:
        total+=temp%10
        temp//=10
    if total>=10:
        total = sumDigits(total)
    return total

In [ ]:
print(sumDigits(123))
print(sumDigits(916))
print(sumDigits(19))

6
7
1

In [ ]:
def sumDigits(n):
    temp=n
    total=0
    while temp>0:
        rem=temp%10
        total+=rem
        temp//=10

    while len(str(total))!=1:
        return sumDigits(total)
    return total

In [ ]:
print( sumDigits(123) )
print( sumDigits(916) )
print( sumDigits(19) )

6
7
1

In [ ]:
def sumDigits2(n):
    num_str= [ int(i) for i in str(n)]
    if len(num_str)>1:
        return sumDigits2(sum(num_str))
    else:
        return sum(num_str)

In [ ]:
print( sumDigits2(123) )
print( sumDigits2(916) )
print( sumDigits2(19) )

6
7
1

In [ ]:
def sumDigits(n):
    while n >= 10:
        n = sum(int(digit) for digit in str(n))
    return n

# Test cases
print(sumDigits(123))  # Output: 6
print(sumDigits(916))  # Output: 7
print(sumDigits(19))   # Output: 1

6
7
1