<a href="https://colab.research.google.com/github/niralakumar/practice/blob/main/pysparkpractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
# from pyspark.sql import SparkSession
# spark=SparkSession.builder.appName("try spark").getOrCreate()


from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("practice spark").getOrCreate()

In [ ]:
df=spark.sql("""select left('2023'|| '01',2),date_format(current_date-31,'yyyyMdd'),date_format(current_date,'yyyyMM')""")
df.show()

+-------------------------+--------------------------------------------------+-----------------------------------+
|left(concat(2023, 01), 2)|date_format(date_sub(current_date(), 31), yyyyMdd)|date_format(current_date(), yyyyMM)|
+-------------------------+--------------------------------------------------+-----------------------------------+
|                       20|                                          20241108|                             202412|
+-------------------------+--------------------------------------------------+-----------------------------------+

In [ ]:
dfs=spark.sql("""select date_sub(CAST(current_timestamp() as DATE), -1) , date_sub(CAST(current_timestamp() as DATE), -7)""")

In [ ]:
dfs.show()

+-----------------------------------------------+-----------------------------------------------+
|date_sub(CAST(current_timestamp() AS DATE), -1)|date_sub(CAST(current_timestamp() AS DATE), -7)|
+-----------------------------------------------+-----------------------------------------------+
|                                     2024-05-09|                                     2024-05-15|
+-----------------------------------------------+-----------------------------------------------+

In [ ]:
from pyspark.sql.types import StructType,StructField,StringType, IntegerType, DoubleType, DateType
data=spark.read.csv('/content/tst_data.csv',header=True,inferSchema=True)

# custom_schema = StructType([
#     StructField("userid", StringType(), True),
# #     StructField("eventname_tst", StringType(), True),
# #     StructField("eventTime_tst", DoubleType(), True),
# #     StructField("leadId_tst", DateType(), True)
# ])
# data=spark.read.csv('/content/tst_data.csv',header=True,inferSchema=True,schema=custom_schema)

data.show(5)
data.printSchema()

+------------------+-------------------+-------------------+------------------+------------------+----------------+--------------+------------------+----------+--------+----------+---------------+-------------------+-------------------+--------+--------------------+------+-------------+----------+----+--------------------+------------+------+----------+----+------+----------------+----------------------+-----------+------+----------+---------+-----------------+
|            userId|          eventName|          eventTime|     opportunityId|            leadId|opportunityStage|subDisposition|isDummyOpportunity|paymentUrl|leadType|courseCode|     courseType|        createdDate|   lastModifiedDate|    PSID|          courseName|Stream|classStudying|classOpted|Term|          schoolName| schoolBoard|Agging|careerType|Type|Source|opportunityScore|opportunityProbability|classTopper|isMock|branchCode|leadScore|isPrefferedSchool|
+------------------+-------------------+-------------------+------------------+------------------+----------------+--------------+------------------+----------+--------+----------+---------------+-------------------+-------------------+--------+--------------------+------+-------------+----------+----+--------------------+------------+------+----------+----+------+----------------+----------------------+-----------+------+----------+---------+-----------------+
|00QNo000003MYB2MAO|weCourseOpportunity|2023-10-29 04:10:26|006No000003UJdEIAW|00QNo000003MYB2MAO|         Engaged|          NULL|             false|      NULL|  Normal|    711021|One Year Course|2023-09-20 05:44:03|2023-10-29 04:10:26|    NULL|Dummy Course For ...|   SOM|            X|      11.0|2425|S S D GRAMMAR HIG...|        CBSE|    39|       RCC|NULL|  NULL|              43|                  NULL|      false| false|     053KP|     10.0|             true|
|00QNo000003U1WrMAK|weCourseOpportunity|2023-10-29 02:23:37|006No000003cRTJIA2|00QNo000003U1WrMAK|         Engaged|          NULL|             false|      NULL|  Normal|    711021|One Year Course|2023-09-25 10:03:52|2023-10-29 02:23:37|12152510|Dummy Course For ...|   SOM|            X|      11.0|2425|   MESCO HIGH SCHOOL|State Boards|    34|       RCC|NULL|  NULL|              43|                  NULL|      false| false|     044HY|      4.0|            false|
|00QNo000003OWJsMAO|weCourseOpportunity|2023-10-30 11:09:57|006No000004dcDTIAY|00QNo000003OWJsMAO|         Engaged|          NULL|             false|      NULL|  Normal|    711023|One Year Course|2023-10-30 11:09:57|2023-10-30 11:09:57|12003266|Dummy Course For ...|   SOF|           IX|      10.0|2425|C S I CHRIST MATR...|        NULL|     0|       RCC|NULL|  NULL|            NULL|                  NULL|      false| false|     656TN|     NULL|            false|
|00QNo000003NPNQMA4|weCourseOpportunity|2023-10-30 12:04:27|006No000004dqB5IAI|00QNo000003NPNQMA4|         Engaged|          NULL|             false|      NULL|  Normal|    711023|One Year Course|2023-10-30 12:04:26|2023-10-30 12:04:27|11976144|Dummy Course For ...|   SOF|           IX|      10.0|2425|   Bhagwan Vidyalaya|        NULL|     0|       RCC|NULL|  NULL|            NULL|                  NULL|      false| false|     085PN|     NULL|            false|
|00Q8Y00001iDGJcUAO|weCourseOpportunity|2023-10-28 23:27:11|006No000003Yq4jIAC|00Q8Y00001iDGJcUAO|         Engaged|          NULL|             false|      NULL|  Normal|    711023|One Year Course|2023-09-23 02:52:48|2023-10-28 23:27:11| 9114727|Dummy Course For ...|   SOF|         VIII|       9.0|2425|SIVANANDA CENTENA...|        CBSE|    36|       RCC|NULL|  NULL|              43|                  NULL|       true| false|     473OR|     20.0|            false|
+------------------+-------------------+-------------------+------------------+------------------+----------------+--------------+------------------+----------+--------+----------+---------------+-------------------+-------------------+--------+--------------------+------+-------------+----------+----+--------------------+------------+------+----------+----+------+----------------+----------------------+-----------+------+----------+---------+-----------------+
only showing top 5 rows

root
 |-- userId: string (nullable = true)
 |-- eventName: string (nullable = true)
 |-- eventTime: timestamp (nullable = true)
 |-- opportunityId: string (nullable = true)
 |-- leadId: string (nullable = true)
 |-- opportunityStage: string (nullable = true)
 |-- subDisposition: string (nullable = true)
 |-- isDummyOpportunity: boolean (nullable = true)
 |-- paymentUrl: string (nullable = true)
 |-- leadType: string (nullable = true)
 |-- courseCode: integer (nullable = true)
 |-- courseType: string (nullable = true)
 |-- createdDate: timestamp (nullable = true)
 |-- lastModifiedDate: timestamp (nullable = true)
 |-- PSID: integer (nullable = true)
 |-- courseName: string (nullable = true)
 |-- Stream: string (nullable = true)
 |-- classStudying: string (nullable = true)
 |-- classOpted: double (nullable = true)
 |-- Term: integer (nullable = true)
 |-- schoolName: string (nullable = true)
 |-- schoolBoard: string (nullable = true)
 |-- Agging: integer (nullable = true)
 |-- careerType: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- opportunityScore: integer (nullable = true)
 |-- opportunityProbability: string (nullable = true)
 |-- classTopper: boolean (nullable = true)
 |-- isMock: boolean (nullable = true)
 |-- branchCode: string (nullable = true)
 |-- leadScore: double (nullable = true)
 |-- isPrefferedSchool: boolean (nullable = true)

In [ ]:
data.columns

['userId',
 'eventName',
 'eventTime',
 'opportunityId',
 'leadId',
 'opportunityStage',
 'subDisposition',
 'isDummyOpportunity',
 'paymentUrl',
 'leadType',
 'courseCode',
 'courseType',
 'createdDate',
 'lastModifiedDate',
 'PSID',
 'courseName',
 'Stream',
 'classStudying',
 'classOpted',
 'Term',
 'schoolName',
 'schoolBoard',
 'Agging',
 'careerType',
 'Type',
 'Source',
 'opportunityScore',
 'opportunityProbability',
 'classTopper',
 'isMock',
 'branchCode',
 'leadScore',
 'isPrefferedSchool']

In [ ]:
data.select('eventname','userid').show(10)

+-------------------+------------------+
|          eventname|            userid|
+-------------------+------------------+
|weCourseOpportunity|00QNo000003MYB2MAO|
|weCourseOpportunity|00QNo000003U1WrMAK|
|weCourseOpportunity|00QNo000003OWJsMAO|
|weCourseOpportunity|00QNo000003NPNQMA4|
|weCourseOpportunity|00Q8Y00001iDGJcUAO|
|weCourseOpportunity|00QNo00000373naMAA|
|weCourseOpportunity|00Q8Y00001i85Q5UAI|
|weCourseOpportunity|00QNo0000037EEWMA2|
|weCourseOpportunity|00QNo000003U2ylMAC|
|weCourseOpportunity|00QNo000003ThCxMAK|
+-------------------+------------------+
only showing top 10 rows

In [ ]:
data.dtypes

[('userId', 'string'),
 ('eventName', 'string'),
 ('eventTime', 'timestamp'),
 ('opportunityId', 'string'),
 ('leadId', 'string'),
 ('opportunityStage', 'string'),
 ('subDisposition', 'string'),
 ('isDummyOpportunity', 'boolean'),
 ('paymentUrl', 'string'),
 ('leadType', 'string'),
 ('courseCode', 'int'),
 ('courseType', 'string'),
 ('createdDate', 'timestamp'),
 ('lastModifiedDate', 'timestamp'),
 ('PSID', 'int'),
 ('courseName', 'string'),
 ('Stream', 'string'),
 ('classStudying', 'string'),
 ('classOpted', 'double'),
 ('Term', 'int'),
 ('schoolName', 'string'),
 ('schoolBoard', 'string'),
 ('Agging', 'int'),
 ('careerType', 'string'),
 ('Type', 'string'),
 ('Source', 'string'),
 ('opportunityScore', 'int'),
 ('opportunityProbability', 'string'),
 ('classTopper', 'boolean'),
 ('isMock', 'boolean'),
 ('branchCode', 'string'),
 ('leadScore', 'double'),
 ('isPrefferedSchool', 'boolean')]

In [ ]:
data.describe().show(10)

+-------+------------------+-------------------+------------------+------------------+------------------+---------------+----------+--------+-----------------+---------------+--------------------+--------------------+------+-------------+-----------------+-------------------+--------------------+------------+------------------+----------+----+--------------------+-----------------+----------------------+----------+------------------+
|summary|            userId|          eventName|     opportunityId|            leadId|  opportunityStage| subDisposition|paymentUrl|leadType|       courseCode|     courseType|                PSID|          courseName|Stream|classStudying|       classOpted|               Term|          schoolName| schoolBoard|            Agging|careerType|Type|              Source| opportunityScore|opportunityProbability|branchCode|         leadScore|
+-------+------------------+-------------------+------------------+------------------+------------------+---------------+----------+--------+-----------------+---------------+--------------------+--------------------+------+-------------+-----------------+-------------------+--------------------+------------+------------------+----------+----+--------------------+-----------------+----------------------+----------+------------------+
|  count|                50|                 50|                50|                50|                50|              7|         0|      50|               50|             50|                  49|                  50|    50|           50|               50|                 50|                  50|          39|                50|        50|   0|                   4|               27|                     0|        50|                38|
|   mean|              NULL|               NULL|              NULL|              NULL|              NULL|           NULL|      NULL|    NULL|         711140.7|           NULL|1.1333649040816326E7|                NULL|  NULL|         10.0|              9.9|            2425.06|                NULL|        NULL|             28.54|      NULL|NULL|                NULL|39.96296296296296|                  NULL|      NULL|1087.3157894736842|
| stddev|              NULL|               NULL|              NULL|              NULL|              NULL|           NULL|      NULL|    NULL|481.3858501604285|           NULL|  1791174.3802185915|                NULL|  NULL|         NULL|1.281739888923312|0.23989793748210625|                NULL|        NULL|19.361449178347016|      NULL|NULL|                NULL|8.911882653045451|                  NULL|      NULL|2381.9813363607577|
|    min|00Q8Y00001bXUNaUAO|weCourseOpportunity|006No000002jpJ5IAI|00Q8Y00001bXUNaUAO|Closed Opportunity|   In Follow Up|      NULL|  Normal|           711021|One Year Course|             5467201|Dummy Course For ...|   SOE|           10|              8.0|               2425|AJIT KARAM SINGH ...|        CBSE|                 0|       RCC|NULL|      Aakash website|                7|                  NULL|     012CH|               0.0|
|    max|00QNo000003ot7lMAA|weCourseOpportunity|006No000004dqB5IAI|00QNo000003ot7lMAA|           Engaged|Will enrol soon|      NULL|  Others|           713260|Two Year Course|            12471308|Two Year Integrat...|   SOM|          XII|             13.0|               2426|YASHWANT PUBLIC S...|State Boards|                71|       RCC|NULL|Already knew abou...|               59|                  NULL|     699DL|            9024.0|
+-------+------------------+-------------------+------------------+------------------+------------------+---------------+----------+--------+-----------------+---------------+--------------------+--------------------+------+-------------+-----------------+-------------------+--------------------+------------+------------------+----------+----+--------------------+-----------------+----------------------+----------+------------------+

In [ ]:
from pyspark.sql.functions import count
data.count()
result=data.groupBy('opportunitystage','stream','term','schoolboard').agg(count('*').alias('count')).orderBy('stream', reverse=True)
result.show()

+------------------+------+----+------------+-----+
|  opportunitystage|stream|term| schoolboard|count|
+------------------+------+----+------------+-----+
|           Engaged|   SOE|2426|        CBSE|    1|
|           Engaged|   SOE|2426|        ICSE|    1|
|           Engaged|   SOE|2425|        CBSE|    4|
|           Engaged|   SOE|2425|State Boards|    3|
|           Engaged|   SOF|2425|        ICSE|    4|
|           Engaged|   SOF|2425|State Boards|    2|
|           Engaged|   SOF|2425|        NULL|   11|
|           Engaged|   SOF|2425|        CBSE|   18|
|           Engaged|   SOM|2425|        CBSE|    2|
|Closed Opportunity|   SOM|2425|State Boards|    1|
|           Engaged|   SOM|2426|State Boards|    1|
|           Engaged|   SOM|2425|State Boards|    2|
+------------------+------+----+------------+-----+

In [ ]:
df=spark.read.csv('/content/niralaprac1.csv',header=True,inferSchema=True)
                                # this header=True part helps us to remove the column of the csv fie
                                #  this inferSchema =True helps us in identifying the datatype when we find the data type using printSchema function below
df.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [ ]:

df.head(3)

[Row(rno=1, name='AK', marks=78, rank=11),
 Row(rno=2, name='BK', marks=76, rank=12),
 Row(rno=3, name='CK', marks=56, rank=13)]

In [ ]:
df.printSchema()

root
 |-- rno: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- rank: integer (nullable = true)

In [ ]:
df.columns

['rno', 'name', 'marks', 'rank']

In [ ]:
df.select(["name","rno"]).show()
# upper can also be done this way
# df.select("name","rno").show()

+----+---+
|name|rno|
+----+---+
|  AK|  1|
|  BK|  2|
|  CK|  3|
|  DK|  4|
|  EK|  5|
+----+---+

In [ ]:
df.dtypes

[('rno', 'int'), ('name', 'string'), ('marks', 'int'), ('rank', 'int')]

In [ ]:
df.describe().show()

+-------+------------------+----+------------------+------------------+
|summary|               rno|name|             marks|              rank|
+-------+------------------+----+------------------+------------------+
|  count|                 5|   5|                 5|                 5|
|   mean|               3.0|null|              75.6|               9.4|
| stddev|1.5811388300841898|null|12.054044964243332|4.8270073544588685|
|    min|                 1|  AK|                56|                 1|
|    max|                 5|  EK|                89|                13|
+-------+------------------+----+------------------+------------------+

In [ ]:
# add column in dataframe
df1=df.withColumn('updated result',df['rank']+2)
df1.show()
df.show()

+---+----+-----+----+--------------+
|rno|name|marks|rank|updated result|
+---+----+-----+----+--------------+
|  1|  AK|   78|  11|            13|
|  2|  BK|   76|  12|            14|
|  3|  CK|   56|  13|            15|
|  4|  DK|   79|  10|            12|
|  5|  EK|   89|   1|             3|
+---+----+-----+----+--------------+

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [ ]:
# drop column
df1.drop('updated result').show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [ ]:
# rename column
df2=df.withColumnRenamed('name','Name')
df2.show()
df.show()

+---+----+-----+----+
|rno|Name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [ ]:
# drop row
df.na.drop().show()
# this will help in check if any null value in row is present and drop that row null

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [ ]:
# fill any misssing value
df.na.fill("missing value").show()
# this will fill any nullvalue with typed "missing value"
# we can also try using this in any prticular olun as well
# like this
# df.na.fill('missing value',['rno','name']).show()
# in this way it will implement only for these two coluns

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [ ]:
# filter operations
# marks>=76
df3=df.filter("marks>=76")
df3.show()
df4=df.filter("marks>76").select(["name",'rno'])
df4.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

+----+---+
|name|rno|
+----+---+
|  AK|  1|
|  DK|  4|
|  EK|  5|
+----+---+

In [ ]:
df4=df.filter((df['marks']<68) & (df["marks"]>50))
df4.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  3|  CK|   56|  13|
+---+----+-----+----+

In [ ]:
# group by
df.groupBy('name').mean().show()
df.groupBy('name').count().show()

+----+--------+----------+---------+
|name|avg(rno)|avg(marks)|avg(rank)|
+----+--------+----------+---------+
|  EK|     5.0|      89.0|      1.0|
|  CK|     3.0|      56.0|     13.0|
|  BK|     2.0|      76.0|     12.0|
|  AK|     1.0|      78.0|     11.0|
|  DK|     4.0|      79.0|     10.0|
+----+--------+----------+---------+

+----+-----+
|name|count|
+----+-----+
|  EK|    1|
|  CK|    1|
|  BK|    1|
|  AK|    1|
|  DK|    1|
+----+-----+

In [ ]:
df.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [ ]:
from pyspark.sql.functions import *
df2=df.select(concat_ws(" ",df.rno,df.name,df.marks,df.rank)
              .alias("Fulldetails"))
df2.show(truncate=False)

+-----------+
|Fulldetails|
+-----------+
|1 AK 78 11 |
|2 BK 76 12 |
|3 CK 56 13 |
|4 DK 79 10 |
|5 EK 89 1  |
+-----------+

In [ ]:
rdd=df2.rdd
print(rdd.collect())

# trying to implement map and flatmap function
# first we have to convert dataframe in rdd and then use map or flatmap function

[Row(Fulldetails='1 AK 78 11'), Row(Fulldetails='2 BK 76 12'), Row(Fulldetails='3 CK 56 13'), Row(Fulldetails='4 DK 79 10'), Row(Fulldetails='5 EK 89 1')]

In [ ]:
print(rdd.map(lambda x: x.Fulldetails))

PythonRDD[96] at RDD at PythonRDD.scala:53

In [ ]:
result = rdd.map(lambda x: x.Fulldetails).collect()

result

['1 AK 78 11', '2 BK 76 12', '3 CK 56 13', '4 DK 79 10', '5 EK 89 1']

In [ ]:
rdd1=spark.sparkContext.parallelize(result)
for element in rdd1.collect():
    print(element)

1 AK 78 11
2 BK 76 12
3 CK 56 13
4 DK 79 10
5 EK 89 1

In [ ]:
rdd2=rdd1.flatMap(lambda x: x.split(" "))
for element in rdd2.collect():
    print(element)

1
AK
78
11
2
BK
76
12
3
CK
56
13
4
DK
79
10
5
EK
89
1

In [ ]:
rdd2.count()

20

In [ ]:
type(rdd2)

pyspark.rdd.PipelinedRDD

In [ ]:
import pandas as pd

# Load the CSV files into DataFrames
df1 = pd.read_csv('/content/1b0ea1a4-ebec-4e12-b17f-e0c5773955ed.csv')
df2 = pd.read_csv('/content/d231771d-9977-41d2-a610-aef5976115e4 (1).csv')

# Merge the DataFrames to find the differences
# Left join: Keep all rows from df1 and find matches in df2
df_merged = pd.merge(df1, df2, on='id', how='left', indicator=True)

# Filter the rows that are only in the first DataFrame
# '_merge' column will show 'left_only' for rows only in df1
df_diff = df_merged[df_merged['_merge'] == 'left_only']

# Drop the extra '_merge' column
df_diff = df_diff.drop(columns=['_merge'])

# Save the result to a new CSV file (optional)
df_diff.to_csv('difference.csv', index=False)

print("Records present in the first CSV but not in the second:")
print(df_diff)

<ipython-input-1-23e812390ac0>:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/content/1b0ea1a4-ebec-4e12-b17f-e0c5773955ed.csv')
<ipython-input-1-23e812390ac0>:5: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/content/d231771d-9977-41d2-a610-aef5976115e4 (1).csv')

Records present in the first CSV but not in the second:
                         id aesl_psid__c_x  aesl_primary_mobile_number__c_x  \
1        a2RNo000007GNEMMA4            NaN                       7073435767
13       a2RNo000006tJoCMAU            NaN                       7980741198
16       a2RNo000007aTPGMA2            NaN                       9284735162
17       a2RNo000007aSmYMAU            NaN                       9603295686
21       a2RNo000007ajFVMAY            NaN                       7978371251
...                     ...            ...                              ...
1383202  a2RNo000009BLVOMA4            NaN                       9969083425
1383203  a2RNo000009BQrfMAG            NaN                       9391690783
1383204  a2RNo000009BH2FMAW            NaN                       9868956192
1383205  a2RNo000009BKmIMAW            NaN                       7999587200
1383206  a2RNo000009BC0mMAG     14410642.0                       9897070989

        aesl_psid__c_y  aesl_primary_mobile_number__c_y
1                  NaN                              NaN
13                 NaN                              NaN
16                 NaN                              NaN
17                 NaN                              NaN
21                 NaN                              NaN
...                ...                              ...
1383202            NaN                              NaN
1383203            NaN                              NaN
1383204            NaN                              NaN
1383205            NaN                              NaN
1383206            NaN                              NaN

[287499 rows x 5 columns]

In [ ]:
!pip install netCDF4

Collecting netCDF4
  Downloading netCDF4-1.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.8 kB)
Collecting cftime (from netCDF4)
  Downloading cftime-1.6.4.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.7 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from netCDF4) (2024.8.30)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from netCDF4) (1.26.4)
Downloading netCDF4-1.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 39.9 MB/s eta 0:00:00
Downloading cftime-1.6.4.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 45.4 MB/s eta 0:00:00
Installing collected packages: cftime, netCDF4
Successfully installed cftime-1.6.4.post1 netCDF4-1.7.2

In [ ]:
from netCDF4 import Dataset
import numpy as np

# File name for the output NetCDF file
output_filename = "sample_data.nc"

# Create a new NetCDF file
with Dataset(output_filename, "w", format="NETCDF4") as nc_file:
    # Create dimensions
    time_dim = nc_file.createDimension("time", None)  # Unlimited dimension
    lat_dim = nc_file.createDimension("lat", 50)
    lon_dim = nc_file.createDimension("lon", 50)

    # Create variables
    times = nc_file.createVariable("time", "f8", ("time",))
    latitudes = nc_file.createVariable("latitude", "f4", ("lat",))
    longitudes = nc_file.createVariable("longitude", "f4", ("lon",))
    temperature = nc_file.createVariable("temperature", "f4", ("time", "lat", "lon"))

    # Add attributes
    nc_file.description = "Sample NetCDF file for temperature data"
    times.units = "hours since 0001-01-01 00:00:00.0"
    times.calendar = "gregorian"
    latitudes.units = "degrees north"
    longitudes.units = "degrees east"
    temperature.units = "K"
    temperature.long_name = "Surface temperature"

    # Populate dimensions
    latitudes[:] = np.linspace(-90, 90, 50)
    longitudes[:] = np.linspace(-180, 180, 50)
    times[:] = np.arange(0, 10)  # 10 time points

    # Populate the temperature variable with random data
    temperature[:, :, :] = np.random.uniform(250, 300, (10, 50, 50))  # 10 time points of 50x50 grid

print(f"Sample NetCDF file '{output_filename}' created successfully.")

Sample NetCDF file 'sample_data.nc' created successfully.

In [ ]:
import shutil
import os

# Specify the package directory and zip file name
package_dir = "c:\\users\\a15921\\appdata\\local\\packages\\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\\localcache\\local-packages\\python310\\site-packages"
output_zip_file = "netCDF4_package.zip"

# Change to the package directory
os.chdir(package_dir)

# Create a zip file with netCDF4 and its dependencies
shutil.make_archive("netCDF4_package", "zip", package_dir, "netCDF4")
print(f"Created zip file: {output_zip_file}")

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\a15921\\appdata\\local\\packages\\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\\localcache\\local-packages\\python310\\site-packages'

In [1]:
# prompt: read csv file and convert to parquet

# Assuming your CSV file is named 'your_file.csv'
df = spark.read.csv('/content/CSAT_Feedback.csv', header=True, inferSchema=True)

# Convert the Spark DataFrame to a Pandas DataFrame
pandas_df = df.toPandas()

# Write the Pandas DataFrame to a Parquet file
pandas_df.to_parquet('CSAT_Feedback.parquet')

NameError: name 'spark' is not defined

In [1]:
!pip install pyspark
import pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("practice spark").getOrCreate()

In [5]:
df = spark.read.parquet('/content/material_master_stock.parquet')

# Convert the Spark DataFrame to a Pandas DataFrame
pandas_df = df.toPandas()
cnt=pandas_df.count()
print(cnt)

# Write the Pandas DataFrame to a Parquet file
pandas_df.to_csv('material_master_stock_csv_sheck.csv')

Material                          706
Material_Description              662
Package                           628
Language                          628
Class                             628
MultipleClass                      49
Course_Attribute                  628
Course_Attribute_Description      597
Material_Dicontinued_Continued     31
dtype: int64

In [9]:
# Assuming your CSV file is named 'your_file.csv'
df = spark.read.csv('/content/Web Engage - Sheet1 (2).csv', header=True, inferSchema=True)

# Convert the Spark DataFrame to a Pandas DataFrame
pandas_df = df.toPandas()
cnt=pandas_df.count()
print(cnt)

# Write the Pandas DataFrame to a Parquet file
pandas_df.to_parquet('material_master_stock_v1.parquet')

Material                          667
Material_Description              667
Package                           667
Language                          667
Course_Attribute                  667
Course_AttributeDescription       667
Material_Dicontinued_Continued     37
dtype: int64

Researcher named Aman

Aman has published 5 research papers

arr = []

Each index in the arr represents a research paper

Each value represents the number of citations for that paper

arr = [5,3,1,2,4]
			 0,1,2,3,4

X-Factor of Aman

X-Factor = (Maximum value of 'x') where x number of papers have been cited at least x times.

arr = [5,3,1,2,4]
			 0,x,x,x,4

x = 1

5 papers have been cited at least 1 time > 1 paper has been cited at least 1 time

x = 2

4 papers have been cited at least 2 times > 2 papers has been cited at least 2 times


x = 3

3 papers have been cited at least 3 times


x = 4

2 papers have been cited at least 4 times XXX

X-Factor = 3


WAF which takes the arr of citations as an input and returns the X-Factor:

arr = [5,3,1,2,4]
i=5
arr1=[1,1,1,1,1]

x_factor=0
s_factor=0
def citation(Arr):
    for i in range(0,len(Arr)):
        for j in range(0,len(Arr)):
            if arr[j]>= i:
            s_factor+=1
        if s_factor >= i:
            x_factor=i+1


    return x_factor

In [8]:
def calculate_x_factor(citations):
    # Sort the array in descending order
    citations.sort(reverse=True)

    # Calculate the X-Factor
    x_factor = 0
    for i, citation in enumerate(citations):
        if citation >= i + 1:
            x_factor = i + 1
        else:
            break

    return x_factor

# Example usage
arr = [5, 3, 1, 2, 4]
# [1,1,1,1,1]
x_factor = calculate_x_factor(arr)
print("X-Factor:", x_factor)

X-Factor: 3

In [20]:
Arr = [5,3,1,2,4]
# arr1=[1,1,1,1,1]

def citation(Arr):
    x_factor=0
    # s_factor=0
    for i in range(0,len(Arr)):
        s_factor=0
        for j in range(0,len(Arr)):
            if Arr[j]>= i:
                s_factor+=1
        if s_factor >= i:
            x_factor=i


    return x_factor
Arr = [5,3,1,2,4]
print(citation(Arr))

3

In [2]:
from datetime import timedelta,datetime
yesterday = datetime.now()+ timedelta(days=-101)
yes_dt=yesterday.strftime('%Y-%m-%d')

years=yesterday.strftime('%Y')
months=yesterday.strftime('%m')
days=yesterday.strftime('%d')
print(years)
print(months)
print(days)
print("done")

2024
10
01
done

In [2]:
index = "student-comment-prod-0-07-2023"
ip= "student-comment-prod-"
l=[0,1,2,3,4]
# month_list=[1,2,3,4,5,6,7,8,9,10,11,12]
for i in l:
    print(ip+str(i)+"-"+"*")

student-comment-prod-0-*
student-comment-prod-1-*
student-comment-prod-2-*
student-comment-prod-3-*
student-comment-prod-4-*

In [4]:
df=spark.sql("""select  date_sub(CAST(current_timestamp() as DATE),104)
, date_sub(CAST(current_timestamp() as DATE), 70) """)
df.show()

+------------------------------------------------+-----------------------------------------------+
|date_sub(CAST(current_timestamp() AS DATE), 104)|date_sub(CAST(current_timestamp() AS DATE), 70)|
+------------------------------------------------+-----------------------------------------------+
|                                      2024-10-01|                                     2024-11-04|
+------------------------------------------------+-----------------------------------------------+

In [33]:
from datetime import timedelta, date
i=0
j=101
for x in range(j+1):
    if i>40:
        break
    else:
        y = 0
        y = j - i;
        i = i+1
        Date_req = date.today() - timedelta(days=y)
        Dated=Date_req.strftime("Timetable_YEAR=%-Y/Timetable_MONTH=%-m/Timetable_DAY=%-d")
        print("Range",x, "Second Date", Dated)
        # print(i,y)

Range 0 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=1
Range 1 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=2
Range 2 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=3
Range 3 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=4
Range 4 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=5
Range 5 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=6
Range 6 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=7
Range 7 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=8
Range 8 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=9
Range 9 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=10
Range 10 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=11
Range 11 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=12
Range 12 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=13
Range 13 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=14
Range 14 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=15
Range 15 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=16
Range 16 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=17
Range 17 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=18
Range 18 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=19
Range 19 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=20
Range 20 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=21
Range 21 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=22
Range 22 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=23
Range 23 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=24
Range 24 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=25
Range 25 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=26
Range 26 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=27
Range 27 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=28
Range 28 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=29
Range 29 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=30
Range 30 Second Date Timetable_YEAR=2024/Timetable_MONTH=10/Timetable_DAY=31
Range 31 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=1
Range 32 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=2
Range 33 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=3
Range 34 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=4
Range 35 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=5
Range 36 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=6
Range 37 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=7
Range 38 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=8
Range 39 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=9
Range 40 Second Date Timetable_YEAR=2024/Timetable_MONTH=11/Timetable_DAY=10