<a href="https://colab.research.google.com/github/niralakumar/practice/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

List_Of_employees=[]

for i in data:
    sub_dept=''
    if i ['EMPLOYEE']['sub_department'] is None:
        sub_dept=''

    else:
        print("2")
        print(i ['EMPLOYEE']['sub_department'])
        print(type(i ['EMPLOYEE']['sub_department']))
        sub_dept=str(i ['EMPLOYEE']['sub_department'])





    List_Of_employees.append([i ['EMPLOYEE']['full_name'],i ['EMPLOYEE']['employee_id'],i ['EMPLOYEE']['date_of_joining'],i ['EMPLOYEE']['date_of_birth'],i ['EMPLOYEE']['phone'],i ['EMPLOYEE']['location_custom'],i ['EMPLOYEE']['gender'],i ['EMPLOYEE']['grade'],i ['EMPLOYEE']['designation'],i ['EMPLOYEE']['email_address'],i ['EMPLOYEE']['band_name'],i ['EMPLOYEE']['region'],i ['EMPLOYEE']['city'],i ['EMPLOYEE']['state'],i ['EMPLOYEE']['country'],i ['EMPLOYEE']['division'],i ['EMPLOYEE']['job_location'],i ['EMPLOYEE']['work_location_code'],i ['EMPLOYEE']['cost_name'],i ['EMPLOYEE']['role_name'],i ['EMPLOYEE']['employee_class'],i ['EMPLOYEE']['branch_name'],i ['EMPLOYEE']['department'],sub_dept,i ['EMPLOYEE']['business_unit'],i ['EMPLOYEE']['sub_business_unit'],i ['EMPLOYEE']['status'],i ['EMPLOYEE']['supervisor_code'],i ['EMPLOYEE']['supervisor_name'],i ['EMPLOYEE']['supervisor_email_address'],i ['EMPLOYEE']['functional_manager_code'],i ['EMPLOYEE']['functional_manager_name'],i ['EMPLOYEE']['functional_manager_email_address'],i ['EMPLOYEE']['last_transaction_date'],i ['EMPLOYEE']['last_working_day']])

NameError: name 'data' is not defined

In [ ]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("try spark").getOrCreate()
# df=spark.read.csv('/content/origfile.csv',header=True,inferSchema=True)

In [ ]:
from datetime import timedelta,datetime
today = datetime.now()+ timedelta(days=-3)
DateFormat= today.strftime('%Y%m')
print(DateFormat)

df=spark.sql("""select * from (select current_date,'astp'as tp union all select current_date,'bstp' as tp) where 1=0""")
print(df)
df.show()
dfc=df.count()
print(dfc)
df1=df.isEmpty()
print(df1)
print(df.head(2))
df.rdd.isEmpty()
print(len(df.head(2)))

In [ ]:
# Base URL-->Admitcard | Scholarships Exam
# Append token using below logic
# token= <RollNo>+'###'+<DOB>
# Blob beforeblob = Blob.valueOf(token);
# String tokenId = EncodingUtil.base64Encode(beforeblob);
# https://anthe.aakash.ac.in/exam/admitcard?token=+tokenId;

import base64

sample_string = "GeeksForGeeks is the best"
sample_string_bytes = sample_string.encode("ascii")
print(sample_string_bytes)

In [ ]:
# Function to find minimum and maximum elements in an array
def find_min_max(arr):
    if not arr:
        return None, None  # If the array is empty, return None for both min and max

    # Initialize min and max with the first element of the array
    min_element = max_element = arr[0]

    # Iterate through the array to find the minimum and maximum elements
    for element in arr:
        if element < min_element:
            min_element = element
        elif element > max_element:
            max_element = element

    return min_element, max_element

# Input: Take space-separated integers as input and convert them into a list
try:
    input_array = list(map(int, input("Enter elements of the array separated by space: ").split()))
except ValueError:
    print("Invalid input. Please enter integers separated by space.")
    exit()

# Find and print the minimum and maximum elements
min_val, max_val = find_min_max(input_array)

if min_val is not None and max_val is not None:
    print("Minimum element:", min_val)
    print("Maximum element:", max_val)
else:
    print("Array is empty.")

In [ ]:
s=input().split()
s_arr=s.split()
print(s_arr)

In [ ]:
from datetime import datetime

# Get the current date
current_date = datetime.now()

# Extract year, month, and day components
year = current_date.year
month = current_date.month
day = current_date.day

# Format the date as YYYYMD (without leading zeros in the month and day)
formatted_date = f"{year}{month}{day}"

# Print the formatted date
print(formatted_date)

In [ ]:
from datetime import datetime

# Get the current date
current_date = datetime.now()

# Extract year, month, and day components
year = current_date.year
month = current_date.month
day = current_date.day

# Format the date as YYYYMDD (without leading zero in the month)
formatted_date = f"{year}{month}{day:02}"

# Print the formatted date
print(formatted_date)

In [ ]:
from datetime import datetime

# Get the current date
current_date = datetime.now()

# Format the date as YYYYMDD (without leading zero in the month)
formatted_date = current_date.strftime("%Y%m%d").lstrip("0")

# Print the formatted date
print(formatted_date)

In [ ]:
s='pserp-full-load-tables-for-derived-tables-psquery-daily/SYSADM/PS_AES_CROFR_AUDIT_VW/LOAD00000001.parquet'
# print("objectkey",object_key)
b=s.find('/',s.find('/')+1)
print(b)

f=s.find('/',b)
print(f)
File_name_wo_path=s[f+1:]
print(File_name_wo_path)
# obj = s3.Object(source_bucket, object_key)
# current_date = datetime.now().date()
# year_=str(current_date.year)
# month_=str(current_date.month)
# day_=str(current_date.day)
# if 'result' in object_key.lower():
#     f=object_key.find('/',b+1)
#     print(f)
#     File_name_wo_path=object_key[f+1:]
#     destination_key="Migrated_Data/SOE_version_2/results/"+year_+'/'+month_+'/'+day_+'/'+File_name_wo_path

In [ ]:
a="ansdj"
if a=="ansdj":
  print("te")

In [ ]:
from datetime import datetime,date
from datetime import timedelta
from datetime import *
i = 0
j= 111
for x in range(j+1):
    if i>111:
        break
    else:
        y = 0
        y = j - i;
        Date_req = date.today() - timedelta(days=y)
        Dated=Date_req.strftime("%-Y/%-m/Day=%-d")
        Datedy=Date_req.strftime("%Y")
        # print(Datedy)
        Datedm=Date_req.strftime("%m")
        # print(Datedm)
        Datedd=Date_req.strftime("%d")
        # print(Datedd)
        # print("Range",x, "Second Date", Dated)
        i = i+1
# y = j - i
# Date_req = date.today() - timedelta(days=y)
# print(Date_req)

In [ ]:
import pandas as pd

# create some data
data = {'Name': ['John', 'Emma', 'Brad', 'Susan'],
        'Age': [25, 30, 28, 35],
        'Gender': ['M', 'F', 'M', 'F']}

# create the dataframe
df = pd.DataFrame(data)

# create a new column using an expression
df = df.assign(AgePlusTen=df['Age'] + 10).assign(AgePlusTens=df['Age'] + 10)

# print the dataframe
print(df)

In [ ]:
import pandas as pd

# create some data
data = {'Name': ['John', 'Emma', 'Brad', 'Susan'],
        'Gender': ['M', 'F', 'M', 'F'],
        'Age': [25, 30, 28, 35],
        'Salary': [50000, 60000, 55000, 70000]}

# create the dataframe
df = pd.DataFrame(data)

# group the dataframe by Gender
grouped = df.groupby('Gender')

# calculate the average salary for each gender
result = grouped['Salary'].mean()

# print the result
print(result)

In [ ]:
# !pip install pyspark

import pandas as pd
from pandas import json_normalize
import json
import sys
from json import loads
import requests
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,expr

import sys



from pyspark.sql.functions import md5, concat_ws, col, udf, lit, coalesce, to_timestamp, trim
from pyspark.sql.types import StringType
from pyspark.sql.functions import col,expr


from datetime import datetime, timedelta
today1=datetime.now() + timedelta(days=-121)
# today1=datetime.now() + timedelta(days=-3)
years1=today1.strftime('%Y')
months1=today1.strftime('%m')
days_12=today1.strftime('%d')
todays_date=today1.strftime('%Y-%m-%d')
print(todays_date)

In [ ]:
from collections import ChainMap
fruit_colour_mapping = [{'apple': 'red'}, {'banana': 'yellow'}]
final_map = ChainMap(*fruit_colour_mapping)


# print key value pairs:
for element in final_map.items():
    print(element)

# change a value:
final_map['banana'] = 'green'    # supermarkets these days....

# access by key:
print(final_map['banana'])

In [ ]:
l=[
   {
      "Arn":"arn:aws:quicksight:ap-south-1:910393621111:group/default/testgroup",
      "GroupName":"testgroup",
      "PrincipalId":"group/d-9f673c79a6/b472b0dd-92f6-4dad-a02d-e4ef636594c8"
   },
   {
      "Arn":"arn:aws:quicksight:ap-south-1:910393621111:group/default/AI_FR_MANAGER",
      "GroupName":"AI_FR_MANAGER",
      "Description":"AI_FR_MANAGER",
      "PrincipalId":"group/d-9f673c79a6/d0bb9d3d-865c-4cb2-b2b9-3ccc67f8de83"
   },
   {
      "Arn":"arn:aws:quicksight:ap-south-1:910393621111:group/default/AES_SF_DATA_CONVERSION",
      "GroupName":"AES_SF_DATA_CONVERSION",
      "Description":"AES_SF_DATA_CONVERSION",
      "PrincipalId":"group/d-9f673c79a6/c2f44225-4166-471b-8c6d-6061f5f7e5dc"
   },
   {
      "Arn":"arn:aws:quicksight:ap-south-1:910393621111:group/default/Job_Requisition_Authorizor",
      "GroupName":"Job_Requisition_Authorizor",
      "Description":"Job_Requisition_Authorizor",
      "PrincipalId":"group/d-9f673c79a6/9a879c53-9c9d-4eef-bd15-c1e1a7a2e438"
   },
   {
      "Arn":"arn:aws:quicksight:ap-south-1:910393621111:group/default/AI_BR_VIRTUAL_CLASS",
      "GroupName":"AI_BR_VIRTUAL_CLASS",
      "Description":"AI_BR_VIRTUAL_CLASS",
      "PrincipalId":"group/d-9f673c79a6/cc703591-a7f4-4382-bb5e-e1849779d2f2"
   }

]

In [ ]:
group_names = [item["GroupName"] for item in l]
print(group_names)

In [ ]:
a = [('tore',)]
b= ''.join([x[0] for x in a])
print(b)
rs=[x[0] for x in a]
print(rs)
values = ''.join(map(str, rs))
print(values)
# rs_str= ''.join([x[0] for x in rs])
# values=rs_str
# values = ''.join(map(str, rs))

In [ ]:
from datetime import datetime,timedelta
today = datetime.datetime.now()+ timedelta(days=-1)
DateFormat= today.strftime('%Y%m%d')
print(DateFormat)

In [ ]:
cast(dt as date) BETWEEN date_sub(CAST(current_timestamp() as DATE), 1) AND date_sub(CAST(current_timestamp() as DATE), 0)

In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Initialize Spark session
spark = SparkSession.builder.appName("MedianSalary").getOrCreate()

# Sample data
data = [
    ("John", 50000),
    ("Jane", 60000),
    ("Doe", 55000),
    ("Dp", 56000),
    ("Smith", 52000),
    ("Eve", 58000)
]

# Create DataFrame
columns = ["employee_name", "salary"]
df = spark.createDataFrame(data, columns)

# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("employees")

# Calculate the median salary using SQL
# First, we need to get the count of salaries to determine if we need to take the average of two middle values
query_median = """
WITH salary_ranked AS (
    SELECT salary, ROW_NUMBER() OVER (ORDER BY salary) AS row_num, COUNT(*) OVER () AS total_rows
    FROM employees
)
SELECT
    AVG(salary) AS median_salary
FROM
    salary_ranked
WHERE
    row_num IN (FLOOR((total_rows + 1) / 2), CEIL((total_rows + 1) / 2))
"""


median_salary_df = spark.sql(query_median)
median_salary_df.show()
median_salary = median_salary_df.collect()[0]['median_salary']

# Use SQL to find the employee with the closest salary to the median salary, but not the median salary
query_closest = f"""
WITH filtered_employees AS (
    SELECT
        employee_name,
        salary,
        ABS(salary - {median_salary}) AS abs_diff
    FROM
        employees
    WHERE
        salary != {median_salary}
)
SELECT
    employee_name,
    salary,
    abs_diff
FROM
    filtered_employees
ORDER BY
    abs_diff
LIMIT 1
"""

closest_employee_df = spark.sql(query_closest)

# Display the median salary and the closest employee's details
print(f"Median Salary: {median_salary}")
closest_employee_df.show()